.root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  position: relative;
  padding: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-pyhDq7s0RTkz);
  flex-shrink: 0;
}
