.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___2Znrw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox__qbIrE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__arxrP {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.titleInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__pXwue {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.text__xX7D {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.textAreaInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__g3Myx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___7T0Su {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.category:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__q6JLg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__jq9Pr {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.subcategory:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ig0Dw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.tags:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
