.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-xf2ijuTrDk1U);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.rootsize_mini {
  column-gap: var(--token-73iLa06AE6f4);
  row-gap: 0px;
}
.rootdirection_v {
  display: flex;
  flex-direction: column;
  row-gap: var(--token-xf2ijuTrDk1U);
  column-gap: 0px;
}
.radioGrop__qsSpa:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
  width: auto;
  min-width: 100px;
}
.radioGropunnamedVariant__qsSpaVhiXl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.radioGropsize_small__qsSpaXxnUq:global(.__wab_instance) {
  height: 40px;
}
.radioGropsize_mini__qsSpaaFLao:global(.__wab_instance) {
  height: 35px;
  min-width: auto;
  width: auto;
}
.radioGropsize_textSize__qsSpaV4BiM:global(.__wab_instance) {
  width: auto;
  min-width: auto;
  height: auto;
}
.radioGropmoulty__qsSpa1Aqss:global(.__wab_instance) {
  display: none;
}
.radioGropicon__qsSpayxCwF:global(.__wab_instance) {
  height: 100px;
  width: 150px;
  flex-shrink: 0;
}
.radioGropdirection_v__qsSpaSm30S:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBoxsize_textSize {
  width: auto;
  padding-right: var(--token-73iLa06AE6f4);
  padding-left: var(--token-73iLa06AE6f4);
}
.text__kmQZi {
  font-weight: 500;
}
.textsize_small__kmQZiXxnUq {
  font-size: 14px;
}
.textsize_mini__kmQZiaFLao {
  font-size: 14px;
}
.textsize_textSize__kmQZiV4BiM {
  font-size: 14px;
}
.text__zx1K1 {
  font-weight: 500;
  color: var(--token-clkRsHVdZgT8);
  font-size: var(--token-w-4Gcj0_UzPS);
  padding-top: var(--token-rfsFxiclAtek);
}
.textsize_small__zx1K1XxnUq {
  font-size: 14px;
}
.textsize_mini__zx1K1AFLao {
  font-size: 14px;
}
.menuIcon:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: var(--token-73iLa06AE6f4);
  display: none;
}
.menuIconicon:global(.__wab_instance) {
  display: block;
}
.radioGrop___6Rr5G:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
  width: auto;
  min-width: 100px;
}
.radioGropunnamedVariant___6Rr5GVhiXl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.radioGropsize_small___6Rr5GXxnUq:global(.__wab_instance) {
  height: 40px;
}
.radioGropsize_mini___6Rr5GaFLao:global(.__wab_instance) {
  height: 40px;
}
.radioGropmoulty___6Rr5G1Aqss:global(.__wab_instance) {
  display: flex;
}
.text___4HHhu {
  font-weight: 500;
}
.textsize_small___4HHhuXxnUq {
  font-size: 14px;
}
.textsize_mini___4HHhuaFLao {
  font-size: 14px;
}
.svg__wDHzS {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
