.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  align-self: flex-start;
  width: auto;
}
.button___0CdNy:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.svg__nAaJb {
  position: relative;
  height: 1em;
}
.svg__kshEw {
  position: relative;
  height: 1em;
}
.freeBox__qdasi {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.freeBox__oyd1 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Ws0-_dtROA6x);
  border-radius: var(--token--_xqF59Qmd-S);
  padding: var(--token-cfon0PHiXQoL);
}
.svg__tbsj3 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 45px;
  height: 45px;
  flex-shrink: 0;
}
.text___37XeZ {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 700;
  font-size: var(--token-Tca_MqWoqq_b);
  min-width: 0;
}
.text__biViZ {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-N8Pb0ZuDQAeF);
  color: var(--token-KjATzAYJ5IB7);
  text-align: right;
  min-width: 0;
}
.freeBox__xQk7U {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 40px;
  min-width: 0;
}
.svg__tcWn {
  position: relative;
  height: 1em;
}
.text__adG {
  animation: none;
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__qgNW {
  position: relative;
  height: 1em;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 40px;
  min-width: 0;
}
.svg__n82SE {
  position: relative;
  height: 1em;
}
.text__sUXcX {
  animation: none;
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__cbMYz {
  position: relative;
  height: 1em;
}
.freeBox__xzCvt {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  align-items: center;
  column-gap: var(--token-CVjaMVgIQl_G);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
.svg__l4HHx {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-CVjaMVgIQl_G);
  height: var(--token-CVjaMVgIQl_G);
  color: var(--token-ccqYe7dhXoNZ);
  flex-shrink: 0;
}
.svg__kgj09 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-CVjaMVgIQl_G);
  height: var(--token-CVjaMVgIQl_G);
  color: var(--token-ccqYe7dhXoNZ);
  flex-shrink: 0;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zJvMl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-pyhDq7s0RTkz);
  border-radius: 100px;
  padding: var(--token-RuQNZpYm0Yds);
  border: 1px solid var(--token-kzT08fQBAHgz);
}
.svg__nPyev {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-CVjaMVgIQl_G);
  height: var(--token-CVjaMVgIQl_G);
  color: var(--token-fr7DwvJwRjZb);
  flex-shrink: 0;
}
.freeBox__zGv7U {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-73iLa06AE6f4);
  padding: var(--token-cfon0PHiXQoL);
}
.freeBox__wdPjl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-cfon0PHiXQoL);
  padding: 0px;
}
.svg__kbMHm {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-ccqYe7dhXoNZ);
  flex-shrink: 0;
}
.text__lNrBl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ccqYe7dhXoNZ);
  font-weight: 600;
  font-size: var(--token-N8Pb0ZuDQAeF);
  text-align: right;
  min-width: 0;
}
.freeBox__jFh7V {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-cfon0PHiXQoL);
  padding: 0px;
}
.svg__lt1F4 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-sdHWFpeV8MAu);
  flex-shrink: 0;
}
.text__lMfuq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-sdHWFpeV8MAu);
  font-weight: 600;
  font-size: var(--token-N8Pb0ZuDQAeF);
  text-align: right;
  min-width: 0;
}
