.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 80px var(--token-73iLa06AE6f4) 0px 0px;
}
.freeBox___1IoT5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px var(--token-73iLa06AE6f4);
}
.freeBox__t8MpG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  flex-shrink: 0;
  padding: 0px;
}
.select2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.menuItem__pqkey:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.menuSection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__mqGoz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  align-self: stretch;
  padding: 0px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__no9B {
  position: relative;
  height: 1em;
}
.text___1IiD5 {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__olK5Z {
  position: relative;
  width: var(--token-zOTmRNiLzxBx);
  height: var(--token-zOTmRNiLzxBx);
  color: var(--token-W0eejbtvb0xw);
}
.freeBox__a8U8E {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  display: none;
  padding: 0px;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.menuSection__guJkn:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__oq066 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nmu4Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.freeBox__fwceu {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  border-top-left-radius: var(--token-73iLa06AE6f4);
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__w9Ow6 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  display: none;
  padding: 0px;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__pX9S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 15%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  padding: 0px;
}
.select3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.menuSection__d0BNx:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__xwv9H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 16px;
}
.centers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__r4K5X {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__bO4Gl {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-h2xt7bB598yU);
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  display: none;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-rfsFxiclAtek);
}
.freeBox__zjPa4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__gjKBp {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
}
.freeBox__tiXDl {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__n58Or {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-rfsFxiclAtek);
}
.freeBox__n12KJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__kNhzj {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
}
.freeBox___6E0C0 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  column-gap: var(--token-TONjX_YbO9_T);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.svg___2Ngbq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  color: var(--token-ehVEIAjb9HeO);
  flex-shrink: 0;
}
