.root {
  background: var(--token-Es3BYpS8XP38);
  display: inline-flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  outline-width: 0px;
  justify-self: flex-start;
  column-gap: var(--token-cfon0PHiXQoL);
  min-height: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-RuQNZpYm0Yds) var(--token-cfon0PHiXQoL);
  border: 2px solid var(--token-A-PNbaadkZKd);
}
.rootselect {
  background: var(--token-ee2TuxDknsJj);
  border-width: 2px;
  border-color: var(--token--ieHgGbFH1Fa);
}
.rootligtht {
  background: var(--token-DbGdjBpQ6R_X);
  border-width: 1px;
  border-color: var(--token-C6B6ZAuqICKE);
}
.svg__i8N6S {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-A-PNbaadkZKd);
  height: 1em;
}
.freeBox__yqJ9K {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2px;
  min-width: 0;
  padding: 0px;
}
.freeBoxshowMore__yqJ9KADhI7 {
  padding: 0px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 400;
  font-size: var(--token-w-4Gcj0_UzPS);
  line-height: 1;
  white-space: pre;
  min-width: 0;
}
.textselect {
  color: var(--token-A-PNbaadkZKd);
}
.textligtht {
  color: var(--token-9M5jRUPt8Msb);
}
.textshowMore {
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.freeBox___3ODb0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 2px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot2 {
  font-size: var(--token-w-4Gcj0_UzPS);
  font-weight: 400;
  color: var(--token-9M5jRUPt8Msb);
  text-align: center;
  line-height: 1;
  white-space: pre;
}
.slotTargetSlot2select {
  color: var(--token-A-PNbaadkZKd);
}
.slotTargetSlot2ligtht {
  color: var(--token-9M5jRUPt8Msb);
}
.svg__uCmud {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
  color: var(--token-A-PNbaadkZKd);
  flex-shrink: 0;
}
