.root {
  background: var(--token-KPGXdu9o7llP);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-eRNxHqcEHlFY);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-CVjaMVgIQl_G) var(--token-kD77h-2NGSqI)
    var(--token-73iLa06AE6f4);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootpage_loading > * {
  grid-column: 4;
}
.rootpage_mobile > * {
  grid-column: 4;
}
.rootpage_code > * {
  grid-column: 4;
}
.rootpage_name > * {
  grid-column: 4;
}
.freeBox__nagjF {
  animation: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: 60%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/website_starter/images/image2.svg") 0% 0% / contain repeat;
  opacity: 0.05;
  left: 0;
  top: 0;
  row-gap: var(--token-rfsFxiclAtek);
  z-index: 1;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  padding: var(--token-rfsFxiclAtek) var(--token-73iLa06AE6f4)
    var(--token-73iLa06AE6f4);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nagjF {
    animation: none;
  }
}
.freeBoxpage_mobile__nagjFmKfXs {
  position: fixed;
  left: 0px;
  top: 0px;
  width: auto;
  opacity: 0.1;
  z-index: 0;
}
.freeBoxpage_code__nagjFohvpc {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  opacity: 0.1;
}
.freeBoxpage_name__nagjFaq9MH {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  opacity: 0.1;
}
.loading {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  background: var(--token--ieHgGbFH1Fa);
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
  padding: var(--token-xsiin-peP6fP) 0px 0px;
}
.loadingpage_mobile {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  row-gap: var(--token-73iLa06AE6f4);
  column-gap: 0px;
}
.loadingpage_code {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  row-gap: var(--token-73iLa06AE6f4);
  column-gap: 0px;
}
.loadingpage_name {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  row-gap: var(--token-73iLa06AE6f4);
  column-gap: 0px;
}
.freeBox__pRd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-kD77h-2NGSqI);
  min-width: 0;
  padding: 0px;
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    animation: none;
    width: 150px;
  }
}
.freeBox__yXneK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBoxpage_mobile__yXneKmKfXs {
  display: none;
}
.freeBoxpage_code__yXneKohvpc {
  display: none;
}
.freeBoxpage_name__yXneKaq9MH {
  display: none;
}
.text__co9R6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 600;
  min-width: 0;
}
.textpage_mobile__co9R6MKfXs {
  display: none;
}
.text__lpPu2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-hbNq_Oz393_j);
  min-width: 0;
}
.textpage_mobile__lpPu2MKfXs {
  display: none;
}
.textpage_code__lpPu2Ohvpc {
  display: none;
}
.textpage_name__lpPu2Aq9MH {
  display: none;
}
.svg__nfxVa {
  object-fit: cover;
  max-width: 100%;
  color: #cfff8d;
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}
.svgpage_mobile__nfxVAmKfXs {
  display: none;
}
.svgpage_code__nfxVaohvpc {
  display: none;
}
.svgpage_name__nfxVAaq9MH {
  display: none;
}
.freeBox__iDwk {
  animation: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: 60%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/website_starter/images/image2.svg") 0% 0% / contain repeat;
  opacity: 0.05;
  left: 0;
  top: 0;
  row-gap: var(--token-rfsFxiclAtek);
  z-index: 1;
  right: 0;
  bottom: 0;
  filter: blur(5px);
  padding: var(--token-rfsFxiclAtek) var(--token-73iLa06AE6f4)
    var(--token-73iLa06AE6f4);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iDwk {
    animation: none;
  }
}
.freeBoxpage_mobile__iDwkMKfXs {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
  opacity: 0.1;
}
.freeBoxpage_code__iDwkOhvpc {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
  opacity: 0.1;
}
.freeBoxpage_name__iDwkAq9MH {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
  opacity: 0.1;
}
.freeBox__zBIaQ {
  animation: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  background: var(--token-KPGXdu9o7llP);
  border-top-right-radius: 5rem;
  border-top-left-radius: 5rem;
  right: 0;
  bottom: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transform: translate3d(0px, 40px, 0px) scale3d(1, 0, 1);
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.5s;
  padding: 8px;
}
.freeBoxpage_mobile__zBIaQmKfXs {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  background: var(--token-KPGXdu9o7llP);
  box-shadow: 0px -10px 16px 0px #00000033;
  height: 50px;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  min-width: 0;
  flex-shrink: 0;
}
.freeBoxpage_code__zBIaQohvpc {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  background: var(--token-KPGXdu9o7llP);
  box-shadow: 0px -5px 16px 0px #0000004d;
  height: 50px;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  min-width: 0;
  flex-shrink: 0;
}
.freeBoxpage_name__zBIaQaq9MH {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
  background: var(--token-KPGXdu9o7llP);
  box-shadow: 0px -5px 16px 0px #0000004d;
  height: 50px;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___9GXgZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBoxpage_loading___9GXgZEyvhu {
  display: none;
}
.text___8IauO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-C6B6ZAuqICKE);
  min-width: 0;
}
.textpage_mobile___8IauOmKfXs {
  font-weight: 700;
  font-size: var(--token-9jx4RULNbWhl);
}
.textpage_code___8IauOohvpc {
  display: none;
}
.textpage_name___8IauOaq9MH {
  display: none;
}
.mobile:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mobile:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.mobilepage_mobile:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.mobilepage_code:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.mobilepage_name:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.mobileSubmit:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.mobileSubmitpage_mobile:global(.__wab_instance):global(.__wab_instance) {
  margin-top: var(--token-73iLa06AE6f4);
  height: 50px;
  flex-shrink: 0;
}
.mobileSubmitpage_code:global(.__wab_instance):global(.__wab_instance) {
  margin-top: var(--token-73iLa06AE6f4);
  height: 40px;
  flex-shrink: 0;
  display: none;
}
.mobileSubmitpage_name:global(.__wab_instance):global(.__wab_instance) {
  margin-top: var(--token-73iLa06AE6f4);
  height: 40px;
  flex-shrink: 0;
  display: none;
}
.svg__ixsDm {
  position: relative;
  height: 1em;
}
.text__leZpu {
  white-space: pre;
  font-weight: 700;
}
.svg___9Euyb {
  position: relative;
  height: 1em;
}
.freeBox__kj9E5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBoxpage_loading__kj9E5Eyvhu {
  display: none;
}
.freeBoxpage_name__kj9E5Aq9MH {
  display: none;
}
.freeBox__lbtw4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ksP4Z {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBoxpage_code__ksP4Zohvpc {
  display: none;
}
.freeBoxpage_name__ksP4Zaq9MH {
  display: none;
}
.text__g7LNn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-C6B6ZAuqICKE);
  min-width: 0;
}
.textpage_mobile__g7LNNmKfXs {
  font-weight: 700;
  font-size: var(--token-9jx4RULNbWhl);
}
.textpage_code__g7LNnohvpc {
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
}
.textpage_name__g7LNNaq9MH {
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
}
.text__s61KU {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-C6B6ZAuqICKE);
  min-width: 0;
}
.textpage_mobile__s61KUmKfXs {
  font-weight: 700;
  font-size: var(--token-9jx4RULNbWhl);
}
.textpage_code__s61KUohvpc {
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  text-align: left;
  color: var(--token-Yo4gdKCgyuAu);
}
.textpage_name__s61KUaq9MH {
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  text-align: left;
  color: var(--token-Yo4gdKCgyuAu);
}
.text__knhTs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-C6B6ZAuqICKE);
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 600;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  color: #535353;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .embedHtml:global(.__wab_instance) {
    animation: none;
  }
}
.codeTimer:global(.__wab_instance) {
  position: relative;
}
.freeBox__dTs1F {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBoxpage_mobile__dTs1FmKfXs {
  margin-top: var(--token-73iLa06AE6f4);
}
.freeBoxpage_code__dTs1FOhvpc {
  margin-top: var(--token-73iLa06AE6f4);
  padding: 0px;
}
.freeBoxpage_name__dTs1Faq9MH {
  margin-top: var(--token-73iLa06AE6f4);
  padding: 0px;
}
.codeSubmit:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.codeSubmitpage_mobile:global(.__wab_instance):global(.__wab_instance) {
  height: 50px;
  flex-shrink: 0;
}
.codeSubmitpage_code:global(.__wab_instance):global(.__wab_instance) {
  height: 50px;
  flex-shrink: 0;
}
.codeSubmitpage_name:global(.__wab_instance):global(.__wab_instance) {
  height: 50px;
  flex-shrink: 0;
}
.svg__gaTXc {
  position: relative;
  height: 1em;
}
.text__kPol0 {
  white-space: pre;
  font-weight: 700;
}
.svg__dbuOr {
  position: relative;
  height: 1em;
}
.freeBox__b36SB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBoxpage_loading__b36SBEyvhu {
  display: none;
}
.freeBoxpage_code__b36SBohvpc {
  display: none;
}
.freeBoxpage_name__b36SBaq9MH {
  display: flex;
}
.freeBox__kgHwG {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__fOTo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-C6B6ZAuqICKE);
  min-width: 0;
}
.textpage_mobile__fOTomKfXs {
  font-weight: 700;
  font-size: var(--token-9jx4RULNbWhl);
}
.textpage_code__fOToOhvpc {
  display: none;
}
.name:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .name:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.namepage_mobile:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.namepage_code:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.namepage_name:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.code:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .code:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.codepage_mobile:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.codepage_code:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.codepage_name:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__fkMz1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.selectGender:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.selectMarital:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.cityInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cityInput:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.cityInputpage_mobile:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.cityInputpage_code:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.cityInputpage_name:global(.__wab_instance):global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__rDqi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBoxpage_mobile__rDqimKfXs {
  margin-top: var(--token-73iLa06AE6f4);
}
.freeBoxpage_code__rDqiOhvpc {
  margin-top: var(--token-73iLa06AE6f4);
  padding: 0px;
}
.freeBoxpage_name__rDqiaq9MH {
  margin-top: var(--token-73iLa06AE6f4);
  padding: 0px;
}
.codeSubmit2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.codeSubmit2page_mobile:global(.__wab_instance):global(.__wab_instance) {
  height: 50px;
  flex-shrink: 0;
}
.codeSubmit2page_code:global(.__wab_instance):global(.__wab_instance) {
  height: 50px;
  flex-shrink: 0;
}
.codeSubmit2page_name:global(.__wab_instance):global(.__wab_instance) {
  height: 50px;
  flex-shrink: 0;
}
.svg__syqc6 {
  position: relative;
  height: 1em;
}
.text__dda2W {
  white-space: pre;
  font-weight: 700;
}
.svg__syfvj {
  position: relative;
  height: 1em;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}
.modal__modal :global(.ant-modal-content) {
  background: var(--token-KPGXdu9o7llP);
  overflow: auto;
  outline: none;
  padding: 0px;
  margin: 0px;
}
.city:global(.__wab_instance) {
  max-width: 100%;
  height: 100vh;
}
.svg___4TQ44 {
  object-fit: cover;
  max-width: 100%;
  width: 0px;
  height: 0px;
}
