.root {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-rfsFxiclAtek);
  grid-column-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.rootselect {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  overflow: auto;
}
.timeShow:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
