.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 80px var(--token-73iLa06AE6f4) 0px 0px;
}
.freeBox__guP5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  row-gap: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4);
}
.freeBox__gnKak {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-rfsFxiclAtek);
}
.text__ip9Cb {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-weight: 700;
  color: #535353;
  min-width: 0;
}
.text__fE1NM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 300;
  color: #535353;
  min-width: 0;
}
.line__fkbEn:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__cyh3 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: var(--token-P3I_D0uxQRnt);
}
.freeBox__ydIfO {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-0tl2H1TRPHhV) var(--token-rfsFxiclAtek);
}
.text__uzN7N {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  color: #535353;
  min-width: 0;
}
.text___3VxOk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  color: #535353;
  min-width: 0;
}
.line__eBc1R:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__pmFbb {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-0tl2H1TRPHhV) var(--token-rfsFxiclAtek);
}
.text__ouzR6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  color: #535353;
  min-width: 0;
}
.text__j4Hm3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  color: #535353;
  min-width: 0;
}
.line__yxQtF:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox___4RmRa {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-0tl2H1TRPHhV) var(--token-rfsFxiclAtek);
}
.text__wRMK {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  color: #535353;
  min-width: 0;
}
.text__wMb7H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  color: #535353;
  min-width: 0;
}
.line__jgYnp:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__vy8Ss {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: var(--token-rfsFxiclAtek);
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 40px;
  width: 120px;
  flex-shrink: 0;
}
.svg__sDjii {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__e8HQa {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__zu3Vm {
  position: relative;
  height: 1em;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg__rk0Na {
  position: relative;
  color: var(--token-rMWrBJOD3gNa);
  height: 1em;
}
.text__tuqJf {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__a8Zy4 {
  position: relative;
  height: 1em;
}
.line__bZhMh:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__st2Ld {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  column-gap: var(--token-TONjX_YbO9_T);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.svg__rfVTh {
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  color: var(--token-ehVEIAjb9HeO);
  flex-shrink: 0;
}
.center:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.info:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__upWjw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.centerInfo:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___72R6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
.saveInfo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__kzTk {
  position: relative;
  height: 1em;
}
.text___7RtP {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__q3Tvz {
  position: relative;
  height: 1em;
}
.button5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__kxZOy {
  position: relative;
  height: 1em;
}
.text___1XiV {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__hOBa1 {
  position: relative;
  height: 1em;
}
.imageinsert:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__vLlDj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.imag:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___81TN9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveUpload:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__sMtN4 {
  position: relative;
  height: 1em;
}
.text__vwxC {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__gRvq {
  position: relative;
  height: 1em;
}
.close:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__d9MPc {
  position: relative;
  height: 1em;
}
.text__vOxNe {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__m1BVm {
  position: relative;
  height: 1em;
}
.imageProfile:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__nDzD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.imageProfile2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__lc148 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveUpload2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__sRnUn {
  position: relative;
  height: 1em;
}
.text__xdH0R {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__we9IR {
  position: relative;
  height: 1em;
}
.close2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__iGCp6 {
  position: relative;
  height: 1em;
}
.text__ny7J3 {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__qWlT {
  position: relative;
  height: 1em;
}
.map:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__tlVqb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.loaction:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__cqf0J {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveInfo2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  align-self: flex-start;
  min-width: 0;
}
.svg__ym2R7 {
  position: relative;
  height: 1em;
}
.text__yUorr {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__zeQz5 {
  position: relative;
  height: 1em;
}
.button7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__qixbx {
  position: relative;
  height: 1em;
}
.text__pEt9R {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__mVoie {
  position: relative;
  height: 1em;
}
