.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.freeBox__ts1E {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-IUVIp1DHBSFd);
  padding: 0px;
}
.svg__zaRex {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__fxGzQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-a9mEyVfKVz5O);
  text-align: center;
  min-width: 0;
}
.freeBox__z37VN {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-IUVIp1DHBSFd);
  padding: 0px;
}
.svg___8A7Gj {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__zajVb {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-a9mEyVfKVz5O);
  text-align: center;
  min-width: 0;
}
