.root {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: 0px;
  background: none;
  position: relative;
  row-gap: var(--token-CVjaMVgIQl_G);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__q0Vts {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Tca_MqWoqq_b);
  min-width: 0;
}
.freeBox__hdU4M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-LBC0X5IbL9bo);
  min-width: 0;
  padding: 0px;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.radioGroup:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__gEjlI {
  color: var(--token-9M5jRUPt8Msb);
  padding-bottom: var(--token-RuQNZpYm0Yds);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.freeBox__zXQmd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__uDl {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-rfsFxiclAtek);
  overflow: auto;
  width: 800px;
  height: auto;
}
.radio:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: auto;
}
.freeBox__olJf6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-80wG4y4sryg5);
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  border-radius: var(--token-cfon0PHiXQoL);
  padding: var(--token-rfsFxiclAtek);
}
.freeBox__ehMXe {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-cfon0PHiXQoL);
  grid-column-gap: var(--token-cfon0PHiXQoL);
  background: none;
  min-width: 0;
  border-radius: var(--token-cfon0PHiXQoL);
  padding: 0px;
}
.itemShow:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__hrWN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre;
  user-select: none;
  min-width: 0;
}
.svg__twaIy {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-ekJK2BNXfyOR);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-fr7DwvJwRjZb);
}
.freeBox__z0Nzn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__fMZa4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f0e9d4;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.textInput2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 120px;
  height: 35px;
  flex-shrink: 0;
}
.svg__qws2H {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__pbhd {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg___3Apf3 {
  position: relative;
  height: 1em;
}
.check:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__u4Snl {
  font-size: var(--token-N8Pb0ZuDQAeF);
  width: auto;
}
.freeBox__zmcFx {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 45px;
  width: 100%;
  min-width: 0;
}
.svg__cDvg {
  position: relative;
  height: 1em;
}
.text__or2Pj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  color: var(--token-KPGXdu9o7llP);
  text-align: center;
  min-width: 0;
}
.svg___8Vh43 {
  position: relative;
  height: 1em;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 45px;
  width: 100%;
  min-width: 0;
}
.svg__bJ28H {
  position: relative;
  height: 1em;
}
.text__mPqwp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  color: var(--token-1aP3XjRZIKFV);
  text-align: center;
  min-width: 0;
}
.svg__qraCj {
  position: relative;
  height: 1em;
}
