.root {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-ee2TuxDknsJj);
  row-gap: var(--token-0tl2H1TRPHhV);
  position: relative;
  transition-property: all;
  transition-duration: 0.3s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  padding: var(--token-xsiin-peP6fP) var(--token-xsiin-peP6fP)
    var(--token-TONjX_YbO9_T);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    animation: none;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.img {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  opacity: 0.1;
  display: none;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__ftmfq {
  background: var(--token--ieHgGbFH1Fa);
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.text__ibP8V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-NWiHR7h0ClTY);
  font-weight: 700;
  min-width: 0;
}
.svg__nOvDd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yo4gdKCgyuAu);
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  cursor: pointer;
  flex-shrink: 0;
}
.svgfilter__nOvDdLrf0Y {
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  flex-shrink: 0;
  display: none;
}
.svg__iiQq6 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yo4gdKCgyuAu);
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  cursor: pointer;
  flex-shrink: 0;
  display: none;
}
.svgfilter__iiQq6Lrf0Y {
  display: block;
}
.embedHtml:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jwSv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBoxfilter__jwSvLrf0Y {
  display: none;
}
.freeBox__axbDb {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  padding: 0px;
}
.text__hRihg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-NWiHR7h0ClTY);
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  min-width: 0;
}
.text__c3FG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-A-PNbaadkZKd);
  font-size: var(--token-R7X4jvpZsbD-);
  min-width: 0;
}
.freeBox__xdDPl {
  display: block;
  position: relative;
  width: 1px;
  height: 60%;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
  border-left: var(--token-IUVIp1DHBSFd) solid var(--token-LN1YkB123lXQ);
}
.freeBox__v4Y5I {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  padding: 0px;
}
.text__nRcKx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-NWiHR7h0ClTY);
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  min-width: 0;
}
.text__ubblM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-A-PNbaadkZKd);
  font-size: var(--token-R7X4jvpZsbD-);
  min-width: 0;
}
.freeBox__ybn5G {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  flex-shrink: 0;
  display: none;
  padding: 0px;
}
.freeBoxfilter__ybn5GLrf0Y {
  display: flex;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.freeBox___0NI0S {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-cfon0PHiXQoL);
  border: var(--token-IUVIp1DHBSFd) solid var(--token-NWiHR7h0ClTY);
}
.text__a4WeL {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-NWiHR7h0ClTY);
  min-width: 0;
}
.text__lZZkp {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-NWiHR7h0ClTY);
  opacity: 0.7;
  min-width: 0;
}
.datePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.popover2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.freeBox__qIUfI {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-cfon0PHiXQoL);
  border: var(--token-IUVIp1DHBSFd) solid var(--token-NWiHR7h0ClTY);
}
.text__cdSk7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-NWiHR7h0ClTY);
  min-width: 0;
}
.text__m7Qil {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-NWiHR7h0ClTY);
  opacity: 0.7;
  min-width: 0;
}
.datePicker2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__bbdgh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  min-height: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-cfon0PHiXQoL);
  border: var(--token-IUVIp1DHBSFd) solid var(--token-Yo4gdKCgyuAu);
}
.svg__zUGe2 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-ekJK2BNXfyOR);
  height: var(--token-ekJK2BNXfyOR);
  color: var(--token-Ws0-_dtROA6x);
  flex-shrink: 0;
}
