.checkboxGroup2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___3VlWq {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-cfon0PHiXQoL);
  padding: var(--token-73iLa06AE6f4) 0px;
}
.freeBox___73GTl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid var(--token-pyhDq7s0RTkz);
}
.checkbox4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text {
  width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
