.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-kD77h-2NGSqI);
  position: relative;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.dayItem:global(.__wab_instance) {
  position: relative;
}
