.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__wfph4 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  background: #ffffff00;
  row-gap: 10px;
  min-width: 0;
  border-radius: 50px;
  padding: var(--token-73iLa06AE6f4);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wfph4 {
    animation: none;
    height: 100%;
    justify-content: space-between;
    background: #ffffff00;
    row-gap: 50px;
    column-gap: 0px;
    border-radius: 30px;
    padding: 30px;
  }
}
.freeBox___7JaMv {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7JaMv {
    animation: none;
    height: 100%;
    min-height: 0;
  }
}
.svg__lhLVt {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 200px;
  color: var(--token-sdHWFpeV8MAu);
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__lhLVt {
    animation: none;
    height: 100px;
    flex-shrink: 0;
  }
}
.freeBox__nmMow {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nmMow {
    animation: none;
    height: 100%;
    min-height: 0;
  }
}
.text___7ZdsW {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-EBGyLHrpfttb);
  color: var(--token-sdHWFpeV8MAu);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7ZdsW {
    animation: none;
    font-size: 24px;
    padding-bottom: 10px;
  }
}
.text__kuAxC {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 400;
  font-size: var(--token-B10hUni6jzpI);
  color: var(--token-u4K3HGUHLazG);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kuAxC {
    animation: none;
    font-size: 12px;
    text-align: justify;
    padding: 0px 0px 20px;
  }
}
.text__g1QfT {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__g1QfT {
    animation: none;
    text-align: center;
    font-weight: 700;
    text-decoration-line: none;
    color: var(--token-0WJGb7loGUss);
    font-size: 12px;
    display: none;
  }
}
.freeBox___5Uw4D {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Uw4D {
    animation: none;
    padding-right: 0px;
    padding-left: 0px;
    column-gap: 10px;
    row-gap: 0px;
  }
}
.button2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  z-index: 5;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2:global(.__wab_instance) {
    animation: none;
  }
}
.svg___5Ej9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gvoux {
  animation: none;
  font-size: var(--token-B10hUni6jzpI);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gvoux {
    animation: none;
    font-size: 12px;
  }
}
.svg__iogMa {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 150%;
  color: var(--token-jgohepLVeKvh);
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__iogMa {
    animation: none;
  }
}
.button3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button3:global(.__wab_instance) {
    animation: none;
  }
}
.svg__uqn0O {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__eandC {
  animation: none;
  font-size: var(--token-B10hUni6jzpI);
  font-weight: 700;
  padding-right: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--token-UgqtYPNHxeMF);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__eandC {
    animation: none;
    font-size: 10px;
  }
}
.svg___1GSqk {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__ssxAa {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  background: #ffffff00;
  row-gap: 10px;
  min-width: 0;
  border-radius: 50px;
  padding: var(--token-73iLa06AE6f4);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ssxAa {
    animation: none;
    background: #ffffff00;
    justify-content: space-between;
    row-gap: 50px;
    column-gap: 0px;
    border-radius: 30px;
  }
}
.svg__ymUo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 200px;
  color: var(--token-8IZ3P-rlJFBA);
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ymUo {
    animation: none;
    height: 120px;
    flex-shrink: 0;
  }
}
.freeBox__lKktG {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lKktG {
    animation: none;
    height: 100%;
    min-height: 0;
  }
}
.text__sIh8C {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-EBGyLHrpfttb);
  color: var(--token-sdHWFpeV8MAu);
  text-decoration-line: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sIh8C {
    animation: none;
    font-size: var(--token-bucIARGmMoc6);
    padding-bottom: 10px;
  }
}
.text__jR1Mt {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 400;
  font-size: var(--token-B10hUni6jzpI);
  color: var(--token-u4K3HGUHLazG);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jR1Mt {
    animation: none;
    font-size: 12px;
    text-align: justify;
    padding: 0px 0px 20px;
  }
}
.text___1FmgI {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-EBGyLHrpfttb);
  color: var(--token--ieHgGbFH1Fa);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1FmgI {
    animation: none;
    font-size: var(--token-bucIARGmMoc6);
  }
}
.text__acZ0 {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 400;
  font-size: var(--token-B10hUni6jzpI);
  color: var(--token-u4K3HGUHLazG);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__acZ0 {
    animation: none;
    font-size: 12px;
    text-align: justify;
    padding: 20px 0px;
  }
}
.text___8JwOk {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-EBGyLHrpfttb);
  color: var(--token-8IZ3P-rlJFBA);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8JwOk {
    animation: none;
    font-size: var(--token-bucIARGmMoc6);
  }
}
.text__r7UNd {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 400;
  font-size: var(--token-B10hUni6jzpI);
  color: var(--token-u4K3HGUHLazG);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
  padding: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__r7UNd {
    animation: none;
    font-size: 12px;
    text-align: justify;
    padding: 20px 0px;
  }
}
.button4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button4:global(.__wab_instance) {
    animation: none;
  }
}
.svg__ktP0Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___09M7R {
  animation: none;
  font-size: var(--token-B10hUni6jzpI);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___09M7R {
    animation: none;
    font-size: var(--token-BlA-iDkaAWvO);
  }
}
.svg__hS9Vb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
