.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    height: 400px;
    width: 100%;
    min-width: 0;
  }
}
