.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: var(--token-h2xt7bB598yU);
  min-width: 0;
}
.text__yGv7B {
  text-align: right;
}
.freeBox__tHlCa {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  background: var(--token-h2xt7bB598yU);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-rfsFxiclAtek);
}
.freeBox___2J1Jy {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__tiCJu {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.name:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__aNqz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__cF2P5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__ndynd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__xghX {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___1SgUu {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.time:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__hQrvb {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__tFJv {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.time2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wQ68 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__czfXl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__rkLr9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.prise:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___5Uol {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__xRvDc {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.off:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__tSG {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___9C3Ov {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__nOSac {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-C6B6ZAuqICKE);
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
}
.svg__an7Lw {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-TONjX_YbO9_T);
  height: var(--token-TONjX_YbO9_T);
  color: var(--token-C6B6ZAuqICKE);
  cursor: pointer;
}
.button5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__yhF66 {
  position: relative;
  height: 1em;
}
.text__hdBlc {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
  font-size: var(--token-AFv7sfVuyqL3);
  padding-top: var(--token-RuQNZpYm0Yds);
  padding-bottom: var(--token-RuQNZpYm0Yds);
}
.svg__pzR7E {
  position: relative;
  color: var(--token-1aP3XjRZIKFV);
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
}
.snackbar:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__yrHXu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.text__fQfHc {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__lsFfn {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-LBC0X5IbL9bo);
  min-width: 0;
  padding: 0px;
}
._delete:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ipGdH {
  position: relative;
  height: 1em;
}
.text__bKqMq {
  animation: none;
  white-space: pre;
  color: var(--token-A-PNbaadkZKd);
}
.svg__o9HrE {
  position: relative;
  height: 1em;
}
.cansel:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8KkoH {
  position: relative;
  height: 1em;
}
.text__opG8K {
  animation: none;
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__rkR8D {
  position: relative;
  height: 1em;
}
