.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--token-fni3nTjgVNW-);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  column-gap: 8px;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  border-radius: 6px;
  padding: 12px 20px;
  border: 0px solid #270e0e;
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 1;
  background: #aeaeae;
}
.rootshape_rounded {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 100px;
  border-radius: 999px;
}
.rootshape_round {
  border-radius: 50%;
  padding: 12px;
}
.rootshape_sharp {
  border-radius: 0px;
}
.rootsize_compact {
  padding: 6px 16px;
}
.rootsize_minimal {
  padding: 0px;
}
.rootcolor_blue {
  background: #0091ff;
}
.rootcolor_green {
  background: var(--token-8IZ3P-rlJFBA);
}
.rootcolor_yellow {
  background: #f5d90a;
}
.rootcolor_red {
  background: var(--token-sdHWFpeV8MAu);
}
.rootcolor_sand {
  background: var(--token-NWiHR7h0ClTY);
}
.rootcolor_white {
  background: #ffffff;
}
.rootcolor_softBlue {
  background: #edf6ff;
}
.rootcolor_softGreen {
  background: #e9f9ee;
}
.rootcolor_softYellow {
  background: #fffbd1;
}
.rootcolor_softRed {
  background: #fff0ee;
}
.rootcolor_softSand {
  background: #eeeeec;
}
.rootcolor_clear {
  background: #ffffff00;
}
.rootcolor_link {
  background: #ffffff00;
}
.rootcolor_perper {
  background: #8254c64d;
}
.rootcolor_line {
  background: none;
  border-width: 2px;
  border-color: var(--token-L5Hgrtuy-ukv);
}
.rootcolor_orange {
  background: #fa8214;
}
.rootcolor_whiteYellowLine {
  background: var(--token-80wG4y4sryg5);
  border-width: 1px;
  border-color: var(--token-2ObYh10hZuCh);
}
.rootcolor_softBlack {
  background: var(--token-nB_fHXKtRFru);
}
.rootcolor_softPurple {
  background: var(--token-O-9PmcwkoIXk);
}
.rootcolor_grayLigth {
  background: #00000033;
}
.rootcolor_gray {
  background: var(--token-clkRsHVdZgT8);
}
.rootfilterX {
  background: #8254c600;
}
.rootloading {
  padding-top: 0px;
  padding-bottom: 0px;
}
.rootfilter {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: #154bff;
  border-radius: 25px;
}
.rootunnamedVariant2 {
  background: var(--token-ukwKZMvHWx7C);
  border-radius: 50px;
  border-color: var(--token-kI60KiRr_Lur);
}
.rootbuttonDataaa {
  background: linear-gradient(#682c2c00, #682c2c00), var(--token-fni3nTjgVNW-);
}
.rootserface {
  background: var(--token-O-9PmcwkoIXk);
  border: 1px solid var(--token-kI60KiRr_Lur);
}
.rootshape_rounded_showStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon_shape_rounded {
  padding-right: 16px;
}
.rootshape_round_size_compact {
  padding: 6px;
}
.rootcolor_line_color_yellow {
  border-color: var(--token-bHHJuMx2zyxz);
}
.rootcolor_line_color_white {
  border-color: var(--token-80wG4y4sryg5);
}
.root___focusVisibleWithin {
  box-shadow: none;
  outline: none;
}
.root:focus-within {
  box-shadow: none;
  outline: none;
}
.root:hover {
  background: var(--token-L5Hgrtuy-ukv);
  backdrop-filter: grayscale(15%);
  -webkit-backdrop-filter: grayscale(15%);
}
.root:active {
  background: var(--token-L5Hgrtuy-ukv);
  backdrop-filter: grayscale(21%);
  -webkit-backdrop-filter: grayscale(21%);
}
.rootcolor_blue:hover {
  background: #369eff;
}
.rootcolor_blue:active {
  background: #52a9ff;
}
.rootcolor_green:hover {
  background: #3cb179;
}
.rootcolor_green:active {
  background: #4cc38a;
}
.rootcolor_yellow:hover {
  background: #ffef5c;
}
.rootcolor_yellow:active {
  background: #f0c000;
}
.rootcolor_red:hover {
  background: #ec5e41;
}
.rootcolor_red:active {
  background: #f16a50;
}
.rootcolor_sand:hover {
  background: #7f7e77;
}
.rootcolor_sand:active {
  background: #a1a09a;
}
.rootcolor_white:hover {
  background: #ffef5c;
}
.rootcolor_white:active {
  background: #f0c000;
}
.rootcolor_softBlue:hover {
  background: #e1f0ff;
}
.rootcolor_softBlue:active {
  background: #cee7fe;
}
.rootcolor_softGreen:active {
  background: #ccebd7;
}
.rootcolor_softGreen:hover {
  background: #ddf3e4;
}
.rootcolor_softYellow:active {
  background: #fef2a4;
}
.rootcolor_softYellow:hover {
  background: #fff8bb;
}
.rootcolor_softRed:active {
  background: #fdd8d3;
}
.rootcolor_softRed:hover {
  background: #ffe6e2;
}
.rootcolor_softSand:hover {
  background: #e9e9e6;
}
.rootcolor_softSand:active {
  background: #e3e3e0;
}
.rootcolor_clear:hover {
  background: #e9e9e6;
}
.rootcolor_clear:active {
  background: #e3e3e0;
}
.rootcolor_link:hover {
  background: #ffffff00;
}
.rootcolor_link:active {
  background: #ffffff00;
}
.rootcolor_perper:hover {
  background: #8254c633;
}
.rootcolor_perper:active {
  background: #8254c699;
}
.rootcolor_line:hover {
  background: #7444bc1a;
}
.rootcolor_line:active {
  background: #7444bc33;
}
.rootcolor_orange:hover {
  background: #fa6a14;
  opacity: 0.9;
}
.rootcolor_orange:active {
  background: #fa6214;
}
.rootfilterX:hover {
  background: var(--token-0bhwu4BnB6BF);
}
.rootfilter:hover {
  background: var(--token-OBoW1r9lulTJ);
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 25px;
}
.rootunnamedVariant2:hover {
  background: none;
}
.rootbuttonDataaa:hover {
  background: #ffffff00;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.slotTargetStartIcon {
  color: #ededec;
}
.slotTargetStartIconcolor_yellow {
  color: #35290f;
}
.slotTargetStartIconcolor_white {
  color: #35290f;
}
.slotTargetStartIconcolor_softBlue {
  color: #006adc;
}
.slotTargetStartIconcolor_softGreen {
  color: #18794e;
}
.slotTargetStartIconcolor_softYellow {
  color: #946800;
}
.slotTargetStartIconcolor_softRed {
  color: #ca3214;
}
.slotTargetStartIconcolor_softSand {
  color: #706f6c;
}
.slotTargetStartIconcolor_clear {
  color: #1b1b18;
}
.slotTargetStartIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetStartIconcolor_link {
  color: #0081f1;
}
.rootcolor_link:active .slotTargetStartIconcolor_link {
  color: #006adc;
}
.svg__yJfHt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contentContainerbox {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root .contentContainer___focusVisibleWithin {
  outline: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  flex-shrink: 0;
}
.svgloading {
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
}
.svgbox {
  height: 90px;
}
.svgloading_size_compact {
  height: 40px;
}
.svgsize_minimal_loading {
  height: 30px;
}
.svgloading_color_white {
  color: var(--token-a13HKnxwl17E);
}
.svgcolor_clear_loading_size_compact {
  color: var(--token-EueuB3d74YKA);
}
.slotTargetChildren {
  color: #ededec;
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrenisDisabled {
  color: #ffffff;
}
.slotTargetChildrencolor_blue {
  color: #ffffff;
}
.slotTargetChildrencolor_green {
  color: #ffffff;
}
.slotTargetChildrencolor_yellow {
  color: #35290f;
}
.slotTargetChildrencolor_red {
  color: #ffffff;
}
.slotTargetChildrencolor_sand {
  color: var(--token-UgqtYPNHxeMF);
}
.slotTargetChildrencolor_white {
  color: #1b1b18;
}
.slotTargetChildrencolor_softBlue {
  color: #006adc;
}
.slotTargetChildrencolor_softGreen {
  color: #18794e;
}
.slotTargetChildrencolor_softYellow {
  color: #946800;
}
.slotTargetChildrencolor_softRed {
  color: #ca3214;
}
.slotTargetChildrencolor_softSand {
  color: #1b1b18;
}
.slotTargetChildrencolor_clear {
  color: #1b1b18;
}
.slotTargetChildrencolor_link {
  color: #0091ff;
}
.slotTargetChildrencolor_perper {
  color: var(--token-pL3jgXQgAS-1);
}
.slotTargetChildrencolor_line {
  color: var(--token-L5Hgrtuy-ukv);
  font-weight: 700;
}
.slotTargetChildrencolor_softBlack {
  color: var(--token-s6JDWwNdkMmO);
}
.root:focus-within .slotTargetChildren > *,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within .slotTargetChildren > picture > img,
.root:focus-within .slotTargetChildren > :global(.__wab_slot) > picture > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.root .slotTargetChildren___focusVisibleWithin > *,
.root .slotTargetChildren___focusVisibleWithin > :global(.__wab_slot) > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root .slotTargetChildren___focusVisibleWithin > picture > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root
  .slotTargetChildren___focusVisibleWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.rootcolor_link:hover .slotTargetChildrencolor_link {
  color: #0081f1;
}
.rootcolor_link:hover .slotTargetChildrencolor_link > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_expr_html_text),
.rootcolor_link:hover
  .slotTargetChildrencolor_link
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.rootcolor_link:active .slotTargetChildrencolor_link {
  color: #006adc;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.endIconContainerfilterX {
  display: flex;
}
.endIconContainerloading {
  display: none;
}
.slotTargetEndIcon {
  color: #ededec;
}
.slotTargetEndIconcolor_yellow {
  color: #35290f;
}
.slotTargetEndIconcolor_white {
  color: #35290f;
}
.slotTargetEndIconcolor_softBlue {
  color: #006adc;
}
.slotTargetEndIconcolor_softGreen {
  color: #18794e;
}
.slotTargetEndIconcolor_softYellow {
  color: #946800;
}
.slotTargetEndIconcolor_softRed {
  color: #ca3214;
}
.slotTargetEndIconcolor_softSand {
  color: #706f6c;
}
.slotTargetEndIconcolor_clear {
  color: #1b1b18;
}
.slotTargetEndIconcolor_link {
  color: #0091ff;
}
.rootcolor_link:hover .slotTargetEndIconcolor_link {
  color: #0081f1;
}
.rootcolor_link:active .slotTargetEndIconcolor_link {
  color: #006adc;
}
.svg__rwDgX {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  flex-shrink: 0;
  display: none;
}
