.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-CVjaMVgIQl_G) var(--token-73iLa06AE6f4)
    var(--token-CVjaMVgIQl_G) 0rem;
}
.freeBox__hoGtv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px 0px 4rem;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-bucIARGmMoc6);
  color: var(--token-ee2TuxDknsJj);
}
.freeBox__z2LUv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.panelMenuSubItem:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
