.root {
  background: var(--token-W0eejbtvb0xw);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
.freeBox__xVUwR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.panelMenu:global(.__wab_instance) {
  max-width: 100%;
  width: 17rem;
  flex-shrink: 0;
}
.freeBox___60AXv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.topPage:global(.__wab_instance) {
  max-width: 100%;
  height: 80px;
  z-index: 1;
  flex-shrink: 0;
}
.mainPage:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.addCenter:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.button__mT4R:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.svg__roAAu {
  position: relative;
  height: 1em;
}
.svg__iIh5E {
  position: relative;
  height: 1em;
}
.tabs:global(.__wab_instance) {
  width: 500px;
  overflow: auto;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  min-height: 0;
}
.tabs__tabs:global(.ant-tabs) :global(.ant-tabs-nav) {
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  outline: none;
}
.tabItem__jH2NG:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__umPi0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  margin-left: 20px;
  text-align: right;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.freeBox___0UVpf {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox__pgiXu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ttsxJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.titleInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nEuH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.text__r9CJl {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.textAreaInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__fTzYb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__xinlM {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.category:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__i8Omi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__hKRcV {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.subcategory:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__naGo9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.tags:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.tabItem__kyk5Z:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__mjLln {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.imag:global(.__wab_instance) {
  position: relative;
}
.tabItem__l7DEp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__baahD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.tabItem__mPsyS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lw7P9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.addServise:global(.__wab_instance) {
  position: relative;
}
.tabItem__gsJIt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___0Exgt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.timeWeek:global(.__wab_instance) {
  position: relative;
}
.freeBox__pzO9W {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__wQQqp {
  position: relative;
  height: 1em;
}
.text__k1P8U {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__lUeHx {
  position: relative;
  height: 1em;
}
.submit:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__shfvI {
  position: relative;
  height: 1em;
}
.text__pCwcO {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__pFEt {
  position: relative;
  height: 1em;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__oJcnI {
  position: relative;
  height: 1em;
}
.text__v10Mj {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__rCmyt {
  position: relative;
  height: 1em;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__yDzBd {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.categories:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__oihMu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
