.root {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  text-align: right;
  position: relative;
  display: inline-block;
}
