.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  border-radius: var(--token-cfon0PHiXQoL);
  padding: var(--token-rfsFxiclAtek) var(--token-cfon0PHiXQoL);
  border: 1px solid var(--token-KjATzAYJ5IB7);
}
.rootlabel {
  padding-right: var(--token-TONjX_YbO9_T);
}
.freeBox__mnPp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.svg__nuSw2 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Es3BYpS8XP38);
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  flex-shrink: 0;
}
.svglabel__nuSw2OaGyf {
  display: none;
}
.freeBox__eYvYb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xu0Qs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-C6B6ZAuqICKE);
  min-width: 0;
}
.freeBox__j8YGs {
  width: auto;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: -26px;
  right: -10px;
  background: var(--token-80wG4y4sryg5);
  padding-right: var(--token-cfon0PHiXQoL);
  padding-left: var(--token-cfon0PHiXQoL);
  justify-content: flex-end;
  flex-direction: row;
  display: none;
}
.freeBoxlabel__j8YGsOaGyf {
  display: flex;
}
.slotTargetChildren {
  font-size: var(--token-R7X4jvpZsbD-);
  color: var(--token-KjATzAYJ5IB7);
  text-align: right;
}
.text__pk1Q6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  min-width: 0;
}
.svg__oVekl {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-TONjX_YbO9_T);
  height: var(--token-TONjX_YbO9_T);
  color: var(--token-ccqYe7dhXoNZ);
  flex-shrink: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__re0UP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-0tl2H1TRPHhV);
  min-width: 0;
  padding: 0px;
}
.timePickerCustom:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
  flex-shrink: 0;
}
.svg__pCfXy {
  position: relative;
  height: 1em;
}
.text__xCQgA {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
  font-weight: 600;
}
.svg__w3Nw1 {
  position: relative;
  height: 1em;
}
