.root {
  background: var(--token-h2xt7bB598yU);
  box-shadow: 0px 2px 5px 0px #afa49199;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__mviwM {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  justify-content: space-between;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-MbEKSCQSHAZe);
  height: var(--token-MbEKSCQSHAZe);
  align-self: center;
  object-position: 100% 100%;
  flex-shrink: 0;
  border-radius: 50%;
  border-width: 0px;
}
.img > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.freeBox__ixgvG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  padding: 0px;
}
.freeBox___9OgB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__uEKkU {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.text__aypW6 {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 600;
  font-size: var(--token-R7X4jvpZsbD-);
  text-align: right;
}
.freeBox__vzfyx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-D_3fp_JIDs1G);
  padding: 0px;
}
.freeBoxbooking__vzfyxfsXGl {
  display: none;
}
.svg__vkSkl {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-gzfwquJiFTd8);
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.text__pNnew {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-KjATzAYJ5IB7);
  font-weight: 600;
  font-size: var(--token-U1UvBDD-VoLt);
  text-align: right;
}
.freeBox__navQt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.textCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: right;
  font-size: var(--token-R7X4jvpZsbD-);
  color: var(--token-KjATzAYJ5IB7);
}
.uploudeTime:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__tNKl {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBoxbooking__tNKlfsXGl {
  display: none;
}
.svg__zrHy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__w9M6D {
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  opacity: 0.2;
  min-width: 0;
  flex-shrink: 0;
  display: none;
  border-bottom: 1px solid var(--token-C6B6ZAuqICKE);
}
.freeBox___3EfNf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-IUVIp1DHBSFd);
  min-width: 0;
  padding: 0px;
}
.text___2HTck {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: var(--token-R7X4jvpZsbD-);
  min-width: 0;
}
.status:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
  display: none;
}
.statusbooking:global(.__wab_instance) {
  display: flex;
}
.freeBox__dSfz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  max-width: 100%;
  column-gap: var(--token-LBC0X5IbL9bo);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__cDdIh {
  position: relative;
  height: 1em;
}
.text__aZkE {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
  font-weight: 400;
}
.svg___7FHn2 {
  position: relative;
  height: 1em;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__kvvmw {
  position: relative;
  height: 1em;
}
.text__niVag {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
  font-weight: 400;
}
.svg__thwG {
  position: relative;
  height: 1em;
}
