.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ffffff;
  justify-self: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #c8c7c1;
}
.rootselected {
  background: #7444bcb3;
  border-width: 0px;
}
.rootselectedLine {
  border-color: var(--token-L5Hgrtuy-ukv);
}
.rootdisable {
  background: var(--token-lvtosLib60Mj);
}
.rootstyle2_line {
  border-width: 0px;
}
.rootstyle2_grayBackgerand {
  background: var(--token-5IORLB32cx8g);
  border-style: none;
}
.rootsize_mini {
  padding: 4px;
}
.rootchoise {
  background: var(--token-O-9PmcwkoIXk);
  border-radius: 50px;
  border-color: var(--token-s6JDWwNdkMmO);
}
.rootcomingSoon {
  background: none;
}
.rooticon {
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.rootstyle3_circle {
  padding-right: var(--token-LBC0X5IbL9bo);
  padding-left: var(--token-LBC0X5IbL9bo);
  border-radius: 10rem;
}
.rootstyle3_radio {
  background: none;
  border-width: 0px;
}
.rootdirection_v {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-73iLa06AE6f4);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: var(--token-73iLa06AE6f4);
  border-left-width: 0px;
  row-gap: 0px;
  padding: 16px;
}
.rootselected_color_light {
  background: var(--token-ug_bBaukwNeX);
}
.rootselected_style2_grayBackgerand {
  background: var(--token-kI60KiRr_Lur);
}
.rootstyle2_lineligt_selected {
  background: var(--token-6Lhw5mK6wolF);
  border-width: 1px;
  border-color: var(--token-L5Hgrtuy-ukv);
}
.rootchoise_selected {
  background: var(--token-kI60KiRr_Lur);
  border-width: 1px;
  border-style: solid;
}
.rootcomingSoon_style2_grayBackgerand {
  background: none;
}
.rootstyle2_lineligt_icon {
  box-shadow: none;
  border-color: var(--token-5IORLB32cx8g);
}
.rootcomingSoon_style3_radio {
  border-width: 1px;
}
.rootselected_style2_grayBackgerand_color_light {
  background: var(--token-ukwKZMvHWx7C);
}
.rootcomingSoon_style2_grayBackgerand_color_light {
  background: none;
}
.rootstyle2_lineligt_icon_color_light {
  box-shadow: 0px 0px 10px 0px #0000000a;
}
.rootcomingSoon_size_mini_style2_grayBackgerand_color_light {
  background: none;
}
.rootstyle3_radio_size_mini_style2_grayBackgerand_color_light {
  background: none;
}
.rootcomingSoon_style3_radio_size_mini_style2_grayBackgerand {
  background: var(--token-5IORLB32cx8g);
}
.rootcomingSoon_style3_radio_size_mini_style2_grayBackgerand_color_light {
  background: none;
  border-width: 0px;
}
.svg__zqrAs {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox {
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
}
.freeBoxcomingSoon {
  opacity: 0.6;
}
.freeBoxstyle3_radio {
  column-gap: var(--token-rfsFxiclAtek);
  row-gap: 0px;
}
.freeBoxdirection_v {
  justify-content: flex-start;
  align-items: center;
}
.svg__aDcF8 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: #535353;
  flex-shrink: 0;
  display: none;
}
.svgstyle3_radio__aDcF8XEqQg {
  width: 18px;
  height: 18px;
  color: var(--token-clkRsHVdZgT8);
  flex-shrink: 0;
  display: block;
}
.svgselected_style3_radio__aDcF8FnD7ZXEqQg {
  color: var(--token-kI60KiRr_Lur);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  white-space: pre;
}
.slotTargetChildrenselected {
  color: var(--token-jgohepLVeKvh);
}
.slotTargetChildrensize_mini {
  font-size: 12px;
}
.slotTargetChildrenselected_color_light {
  color: var(--token-fni3nTjgVNW-);
}
.slotTargetChildrenstyle2_lineligt_selected {
  color: #535353;
}
.slotTargetChildrenchoise_selected {
  color: var(--token-80wG4y4sryg5);
}
.slotTargetChildrenselected_style3_radio {
  color: #535353;
}
.slotTargetChildrenselected_style2_grayBackgerand_color_light {
  color: var(--token-lszuI__rluy0);
}
.svg___1X5Pf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-47ovROB-Xr2C);
  width: 20px;
  height: 20px;
  align-self: flex-start;
  flex-shrink: 0;
  display: none;
}
.svgpair___1X5Pfd7LOr {
  display: block;
}
