.root {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  justify-self: flex-start;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 10.5rem 0 var(--token-ckp0_SexMOmY);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: 0px;
  top: 0px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__wxYE {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-ee2TuxDknsJj);
  row-gap: var(--token-IUVIp1DHBSFd);
  min-width: 0;
  padding: var(--token-xsiin-peP6fP) var(--token-xsiin-peP6fP)
    var(--token-TONjX_YbO9_T);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wxYE {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  opacity: 0.1;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__apRfu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__aXau {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-80wG4y4sryg5);
  width: var(--token-H_DkTyHUBUqw);
  height: var(--token-H_DkTyHUBUqw);
  flex-shrink: 0;
}
.freeBox__cY1Mv {
  animation: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Yo4gdKCgyuAu);
  left: auto;
  top: auto;
  bottom: 6px;
  right: 6px;
  border-radius: 50px;
  padding: 4px;
}
.svg__ji63W {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-fr7DwvJwRjZb);
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  flex-shrink: 0;
}
.text__bMlg7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  color: var(--token-A-PNbaadkZKd);
  font-size: var(--token-R7X4jvpZsbD-);
  min-width: 0;
}
.text__hfSiX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-NWiHR7h0ClTY);
  text-align: center;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  min-width: 0;
}
.freeBox___9IFyv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  row-gap: var(--token-TONjX_YbO9_T);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-TONjX_YbO9_T) 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9IFyv {
    width: 100%;
    grid-column-start: 3 !important;
    grid-column-end: -3 !important;
  }
}
.freeBox___9JjmT {
  background: var(--token-h2xt7bB598yU);
  box-shadow: 0px 2px 5px 0px #afa49199;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-0tl2H1TRPHhV);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox___5C91 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__ybHfZ {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text__sU1Id {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
.svg__gMpm {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-Yo4gdKCgyuAu);
  align-self: center;
  flex-shrink: 0;
}
.line__m2GoK:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__eLfl3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__zMxX {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text___6NLcd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
.svg__ptkOr {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-Yo4gdKCgyuAu);
  align-self: center;
  flex-shrink: 0;
}
.freeBox__dUvuz {
  background: var(--token-h2xt7bB598yU);
  box-shadow: 0px 2px 5px 0px #afa49199;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-0tl2H1TRPHhV);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__bvw0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__uqKim {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text__a2MQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
.svg___0HQm1 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-Yo4gdKCgyuAu);
  align-self: center;
  flex-shrink: 0;
}
.line__dfpV5:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__vnrYw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__h4Emz {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text__nLr14 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
.svg__wcYd6 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-Yo4gdKCgyuAu);
  align-self: center;
  flex-shrink: 0;
}
.freeBox___4PsTr {
  background: var(--token-h2xt7bB598yU);
  box-shadow: 0px 2px 5px 0px #afa49199;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-0tl2H1TRPHhV);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__er2Gs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__aL28T {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text__vxn0I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
._switch:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  align-self: center;
}
.line___7QHjk:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__lXidC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__m2ZPs {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text__lubJ9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
.switch2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
  align-self: center;
}
.freeBox__wCec3 {
  background: var(--token-h2xt7bB598yU);
  box-shadow: 0px 2px 5px 0px #afa49199;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-0tl2H1TRPHhV);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__npzrb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__oFjmx {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text__gyKf2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
.svg__wXr5C {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-Yo4gdKCgyuAu);
  align-self: center;
  flex-shrink: 0;
}
.line___5CaCz:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__aPmkP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__xF93B {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text__qicPw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
.svg__ytb59 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-Yo4gdKCgyuAu);
  align-self: center;
  flex-shrink: 0;
}
.line__svAnc:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__chlYp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__xY61 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.text__vbzEj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  align-self: center;
  min-width: 0;
}
.svg__f4JMl {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-Yo4gdKCgyuAu);
  align-self: center;
  flex-shrink: 0;
}
.freeBox__sqyt4 {
  background: var(--token-h2xt7bB598yU);
  box-shadow: 0px 2px 5px 0px #afa49199;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-0tl2H1TRPHhV);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV) var(--token-0tl2H1TRPHhV)
    var(--token-LBC0X5IbL9bo);
}
.freeBox__lTj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__bmKiq {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-sdHWFpeV8MAu);
  flex-shrink: 0;
}
.text__v37Am {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-sdHWFpeV8MAu);
  align-self: center;
  min-width: 0;
}
.svg__dbYGm {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-ddpevpfGL4QK);
  align-self: center;
  flex-shrink: 0;
}
