.root {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  height: auto;
  background: #f5efdb;
  position: relative;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__rltR7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox___1MiY2 {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1MiY2 {
    padding: var(--token-0tl2H1TRPHhV);
  }
}
.freeBox___2Zcwc {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 5rem 0px 3rem;
}
.img__yhWlm {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 3rem;
  filter: none;
}
.img__yhWlm > picture > img {
  object-fit: cover;
}
.text {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-bucIARGmMoc6);
  color: var(--token-ee2TuxDknsJj);
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.img__mo6Uf {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  mix-blend-mode: multiply;
  height: auto;
  filter: none;
  pointer-events: auto;
  opacity: 0.1;
  min-width: 0;
}
.img__mo6Uf > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mo6Uf {
    height: 100%;
    min-height: 0;
  }
}
