.dialog3:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls_Fli0O3GO-tDB {
  background: var(--token-Le07ngBUPl2h);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  z-index: 1000;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_pDP_j1uo0hoI {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
  }
}
.button3:global(.__wab_instance) {
  display: none;
}
.svg__mxTi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iPYbr {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: var(--token-80wG4y4sryg5);
  width: auto;
  max-width: 600px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 600px;
  max-height: 100%;
  overflow: auto;
  align-self: center;
  z-index: 1;
  right: auto;
  bottom: auto;
  border-radius: 8px;
  padding: var(--token-LBC0X5IbL9bo);
  border: 1px solid #e2e8f0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogContent:global(.__wab_instance) {
    width: 90vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 30%;
    min-width: 300px;
    margin-right: var(--token-LBC0X5IbL9bo);
    margin-left: var(--token-LBC0X5IbL9bo);
    column-gap: 0px;
    border-radius: 16px;
  }
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text {
  display: none;
}
.freeBox__aaxg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__xSRau {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-73iLa06AE6f4);
}
.freeBoxtype_error__xSRausD4Ir {
  padding-bottom: var(--token-rfsFxiclAtek);
}
.freeBox__rRdCb {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-R0SUfsNirUr0);
  z-index: 1;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.freeBoxtype_success__rRdCb8Py9Q {
  box-shadow: none;
  background: var(--token-mIWA40Rvp-L3);
}
.freeBoxtype_warning__rRdCBhtDkk {
  background: var(--token-u21Gzl9DygXI);
}
.freeBoxtype_info__rRdCb7BMrO {
  background: var(--token-mIWA40Rvp-L3);
}
.freeBoxtype_error__rRdCBsD4Ir {
  background: var(--token-tBlt_THhGKQw);
}
.svg__phgFj {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-7SzLzuTwCxD0);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.svgtype_warning__phgFjhtDkk {
  color: var(--token-47ovROB-Xr2C);
}
.svgtype_info__phgFj7BMrO {
  color: var(--token-ee2TuxDknsJj);
}
.svgtype_error__phgFjsD4Ir {
  color: var(--token-u2RgMe-uQAju);
}
.freeBox__ftClT {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot {
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 500;
  text-align: center;
}
.freeBox__rSwFz {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot2 {
  font-size: var(--token-N8Pb0ZuDQAeF);
  text-align: center;
}
.freeBox__n8IBz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-xf2ijuTrDk1U) 0px 0px;
}
.button2__pqrZ:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__uSpVo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__fwUoX {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.svg__sMWmI {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 16px;
}
