.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-c8-rjzKYORFj);
  position: relative;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.textlable {
  display: none;
}
.tags:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: right;
  background: none;
  min-width: 0;
}
