.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.topPage:global(.__wab_instance) {
  max-width: 100%;
  height: 80px;
  z-index: 1;
  flex-shrink: 0;
}
.mainPageCenter:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.mainPageCenterpage_centers:global(.__wab_instance) {
  display: flex;
}
.mainPageUser:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.mainPageUserpage_users:global(.__wab_instance) {
  display: flex;
}
.centerPage:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.centerPagepage_center:global(.__wab_instance) {
  display: flex;
}
.addService:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
.addServicepage_centers:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.addServicepage_center:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.button___51DYy:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.svg__hZHy {
  position: relative;
  height: 1em;
}
.svg__pUzL {
  position: relative;
  height: 1em;
}
.freeBox__oTin {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-0tl2H1TRPHhV);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.freeBox__qtlij {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.addServise2:global(.__wab_instance) {
  position: relative;
  width: 500px;
}
.freeBox__dlUm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
.submit2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg___55Ian {
  position: relative;
  height: 1em;
}
.text__gUaKg {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__jnJzk {
  position: relative;
  height: 1em;
}
.button6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__msx6X {
  position: relative;
  height: 1em;
}
.text__yAcc {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__esbLr {
  position: relative;
  height: 1em;
}
.mainPageCategories:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.mainPageCategoriespage_categories:global(.__wab_instance) {
  display: flex;
}
.mainPageReservation:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.mainPageReservationpage_reservations:global(.__wab_instance) {
  display: flex;
}
.mainPageServise:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: -2px;
  right: 0;
  display: none;
}
.mainPageServisepage_services:global(.__wab_instance) {
  display: flex;
}
.categories:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__rm8A1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.deleteSnakbar:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__r7Fcm {
  animation: none;
  font-weight: 600;
}
.text__eswZ5 {
  padding-bottom: 0px;
}
.freeBox__rkTkx {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.buttonDelete:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qb7VO {
  position: relative;
  height: 1em;
}
.text__hFcLz {
  animation: none;
  white-space: pre;
  color: var(--token-A-PNbaadkZKd);
}
.svg__lstjX {
  position: relative;
  height: 1em;
}
.buttonClose:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uwNb {
  position: relative;
  height: 1em;
}
.text__vbTlK {
  animation: none;
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__i9TUt {
  position: relative;
  height: 1em;
}
.deleteUser:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__zFHa9 {
  animation: none;
  font-weight: 600;
}
.text__iKn7M {
  padding-bottom: 0px;
}
.freeBox__zcim5 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.buttonDelete3:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q8AVr {
  position: relative;
  height: 1em;
}
.text__nKhvg {
  animation: none;
  white-space: pre;
  color: var(--token-A-PNbaadkZKd);
}
.svg__rqt5U {
  position: relative;
  height: 1em;
}
.buttonClose3:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__c8HFp {
  position: relative;
  height: 1em;
}
.text__wLkKq {
  animation: none;
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__svxzi {
  position: relative;
  height: 1em;
}
.deleteSnakbarcat:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.text__fCj1Y {
  animation: none;
  font-weight: 600;
}
.text__y5ZwW {
  padding-bottom: 0px;
}
.freeBox__pgXpu {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.buttonDelete2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zsry1 {
  position: relative;
  height: 1em;
}
.text___1P62L {
  animation: none;
  white-space: pre;
  color: var(--token-A-PNbaadkZKd);
}
.svg__iVbRw {
  position: relative;
  height: 1em;
}
.buttonClose2:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aU0JA {
  position: relative;
  height: 1em;
}
.text__kOmtx {
  animation: none;
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__y0Ixl {
  position: relative;
  height: 1em;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal__modal :global(.ant-modal-content) {
  display: flex;
  flex-direction: column;
  outline: none;
}
.tabs:global(.__wab_instance) {
  width: 600px;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  z-index: 2;
  left: auto;
  top: auto;
  position: relative;
  min-height: 0;
}
.tabs__tabs:global(.ant-tabs) :global(.ant-tabs-nav) {
  display: flex;
  flex-direction: row;
  column-gap: 0px;
  justify-content: flex-start;
  align-items: center;
  outline: none;
}
.tabItem__v9K1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jL3WD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 20px;
  padding-left: 0px;
  font-size: var(--token-R7X4jvpZsbD-);
  text-align: right;
  min-width: 0;
}
.userPanelInfo:global(.__wab_instance) {
  max-width: 100%;
}
.tabItem__m6Scq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vuwH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  text-align: right;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
  margin: 0px;
}
.centerInfo:global(.__wab_instance) {
  height: 400px;
}
.tabItem___9Pwwy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__q0V5E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.imag:global(.__wab_instance) {
  position: relative;
}
.tabItem___7Ihuq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xW6M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.loaction:global(.__wab_instance) {
  height: 400px;
}
.tabItem__hvk4I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xwmKh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.addServise:global(.__wab_instance) {
  position: relative;
}
.tabItem__aD35U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__ge21W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.timeWeek:global(.__wab_instance) {
  position: relative;
  height: 100%;
  min-height: 0;
}
.freeBox__cGp8Z {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__goR7 {
  position: relative;
  height: 1em;
}
.text__hr43P {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__huu4 {
  position: relative;
  height: 1em;
}
.submit:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__wNqRy {
  position: relative;
  height: 1em;
}
.text__bSwNw {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__iUjyd {
  position: relative;
  height: 1em;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__ljBlt {
  position: relative;
  height: 1em;
}
.text__a4BhN {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__pqJGp {
  position: relative;
  height: 1em;
}
.profilePage:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.profilePagepage_profile:global(.__wab_instance) {
  display: flex;
}
.mainPagePayment:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.mainPagePaymentpage_payments:global(.__wab_instance) {
  display: flex;
}
.userMain:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: none;
}
.userMainpage_user:global(.__wab_instance) {
  display: flex;
}
