.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-xf2ijuTrDk1U);
  background: var(--token-KrBMMqlPClZi);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 8px;
  border-top-width: 0px;
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  min-width: 0;
  border-radius: var(--token-73iLa06AE6f4);
  padding: var(--token-xf2ijuTrDk1U);
  border-style: solid;
  border-color: var(--token-xJjrlqTAl6fJ);
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__j75Ql {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  text-align: right;
  font-weight: 400;
  color: var(--token-IOS9J53_5LDk);
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ahNL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y5Pn {
  padding: var(--token-rfsFxiclAtek) var(--token-73iLa06AE6f4);
}
.svg__fLsja {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-2ObYh10hZuCh);
  flex-shrink: 0;
}
