.root {
  animation: none;
  width: 100%;
  height: 1px;
  max-width: 100%;
  opacity: 0.2;
  color: var(--token-Le07ngBUPl2h);
  position: relative;
  min-width: 0;
  padding: 0px;
  border-bottom: var(--token-rfsFxiclAtek) solid var(--token-2aHIw8xI62Xi);
}
.rootsize_small {
  border-bottom-width: 1px;
}
