.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: var(--token-Ws0-_dtROA6x);
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-cfon0PHiXQoL) var(--token-rfsFxiclAtek);
}
.rootstatus_pending {
  background: var(--token-Ws0-_dtROA6x);
}
.rootstatus_confirmed {
  background: var(--token--ieHgGbFH1Fa);
}
.rootstatus_canceled {
  background: var(--token-Bo2_tT25lwh4);
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  text-align: center;
  white-space: pre;
  user-select: none;
  color: var(--token-1aP3XjRZIKFV);
  min-width: 0;
}
.textstatus_pending {
  color: var(--token-1aP3XjRZIKFV);
}
.textstatus_confirmed {
  color: var(--token-NWiHR7h0ClTY);
}
.textstatus_canceled {
  color: var(--token-NWiHR7h0ClTY);
}
