.root {
  background: var(--token-KPGXdu9o7llP);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  grid-row-gap: var(--token-eRNxHqcEHlFY);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-r7CyN1jk6eOo) 0px var(--token-73iLa06AE6f4);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__t1VCt {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.text__ixgdM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.name:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .name:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.code:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .code:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__gw1Vi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.selectGender:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.selectMarital:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__l2Ksp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.cityInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .cityInput:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox___9Gcq5 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 8px;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}
.modal__modal :global(.ant-modal-content) {
  background: var(--token-KPGXdu9o7llP);
  overflow: auto;
  outline: none;
  padding: 0px;
  margin: 0px;
}
.city:global(.__wab_instance) {
  max-width: 100%;
  height: 100vh;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 0px;
  height: 0px;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__oqYcQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oqYcQ {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.codeSubmit2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 50px;
  min-width: 0;
  flex-shrink: 0;
}
.svg___7Ylzq {
  position: relative;
  height: 1em;
}
.text__esbWm {
  white-space: pre;
  font-weight: 700;
}
.svg__kv9Hc {
  position: relative;
  height: 1em;
}
