.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: var(--token-Ws0-_dtROA6x);
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-cfon0PHiXQoL) var(--token-rfsFxiclAtek);
}
.rootstatus_pending {
  background: var(--token-Ws0-_dtROA6x);
}
.rootstatus_confirmed {
  background: var(--token--ieHgGbFH1Fa);
}
.rootstatus_canceled {
  background: var(--token-Es3BYpS8XP38);
}
.rootstatus_rejected {
  background: var(--token-Bo2_tT25lwh4);
}
.rootstatus_completed {
  background: var(--token-hd_-4ix45S80);
}
.roottextcolor_status_pending {
  background: none;
}
.roottextcolor_status_confirmed {
  background: none;
}
.roottextcolor_status_canceled {
  background: none;
}
.rootstatus_rejected_textcolor {
  background: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
