.root {
  box-shadow: 0px 2px 10px 0px #00000033;
  background: var(--token-k-47TemksE2v);
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  outline-width: 0px;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-height: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-Vi8cDx7an2mh);
  border: 2px solid #c4bea433;
}
.rootselect {
  background: #505f3a4d;
  border-width: 3px;
  border-color: var(--token--ieHgGbFH1Fa);
}
.text__yvMsu {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  white-space: pre;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.text__rUqt {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-R7X4jvpZsbD-);
  min-width: 0;
}
.text__avSc {
  animation: none;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  opacity: 0.2;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border-bottom: 2px solid var(--token-C6B6ZAuqICKE);
}
.freeBox__vb2H8 {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___0YeyR {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-9jx4RULNbWhl);
}
.freeBox__smBed {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.text__aZ5P {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-MAnhFXGh8Ir8);
  font-size: var(--token-9jx4RULNbWhl);
}
.svg__wjfw2 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MAnhFXGh8Ir8);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
