.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  border-radius: var(--token-LBC0X5IbL9bo);
  padding: var(--token-73iLa06AE6f4);
}
.freeBox__xiDa9 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  column-gap: var(--token-rfsFxiclAtek);
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-LBC0X5IbL9bo);
  padding: 0px;
}
.statusIcon:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vCUW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__k2QlL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  padding: 0px;
}
.text__wnq7Y {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-s6JDWwNdkMmO);
  font-size: var(--token-hbNq_Oz393_j);
  user-select: text;
  white-space: pre;
}
.textCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: right;
  display: none;
}
.textCollapsehome:global(.__wab_instance) {
  display: flex;
}
.freeBox__pJ6T1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBoxhome__pJ6T1QqzeO {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-LBC0X5IbL9bo);
  row-gap: 0px;
  padding: 0px;
}
.text__brkZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  display: none;
}
.texthome__brkZQqzeO {
  display: block;
}
.freeBox__d5Jnb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-RuQNZpYm0Yds);
  padding: 0px;
}
.freeBoxhome__d5JnbQqzeO {
  width: auto;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  padding: 0px;
}
.svg___2RoWs {
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.svghome___2RoWsQqzeO {
  display: block;
}
.text__bLH7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
}
.texthome__bLH7QqzeO {
  display: block;
}
.uploudeTime:global(.__wab_instance) {
  max-width: 100%;
}
.uploudeTimehome:global(.__wab_instance) {
  width: auto;
}
.add3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.add3home:global(.__wab_instance):global(.__wab_instance) {
  display: flex;
}
.svg__joor3 {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text___3W0YD {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__pi7GJ {
  position: relative;
  height: 1em;
}
.add6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.add6home:global(.__wab_instance):global(.__wab_instance) {
  display: flex;
}
.svg__ziznK {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__kQVpa {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__fFo3 {
  position: relative;
  height: 1em;
}
.freeBox__r7GrC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 200px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
.select2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.status:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dwid7 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  transition-property: all;
  transition-duration: 0.2s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}
.svgopen__dwid7Lb9Mw {
  transform: rotate3d(0, 0, -1, -180deg);
}
.svguser2__dwid7IZq9P {
  display: none;
}
.freeBox__kZi99 {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBoxuser2__kZi99IZq9P {
  display: none;
}
.freeBox___9VdfJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBoxopen___9VdfJLb9Mw {
  padding: 0px;
}
.freeBox__jTaB {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.topics:global(.__wab_instance) {
  max-width: 100%;
  width: 20%;
}
.topicshome:global(.__wab_instance) {
  width: 50%;
}
.freeBox___8WjW7 {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-73iLa06AE6f4);
  padding-top: var(--token-73iLa06AE6f4);
  width: 100%;
  min-width: 0;
}
.freeBoxopen___8WjW7Lb9Mw {
  width: 100%;
  min-width: 0;
}
.freeBox__pMYy {
  display: flex;
  flex-direction: column;
  row-gap: var(--token-cfon0PHiXQoL);
}
.freeBox__q5WS9 {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-cfon0PHiXQoL);
}
.svg__tzwA4 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ccqYe7dhXoNZ);
  width: var(--token-P3I_D0uxQRnt);
  height: var(--token-P3I_D0uxQRnt);
  align-self: center;
  flex-shrink: 0;
}
.span__afpmj {
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 600;
  font-size: var(--token-hbNq_Oz393_j);
}
.freeBox__vuAkY {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-rfsFxiclAtek);
  grid-column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox__zNvEm {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-rfsFxiclAtek);
}
.span__pygIt {
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.span__e2DtY {
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.freeBox___1Z3Tp {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-rfsFxiclAtek);
}
.span___8L5Yz {
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.span__qBuCr {
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.freeBox__x4NvF {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-rfsFxiclAtek);
}
.span__i6DVn {
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.span___0VYxv {
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.freeBox__gOxXi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBoxopen__gOxXiLb9Mw {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequestopen:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__q6Bzo {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-LBC0X5IbL9bo);
  grid-column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox___9SRa9 {
  background: none;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-rfsFxiclAtek);
  height: 40px;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
  border-bottom: 1px solid var(--token-LN1YkB123lXQ);
}
.freeBox__vGyOw {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-LBC0X5IbL9bo);
  grid-column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox___9Lhe {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-rfsFxiclAtek);
  padding-bottom: var(--token-cfon0PHiXQoL);
  border-bottom: 1px solid var(--token-LN1YkB123lXQ);
}
.span__bgJk8 {
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.span___72NLh {
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-N8Pb0ZuDQAeF);
  text-align: right;
}
.freeBox___8AIzy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBoxopen___8AIzyLb9Mw {
  padding: 0px;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__pCqBg {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-LBC0X5IbL9bo);
  grid-column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox__cEfi4 {
  background: none;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-rfsFxiclAtek);
  height: 40px;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
  border-bottom: 1px solid var(--token-LN1YkB123lXQ);
}
.freeBox__izUh9 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-LBC0X5IbL9bo);
  grid-column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.itemShow:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
.img > picture > img {
  object-fit: cover;
}
.add7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg___734V9 {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.svg__vRpa9 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 24px;
  color: var(--token-C6B6ZAuqICKE);
}
.svg__sJhgw {
  position: relative;
  height: 1em;
}
.text___4FRdx {
  width: 100%;
  font-size: var(--token-N8Pb0ZuDQAeF);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.add8:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  height: 35px;
}
.add8home:global(.__wab_instance):global(.__wab_instance) {
  display: flex;
}
.svg__jw8On {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text___868S9 {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__zrVok {
  position: relative;
  height: 1em;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequest3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.load:global(.__wab_instance) {
  max-width: 100%;
  height: 400px;
  width: 100%;
  min-width: 0;
}
.freeBox___2IaNm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-cfon0PHiXQoL);
}
.text__tw8Si {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
  padding: 0px;
}
.freeBox__gFw5U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__tTrHw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__gt6JZ {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-KjATzAYJ5IB7);
  padding-bottom: var(--token-cfon0PHiXQoL);
  min-width: 0;
}
.rangeSlider:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__xHv1 {
  position: relative;
}
.sliderThumb__wvsqw:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-D_3fp_JIDs1G);
}
.freeBox__mYoyK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__yjSjk {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-KjATzAYJ5IB7);
  padding-bottom: var(--token-cfon0PHiXQoL);
  min-width: 0;
}
.freeBox___2EhA0 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.dateInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.timeInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__fx17T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-0tl2H1TRPHhV);
  margin-top: var(--token-rfsFxiclAtek);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.add4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__teYoM {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__aqAcg {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__e65Iw {
  position: relative;
  height: 1em;
}
.add5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__l4Mqt {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text___0HLa0 {
  white-space: pre;
  color: var(--token-9M5jRUPt8Msb);
}
.svg__bpjd6 {
  position: relative;
  height: 1em;
}
