.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.text__cPh7C {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-RbglYLRm6z6H);
  min-width: 0;
}
.text__cn72U {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-ee2TuxDknsJj);
  font-weight: 700;
  min-width: 0;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
