.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-as44I7WwR-rZ);
  row-gap: var(--token-RuQNZpYm0Yds);
  position: relative;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-rfsFxiclAtek);
}
.freeBox___5TBp9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-cfon0PHiXQoL);
}
.text__eKrIb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
}
.text__iEYlq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
}
.text__hVeV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
}
.text__cS6Iv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
}
.freeBox__hLgqC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-h2xt7bB598yU);
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-rfsFxiclAtek);
}
.checkboxGroup:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vcghb {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-rfsFxiclAtek);
}
.freeBox__jgKsn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.text__tzo1X {
  position: relative;
  width: 60px;
  height: auto;
  max-width: 100%;
  text-align: right;
  align-self: center;
  flex-shrink: 0;
}
.freeBox___6EcYm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.start:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cblaD {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-cfon0PHiXQoL);
  padding: 0px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.text__jgBk8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
}
.timePickerStart:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.end:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vrY6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-cfon0PHiXQoL);
  padding: 0px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.text__hTdt9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
}
.timePickerEnd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: #ffffff;
}
.option1:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.text__iGha3 {
  display: none;
}
