.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-as44I7WwR-rZ);
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-73iLa06AE6f4) var(--token-rfsFxiclAtek);
}
.rootstaff {
  background: #ffffff00;
  padding: 0px;
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: var(--token-h2xt7bB598yU);
  min-width: 0;
}
.collapsestaff:global(.__wab_instance) {
  background: #ffffff00;
}
.text__yabPc {
  text-align: right;
}
.textstaff__yabPcnTldJ {
  display: none;
}
.freeBox__jVRnt {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  background: var(--token-h2xt7bB598yU);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-rfsFxiclAtek);
  margin: 0px;
}
.freeBoxstaff__jVRntnTldJ {
  padding: 0px;
  margin: -40px 0px 0px;
}
.freeBox__lHa2X {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__smzBq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.name:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__petP2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__y1F6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__rQuxI {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__uJrxl {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__mx40K {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.time:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__o623I {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__mXltg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.time2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__thDqn {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBox__daGdO {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__rfI1I {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.prise:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wfTwm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__z8Qsw {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.off:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.radioGroup:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___83OeF {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  text-align: right;
  margin-bottom: var(--token-cfon0PHiXQoL);
  min-width: 0;
}
.freeBox__iHtq {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-D_3fp_JIDs1G);
}
.radio:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__whj2X {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__nvXjD {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__hrEQs {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-1aP3XjRZIKFV);
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
}
.svgstaff__hrEQsnTldJ {
  display: none;
}
.button5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.button5staff:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.svg__h8LiJ {
  position: relative;
  height: 1em;
}
.text__n2RDw {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
  font-size: var(--token-AFv7sfVuyqL3);
  padding-top: var(--token-RuQNZpYm0Yds);
  padding-bottom: var(--token-RuQNZpYm0Yds);
}
.svg__n7OUf {
  position: relative;
  color: var(--token-1aP3XjRZIKFV);
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
}
