.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  position: relative;
  padding: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Pxe4wDL2kJpb);
  transition-property: all;
  transition-duration: 0.3s;
  width: var(--token-P3I_D0uxQRnt);
  height: var(--token-P3I_D0uxQRnt);
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
}
.svgactiv {
  color: var(--token-47ovROB-Xr2C);
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.slotTargetChildren {
  font-family: "Roboto", sans-serif;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: normal;
  font-style: normal;
  color: var(--token-Le07ngBUPl2h);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotTargetChildren {
    font-size: var(--token-w-4Gcj0_UzPS);
  }
}
