.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__sbTC {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-c8-rjzKYORFj);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox___2WiRe {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-pRs3-4jrQ4XQ);
  border-radius: 50%;
  padding: 0.3rem;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 120px;
  width: 120px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__gXv3P {
  animation: none;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-ee2TuxDknsJj);
  left: auto;
  top: auto;
  bottom: 4px;
  right: 4px;
  border-radius: 50px;
  padding: 8px;
}
.svg___1T0M4 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-A-PNbaadkZKd);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.upload:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  background: none;
  width: 100%;
  min-width: 0;
}
.freeBox__rl1HK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__urAae {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-AUBHFmH0aB1O);
  height: var(--token-CVjaMVgIQl_G);
  flex-shrink: 0;
}
.text__cEbj7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  min-width: 0;
}
.freeBox___0FhIl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-Ws0-_dtROA6x);
  border-radius: var(--token-c8-rjzKYORFj);
  padding: var(--token-RuQNZpYm0Yds) var(--token-rfsFxiclAtek);
}
.text__xMqsr {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
  font-size: var(--token-R7X4jvpZsbD-);
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
