.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 80px var(--token-73iLa06AE6f4) 0px 0px;
}
.freeBox__zcQjF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px var(--token-73iLa06AE6f4);
}
.freeBox__k8Qcy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  flex-shrink: 0;
  padding: 0px;
}
.select2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.menuItem__kgz5G:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.menuSection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kmlqL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  align-self: stretch;
  padding: 0px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__otOg3 {
  position: relative;
  height: 1em;
}
.text__czTfz {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg___2KyCf {
  position: relative;
  width: var(--token-zOTmRNiLzxBx);
  height: var(--token-zOTmRNiLzxBx);
  color: var(--token-W0eejbtvb0xw);
}
.freeBox___13Q1U {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  display: none;
  padding: 0px;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.menuSection__tyQmG:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__ukUgC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qT9Sf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.freeBox__aIv58 {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  border-top-left-radius: var(--token-73iLa06AE6f4);
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.reviews:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ltojb {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  column-gap: var(--token-TONjX_YbO9_T);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.svg__u6FC {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  color: var(--token-ehVEIAjb9HeO);
  flex-shrink: 0;
}
.freeBox__nUHbo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__xHwYq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-cfon0PHiXQoL);
  border-left-width: 1px;
  border-left-style: solid;
  min-height: 0;
  padding: var(--token-73iLa06AE6f4);
}
.text___9UbIv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-1aP3XjRZIKFV);
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  min-width: 0;
}
.freeBox___0BOqc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-A-PNbaadkZKd);
  column-gap: var(--token-cfon0PHiXQoL);
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-0tl2H1TRPHhV);
  padding: var(--token-cfon0PHiXQoL) var(--token-rfsFxiclAtek);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: cover;
}
.textCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  width: 100%;
  align-self: center;
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.text__xrmFd {
  position: relative;
  width: 20px;
  height: 20px;
  max-width: 100%;
  align-self: center;
  text-align: center;
  background: var(--token--ieHgGbFH1Fa);
  color: var(--token-CoQ7kPLW8rRe);
  font-size: var(--token-R7X4jvpZsbD-);
  flex-shrink: 0;
  border-radius: 50px;
}
.freeBox__oQxdu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-cfon0PHiXQoL);
  border-left-width: 1px;
  border-left-style: solid;
  min-height: 0;
  padding: var(--token-73iLa06AE6f4);
}
