.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 8px;
  border-bottom: 1px solid var(--token-pyhDq7s0RTkz);
}
.rootselect {
  border-bottom-width: 0px;
  padding: 0px 0px 8px;
}
.freeBox__xll2R {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: var(--token-xf2ijuTrDk1U);
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 0px;
  padding: var(--token-xf2ijuTrDk1U);
}
.freeBoxselect__xll2ROCuYi {
  outline-width: 2px;
  outline-color: var(--token-KjATzAYJ5IB7);
  outline-offset: -2px;
  outline-style: solid;
  border-radius: var(--token-kD77h-2NGSqI);
  border: 0px solid var(--token-KjATzAYJ5IB7);
}
.freeBoxdisable__xll2R7XmEp {
  opacity: 0.5;
}
.freeBox___5JiuW {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__kvHNx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  padding: 0px;
}
.freeBox__pSUpy {
  animation: none;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-pyhDq7s0RTkz);
  column-gap: var(--token-xf2ijuTrDk1U);
  border-radius: 500px;
  padding: var(--token-rfsFxiclAtek);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pSUpy {
    animation: none;
  }
}
._3DIcon:global(.__wab_instance) {
  position: relative;
}
.freeBox__gSglG {
  animation: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__drBYc {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-hbNq_Oz393_j);
  text-align: right;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  color: var(--token-9M5jRUPt8Msb);
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__drBYc {
    animation: none;
  }
}
.freeBox__pz5Vb {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pz5Vb {
    animation: none;
  }
}
.slotTargetChildren {
  font-family: "Roboto", sans-serif;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  font-style: normal;
  color: var(--token-KjATzAYJ5IB7);
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.freeBox__uIpOg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__opilB {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  text-align: right;
  white-space: pre;
  column-gap: var(--token-LBC0X5IbL9bo);
  padding: 0px var(--token-xf2ijuTrDk1U) 0px 0px;
}
.freeBoxselect__opilBoCuYi {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-LBC0X5IbL9bo);
  row-gap: 0px;
}
.text__jolYx {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-N8Pb0ZuDQAeF);
  color: var(--token-7w1hHBafObn7);
  text-align: right;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jolYx {
    animation: none;
  }
}
.text__qLwqw {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  left: auto;
  top: auto;
}
.textselect__qLwqwOCuYi {
  left: auto;
  top: auto;
  display: block;
}
.text__rgWwv {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  left: auto;
  top: auto;
}
.textselect__rgWwvoCuYi {
  left: auto;
  top: auto;
  display: block;
}
.freeBox__hF27A {
  animation: none;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
}
.button4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  display: none;
}
.button4select:global(.__wab_instance) {
  display: flex;
}
.freeBox___3OKib {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 32px;
  height: 32px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4rem;
}
.svg___4Lxs3 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-7w1hHBafObn7);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__iTbIo {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.button3select:global(.__wab_instance) {
  display: none;
}
.svg___35Sy2 {
  animation: none;
  position: relative;
  object-fit: cover;
  width: 15px;
  height: 15px;
  color: var(--token-7w1hHBafObn7);
}
.svgsend___35Sy2Tkklv {
  color: var(--token-80wG4y4sryg5);
}
.svgdisable_send___35Sy27XmEpTkklv {
  color: var(--token-a9mEyVfKVz5O);
}
.text__i3OIq {
  animation: none;
  color: var(--token-7w1hHBafObn7);
}
.textsend__i3OIqTkklv {
  color: var(--token-80wG4y4sryg5);
}
.textdisable_send__i3OIq7XmEpTkklv {
  color: var(--token-a9mEyVfKVz5O);
}
.svg__nLhk {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
