.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 80px var(--token-73iLa06AE6f4) 0px 0px;
}
.freeBox___8Axu3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px var(--token-73iLa06AE6f4);
}
.freeBoxrole_centerAdmin___8Axu3YAzPv {
  justify-content: flex-end;
  align-items: center;
}
.freeBox__itXc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  flex-shrink: 0;
  padding: 0px;
}
.freeBoxrole_centerAdmin__itXcYAzPv {
  display: none;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__wdbLm {
  position: relative;
  color: var(--token-s6JDWwNdkMmO);
  width: var(--token-TONjX_YbO9_T);
  height: var(--token-TONjX_YbO9_T);
}
.text__tnH9A {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__owwKo {
  position: relative;
  height: 1em;
}
.freeBox___6MUzw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-0tl2H1TRPHhV);
  align-self: stretch;
  padding: 0px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__iAeue {
  position: relative;
  height: 1em;
}
.text___8SIs0 {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
  padding-right: var(--token-rfsFxiclAtek);
  padding-left: var(--token-rfsFxiclAtek);
}
.textrole_superAdmin___8SIs0ZnNdg {
  padding: 0px var(--token-xf2ijuTrDk1U);
}
.svg__br894 {
  position: relative;
  width: var(--token-zOTmRNiLzxBx);
  height: var(--token-zOTmRNiLzxBx);
  color: var(--token-W0eejbtvb0xw);
}
.updates:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__shBxU {
  position: relative;
  height: 1em;
}
.text__fXlG {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
  padding-right: var(--token-rfsFxiclAtek);
  padding-left: var(--token-rfsFxiclAtek);
}
.textrole_superAdmin__fXlGZnNdg {
  padding-right: var(--token-rfsFxiclAtek);
  padding-left: var(--token-rfsFxiclAtek);
}
.svg__qbg5L {
  position: relative;
  width: var(--token-zOTmRNiLzxBx);
  height: var(--token-zOTmRNiLzxBx);
  color: var(--token-W0eejbtvb0xw);
}
.freeBox__wzBu6 {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  display: none;
  padding: 0px;
}
.freeBoxrole_superAdmin__wzBu6ZnNdg {
  display: none;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.menuSection___8MswC:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__fzmfo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__efevH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
.active:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__oawUo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  column-gap: var(--token-TONjX_YbO9_T);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.freeBox__mNl5M {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  background: none;
  row-gap: var(--token-TONjX_YbO9_T);
  overflow: auto;
  min-height: 0;
  padding: 0px;
}
.freeBox__g8Qhp {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  flex-direction: column;
  width: 100%;
  height: 210px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-LBC0X5IbL9bo);
  min-width: 0;
  flex-shrink: 0;
  display: none;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV) var(--token-0tl2H1TRPHhV)
    var(--token-LBC0X5IbL9bo);
}
.freeBoxrole_superAdmin__g8QhpZnNdg {
  display: flex;
}
.freeBoxrole_centerAdmin__g8QhpyAzPv {
  display: none;
}
.freeBox__gLsQa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__rw95I {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.text__vP36M {
  box-shadow: none;
  background: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--token-KjATzAYJ5IB7);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.edit5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__bc0DR {
  position: relative;
  height: 1em;
}
.text__lpcL3 {
  white-space: pre;
  color: var(--token-pRs3-4jrQ4XQ);
}
.svg__mkDcr {
  position: relative;
  height: 1em;
}
.freeBox__mw4Dg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__wc54E {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__hOngQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.line__lFur7:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__ct8RK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__z4I7E {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__k5Oe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.line__p1W0N:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__sBQu4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.text__vzYpG {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__q1Mnn {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.freeBox__hqCi5 {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-LBC0X5IbL9bo);
  min-height: 600px;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.text__q3RPi {
  box-shadow: none;
  background: none;
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-9jx4RULNbWhl);
  color: var(--token-KjATzAYJ5IB7);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  row-gap: var(--token-cfon0PHiXQoL);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.freeBox__qBeZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__oibNb {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.freeBox__jvPaj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50px;
  height: 50px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: var(--token-IUVIp1DHBSFd) solid var(--token-ee2TuxDknsJj);
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__qGsBx {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-ee2TuxDknsJj);
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 4px;
}
.svg__orM08 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-A-PNbaadkZKd);
  width: var(--token-rfsFxiclAtek);
  height: var(--token-rfsFxiclAtek);
  flex-shrink: 0;
}
.freeBox___7OxNq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text___2PG7X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text___54T9U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-AFv7sfVuyqL3);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.line__o5Lne:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__sNseQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox___3Ot7L {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-RuQNZpYm0Yds);
}
.text__mQyXq {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 600;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.edit3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__ySgk7 {
  position: relative;
  height: 1em;
}
.text__zbKJ {
  white-space: pre;
  color: var(--token-pRs3-4jrQ4XQ);
}
.svg__uLfyw {
  position: relative;
  height: 1em;
}
.text___7BlUz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.text__nwbpv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.line__kCzP9:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.linerole_superAdmin__kCzP9ZnNdg:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__lcMn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__tKDma {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-RuQNZpYm0Yds);
}
.text__em9K1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 600;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.edit4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__tudZe {
  position: relative;
  height: 1em;
}
.text__sl9Pn {
  white-space: pre;
  color: var(--token-pRs3-4jrQ4XQ);
}
.svg__lzQqb {
  position: relative;
  height: 1em;
}
.freeBox__qNnue {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__pzYEz {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__bvtQl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.freeBox__i8XyX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lwBqf {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__cLqe2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.line__sbUbe:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.linerole_centerAdmin__sbUbeyAzPv:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__uiica {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek) var(--token-rfsFxiclAtek) 0px 0px;
  padding: var(--token-0tl2H1TRPHhV) var(--token-0tl2H1TRPHhV)
    var(--token-P3I_D0uxQRnt);
}
.text__jvPce {
  box-shadow: none;
  background: none;
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-9jx4RULNbWhl);
  color: var(--token-KjATzAYJ5IB7);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  row-gap: var(--token-cfon0PHiXQoL);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.tags:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__bzLzi {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  background: none;
  row-gap: var(--token-TONjX_YbO9_T);
  overflow: auto;
  min-height: 0;
  padding: 0px;
}
.freeBox__yNDuv {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__nhkQ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg___3WM3W {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: var(--token-GEppKCdlxgWK);
  outline-width: 3px;
  outline-offset: -1.8px;
  color: var(--token-lZIcjtq6huau);
  flex-shrink: 0;
  border-radius: 50%;
}
.text__wX7O {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__ax9Hk {
  position: relative;
  height: 1em;
}
.text__hDFj {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
  padding-right: var(--token-LBC0X5IbL9bo);
  padding-left: var(--token-LBC0X5IbL9bo);
  font-size: var(--token-9jx4RULNbWhl);
}
.svg___8LXe9 {
  position: relative;
  height: 1em;
}
.imageEdit:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__qfbjd {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__aH3K {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg__r7MiH {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: var(--token--ieHgGbFH1Fa);
  outline-width: 3px;
  outline-offset: -1.8px;
  color: var(--token-fyoD0poQfxvl);
  flex-shrink: 0;
  border-radius: 50%;
}
.text__qtPrM {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.addServise2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__fJqy2 {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__zznIk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg__dkXoQ {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: var(--token-PCo3WmJeAQoj);
  outline-width: 3px;
  outline-offset: -1.8px;
  color: var(--token-xZK-xLPCiE1W);
  flex-shrink: 0;
  border-radius: 50%;
}
.text__yzU5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.timeWeek:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__hXsWz {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek) var(--token-rfsFxiclAtek) 0px 0px;
  padding: var(--token-0tl2H1TRPHhV) var(--token-0tl2H1TRPHhV)
    var(--token-P3I_D0uxQRnt);
}
.freeBox__pQzBp {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg___3YIxt {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: #ff7189;
  outline-width: 3px;
  outline-offset: -1.8px;
  color: var(--token-cJ1sPX79UZ5i);
  flex-shrink: 0;
  border-radius: 50%;
}
.text___6GaT {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.comments:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__qKn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  column-gap: var(--token-TONjX_YbO9_T);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.svg__m9TtH {
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  color: var(--token-ehVEIAjb9HeO);
  flex-shrink: 0;
}
.center:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qHpfr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.centerInfo:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__rYIjL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
.saveInfo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg___9GPnh {
  position: relative;
  height: 1em;
}
.text__uSnuT {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg___4LwRn {
  position: relative;
  height: 1em;
}
.button5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__hh7B {
  position: relative;
  height: 1em;
}
.text__ogyTg {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__suA6N {
  position: relative;
  height: 1em;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jQu0H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.userPanelInfo:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__t8V {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
.saveInfo3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__pYcct {
  position: relative;
  height: 1em;
}
.text__eulnO {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__kcmT3 {
  position: relative;
  height: 1em;
}
.button6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__aFyAa {
  position: relative;
  height: 1em;
}
.text__o5Apx {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__sRver {
  position: relative;
  height: 1em;
}
.imageinsert:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__esf8Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.imag:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wd8Dh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveUpload:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg___9Z0ZJ {
  position: relative;
  height: 1em;
}
.text__p2OSp {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__na74G {
  position: relative;
  height: 1em;
}
.close:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg___0D4I6 {
  position: relative;
  height: 1em;
}
.text__ybbhG {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__wiJic {
  position: relative;
  height: 1em;
}
.imageProfile:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox___0RywX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.imageProfile2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__tRg4R {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveUpload2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__csCKp {
  position: relative;
  height: 1em;
}
.text__icrwc {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__qXtR {
  position: relative;
  height: 1em;
}
.close2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__eX72G {
  position: relative;
  height: 1em;
}
.text___11Yvd {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__gM4P4 {
  position: relative;
  height: 1em;
}
.map:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__rixzn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.loaction:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__cU87L {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveInfo2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  align-self: flex-start;
  min-width: 0;
}
.svg__nhrvh {
  position: relative;
  height: 1em;
}
.text__myGwX {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg___6KmVw {
  position: relative;
  height: 1em;
}
.button7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__jproD {
  position: relative;
  height: 1em;
}
.text__ga6Wr {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__q4Hy {
  position: relative;
  height: 1em;
}
