.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  border-radius: var(--token-LBC0X5IbL9bo);
  padding: var(--token-73iLa06AE6f4);
}
.freeBox__xiDa9 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  column-gap: var(--token-rfsFxiclAtek);
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-LBC0X5IbL9bo);
  padding: 0px;
}
.statusIcon:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vCUW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__wnq7Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-s6JDWwNdkMmO);
  font-size: var(--token-hbNq_Oz393_j);
  min-width: 0;
}
.text__bFfmy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  color: var(--token-RbglYLRm6z6H);
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.add:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 120px;
  flex-shrink: 0;
}
.svg__irS4T {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__pPgHu {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__nLi8C {
  position: relative;
  height: 1em;
}
.svg__dwid7 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  transition-property: all;
  transition-duration: 0.2s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
}
.svgopen__dwid7Lb9Mw {
  transform: rotate3d(0, 0, -1, -180deg);
}
.freeBox__g5Ljn {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-k-47TemksE2v);
  cursor: pointer;
  row-gap: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  display: none;
  border-radius: var(--token-LBC0X5IbL9bo);
  padding: var(--token-rfsFxiclAtek) var(--token-73iLa06AE6f4);
}
.freeBoxopen__g5LjnLb9Mw {
  display: flex;
}
.text__jQxhK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.text__tfY45 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-R7X4jvpZsbD-);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
