.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  grid-row-gap: var(--token-xf2ijuTrDk1U);
  padding-bottom: 10rem;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__bbetx {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-80wG4y4sryg5);
  min-width: 0;
  display: none;
  border-radius: var(--token-73iLa06AE6f4);
  padding: var(--token-LBC0X5IbL9bo);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bbetx {
    padding: var(--token-TONjX_YbO9_T);
  }
}
.text__xkLbK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-bucIARGmMoc6);
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.text__olVmZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-N8Pb0ZuDQAeF);
  color: var(--token-LqpCVPPZF4_r);
  min-width: 0;
}
.freeBox__tvHwT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tvHwT {
    overflow: hidden;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__mqvys {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-xf2ijuTrDk1U);
  min-width: 0;
  padding: 0px;
}
.freeBox__oyFl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-80wG4y4sryg5);
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-73iLa06AE6f4);
  padding: var(--token-TONjX_YbO9_T);
}
.freeBox__bd01 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-80wG4y4sryg5);
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-73iLa06AE6f4);
  padding: var(--token-TONjX_YbO9_T);
}
.freeBox___2K190 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-xf2ijuTrDk1U);
  min-width: 0;
  min-height: 0;
}
.freeBox__jZOn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  row-gap: var(--token-xf2ijuTrDk1U);
  min-width: 0;
  padding: 0px var(--token-LBC0X5IbL9bo);
}
.freeBox__oWqpd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__hVxI {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-_dzRzBMvro_R);
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
}
.freeBox__hyCas {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 15px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;
  transform: scale3d(2.8, 1, 1);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__sApOj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-xf2ijuTrDk1U) var(--token-LBC0X5IbL9bo) 0px;
}
.text__pEzqu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-Tca_MqWoqq_b);
  text-align: right;
  min-width: 0;
}
.freeBox___7RWFu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-xf2ijuTrDk1U);
  min-width: 0;
  padding: 0px 0px var(--token-73iLa06AE6f4);
}
.freeBox__rZTb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.freeBox__sLbXn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-xf2ijuTrDk1U);
  padding: 0px;
}
.text___7Ib7T {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-7w1hHBafObn7);
  font-size: var(--token-N8Pb0ZuDQAeF);
}
.text__zd5Px {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-clkRsHVdZgT8);
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.text__c6L68 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.freeBox__yhvDe {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-right-radius: var(--token-73iLa06AE6f4);
  border-top-left-radius: var(--token-73iLa06AE6f4);
  row-gap: var(--token-LBC0X5IbL9bo);
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: var(--token-80wG4y4sryg5);
  padding: 0px var(--token-LBC0X5IbL9bo) var(--token-LBC0X5IbL9bo);
  border: 1px solid var(--token-kI60KiRr_Lur);
}
.freeBox__oReja {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-rfsFxiclAtek);
  box-shadow: none;
  background: #d1bce680;
  border-bottom-right-radius: var(--token-xf2ijuTrDk1U);
  border-bottom-left-radius: var(--token-xf2ijuTrDk1U);
  padding: var(--token-rfsFxiclAtek) var(--token-LBC0X5IbL9bo);
}
.text__b1214 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 500;
  color: var(--token-Whk8GGnOh2JA);
}
.freeBox__ju9Ge {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox__uZgwj {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox__hvdb8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-xf2ijuTrDk1U);
  padding: 0px;
}
.text___4IgNl {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-a13HKnxwl17E);
  font-weight: 700;
  font-size: var(--token-Tca_MqWoqq_b);
  min-width: 0;
}
.text__oLnI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-Tca_MqWoqq_b);
}
.button2___2GUhg:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__heSgo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__zDS8 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
