.root {
  background: none;
  outline-color: var(--token-pRs3-4jrQ4XQ);
  outline-style: solid;
  outline-width: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-gLYiSvxc94NR) var(--token-Vi8cDx7an2mh);
  border: 2px solid #c4bea433;
}
.rootselect {
  background: #505f3a4d;
  border-width: 3px;
  border-color: var(--token--ieHgGbFH1Fa);
}
.text {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 400;
  font-size: var(--token-9jx4RULNbWhl);
  line-height: 1;
  margin-top: 2px;
}
