.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 0px 8px;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: var(--token-a9mEyVfKVz5O);
  text-align: center;
  min-width: 0;
}
