.root {
  background: var(--token-h2xt7bB598yU);
  box-shadow: 0px 2px 5px 0px #afa49199;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-gLYiSvxc94NR);
  position: relative;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-rfsFxiclAtek);
}
.freeBox__kPnDw {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: var(--token-gLYiSvxc94NR);
  justify-content: space-between;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 3rem;
  height: 3rem;
  align-self: center;
  object-position: 100% 100%;
  flex-shrink: 0;
  border-radius: 50%;
  border-width: 0px;
}
.img > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.freeBox__andtq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__x5A1M {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__xrzdc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.text__agEiw {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 600;
  font-size: var(--token-ehIkf6s-dMLU);
  text-align: right;
}
.freeBox__z5Dw1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-D_3fp_JIDs1G);
  padding: 0px;
}
.svg__utGn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-gzfwquJiFTd8);
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.text__urzHj {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-KjATzAYJ5IB7);
  font-weight: 600;
  font-size: var(--token-U1UvBDD-VoLt);
  text-align: right;
}
.status:global(.__wab_instance) {
  position: relative;
  display: none;
}
.textCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  text-align: right;
  font-size: var(--token-U1UvBDD-VoLt);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.freeBox__b41Xr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.svg__miLsI {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text___8D7Sn {
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  opacity: 0.2;
  min-width: 0;
  flex-shrink: 0;
  display: none;
  border-bottom: 1px solid var(--token-C6B6ZAuqICKE);
}
