.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox___0Sb7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oz14 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: var(--token-cfon0PHiXQoL);
}
.text___0YIhU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  opacity: 0;
}
.text__iQu6T {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
}
.text__v7HP0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
}
.text__y36S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  opacity: 0;
}
.radioGroup:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.radio:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.text__h56Kf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__sCqQz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-c8-rjzKYORFj);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__fy4J3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-h2xt7bB598yU);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-cfon0PHiXQoL);
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  border-radius: var(--token-rfsFxiclAtek);
}
.img > picture > img {
  object-fit: cover;
}
.text__lI0Ry {
  position: relative;
  width: 30px;
  height: 30px;
  max-width: 100%;
  text-align: center;
  align-self: center;
  background: var(--token-as44I7WwR-rZ);
  line-height: 1;
  flex-shrink: 0;
  border-radius: var(--token-c8-rjzKYORFj);
  padding: var(--token-cfon0PHiXQoL) var(--token-rfsFxiclAtek);
}
.freeBox__tiFp1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  column-gap: var(--token-IUVIp1DHBSFd);
  padding: 0px;
}
.svg__tcXr {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
  color: var(--token-clkRsHVdZgT8);
  cursor: pointer;
  flex-shrink: 0;
}
.svg___4OZtr {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
  color: var(--token-clkRsHVdZgT8);
  flex-shrink: 0;
}
