.root {
  background: var(--token-KPGXdu9o7llP);
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-tQNX9MsWMvEv) 0px var(--token-r7CyN1jk6eOo);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.reservation:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qIduB {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-fEaUg40ICnXp);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qIduB {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px var(--token-0tl2H1TRPHhV);
  }
}
.freeBox__egf40 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 8px;
}
.freeBox__mhFwg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 8px;
}
.freeBox__viKyl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 8px;
}
.freeBox__t5Rev {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-fEaUg40ICnXp);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t5Rev {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px var(--token-0tl2H1TRPHhV);
  }
}
.itemBooking:global(.__wab_instance) {
  max-width: 100%;
}
.section {
  animation: none;
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  left: 0px;
  top: -1px;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
