.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.rootselect {
  padding: 0px;
}
.roothaveSubItem {
  padding: 0px;
}
.freeBox__jkFp4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: var(--token-rfsFxiclAtek);
}
.freeBoxselect__jkFp478MmN {
  background: var(--token-oMej9DCdGzNU);
  border-radius: var(--token-rfsFxiclAtek);
}
.menuIcon:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.menuIconselect:global(.__wab_instance) {
  flex-shrink: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-9jx4RULNbWhl);
  color: var(--token-KjATzAYJ5IB7);
  align-self: center;
  min-width: 0;
}
.textselect {
  color: var(--token-9M5jRUPt8Msb);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
  flex-shrink: 0;
  display: none;
}
.svghaveSubItem {
  display: block;
}
.freeBox__auT2X {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: var(--token-rfsFxiclAtek) var(--token-rfsFxiclAtek)
    var(--token-rfsFxiclAtek) 0px;
}
.freeBoxopensubItem_haveSubItem__auT2X4WtVyS82RI {
  display: flex;
}
.panelMenuSubItem:global(.__wab_instance) {
  max-width: 100%;
}
