.root {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-CoQ7kPLW8rRe);
  row-gap: var(--token-LBC0X5IbL9bo);
  position: relative;
  border-radius: var(--token-73iLa06AE6f4);
  padding: 2.5rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox___98Omj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-73iLa06AE6f4);
}
.text__ey6Nd {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  min-width: 0;
}
.text___2IjOq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-C6B6ZAuqICKE);
  text-align: center;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.userName:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__yUlH5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.password:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.hide:global(.__wab_instance) {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 0;
  flex-shrink: 0;
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox___0I3Xw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.check:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.text___6BvvT {
  font-size: var(--token-R7X4jvpZsbD-);
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__yhlXb {
  position: relative;
  height: 1em;
}
.text__orpQm {
  white-space: pre;
  color: var(--token-ee2TuxDknsJj);
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 700;
}
.svg__azyEd {
  position: relative;
  height: 1em;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: var(--token-rfsFxiclAtek);
  margin-bottom: 0px;
  height: auto;
  min-width: 0;
}
.svg__uIaWk {
  position: relative;
  height: 1em;
}
.text__mrUbL {
  white-space: pre;
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  padding-top: var(--token-RuQNZpYm0Yds);
  padding-bottom: var(--token-RuQNZpYm0Yds);
}
.svg__ftl7O {
  position: relative;
  height: 1em;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__g1PIe {
  position: relative;
  height: 1em;
}
.text___8PGo {
  white-space: pre;
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
}
.svg__yzvjg {
  position: relative;
  height: 1em;
}
