.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.timeShow:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
