.dialog3:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls_bsZUWLtSk5Vu {
  background: var(--token-Le07ngBUPl2h);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_DZh5IDQdayKU {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
  }
}
.button3:global(.__wab_instance) {
  display: none;
}
.svg__fIbcx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__y2ERs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: var(--token-KPGXdu9o7llP);
  width: auto;
  max-width: 600px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 600px;
  max-height: 100%;
  overflow: auto;
  align-self: center;
  z-index: 1;
  right: auto;
  bottom: auto;
  border-radius: 8px;
  padding: var(--token-LBC0X5IbL9bo);
  border: 0px solid var(--token-Le07ngBUPl2h);
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogContent:global(.__wab_instance) {
    height: auto;
    max-width: 100vw;
    min-width: 100vw;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }
}
.dialogContentfullpage:global(.__wab_instance) {
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: var(--token-80wG4y4sryg5);
  border-radius: 0px;
  padding: 0px;
}
.dialogContentnopadding:global(.__wab_instance) {
  padding: 0px;
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text {
  display: none;
}
.fragmentApiRequest__omM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__x0La5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__o5Hs9 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Yo4gdKCgyuAu);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.text__jVuK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__te79L {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__h4SPo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  row-gap: var(--token-xf2ijuTrDk1U);
  min-width: 0;
}
.freeBox__bKxpO {
  width: 100px;
  height: 6px;
  max-width: 100%;
  background: var(--token-y50Rafqey4Ec);
  flex-shrink: 0;
  display: none;
  border-radius: 100px;
  padding: 2px;
}
.dialogTitle__cnt0A:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin: 0px;
}
.h5__vxVEv {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 0;
}
.text__tSraP {
  font-size: var(--token-AFv7sfVuyqL3);
  font-weight: 700;
  font-style: normal;
  color: var(--token-iVlRcbuW8di4);
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "Roboto", sans-serif;
}
.freeBox__eflwV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: var(--token-xf2ijuTrDk1U);
  row-gap: 8px;
  min-width: 0;
}
.text__f2PF {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-AFv7sfVuyqL3);
  font-weight: 400;
  font-style: normal;
  color: var(--token-iVlRcbuW8di4);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "Roboto", sans-serif;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__mpAGe {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__zbLHz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: none;
  left: auto;
  top: auto;
  row-gap: 5px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #d2d2d2;
}
.freeBox__pnksz {
  display: block;
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #7444bc33;
  left: 8px;
  top: -170px;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px 8px 2px;
}
.text__w2UAb {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.freeBox__flgr8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__dPAlG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: justify;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__qyhMq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__b6PZm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: line-through;
  text-overflow: clip;
  min-width: 0;
}
.text__byMsW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__e5URu {
  display: flex;
  position: sticky;
  width: 40px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}
.text__wgoAj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__yZeE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
  padding-right: 10px;
  padding-left: 10px;
  color: #8254c6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
.freeBox__fxRvJ {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  display: none;
  border-radius: 8px;
  padding: 0px;
  margin: 8px;
}
.freeBox__se31E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input__vc0Nd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__r2Vxg {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #8254c6;
}
.freeBox__zX0Op {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
  background: #00c3711a;
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.button2__zzkWp:global(.__wab_instance) {
  max-width: 100%;
  width: 40%;
}
.svg__dcbA2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fUjVi {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg___2Cp9Y {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button2___4YvdW:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 8px;
  margin-left: 8px;
}
.svg__jySfg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___3NM38 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg__d9IQk {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.p__fe7Jj {
  text-align: center;
  font-size: 14px;
  color: #898989;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.p__nMxnq {
  text-align: center;
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: none;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  opacity: 0.7;
  object-fit: cover;
  width: auto;
  left: 16px;
  border-radius: 999px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogClose:global(.__wab_instance) {
    display: none;
  }
}
.svg__nuLi2 {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  color: var(--token-9M5jRUPt8Msb);
  height: 1em;
}
