.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 80px var(--token-73iLa06AE6f4) 0px 0px;
}
.freeBox__yQc6U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px 0px 0px var(--token-73iLa06AE6f4);
}
.freeBox___9VrRj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  flex-shrink: 0;
  padding: 0px;
}
.select2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.menuItem__vZt21:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.menuSection:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__yx618 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  align-self: stretch;
  padding: 0px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__iIcBs {
  position: relative;
  height: 1em;
}
.text__auq3U {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__oqSyu {
  position: relative;
  width: var(--token-zOTmRNiLzxBx);
  height: var(--token-zOTmRNiLzxBx);
  color: var(--token-W0eejbtvb0xw);
}
.freeBox__seame {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  padding: 0px;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.menuSection__mGs1Y:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__iapF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___4GkoJ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  column-gap: var(--token-TONjX_YbO9_T);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.freeBox___8TiSu {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  background: none;
  row-gap: var(--token-TONjX_YbO9_T);
  overflow: auto;
  min-height: 0;
  padding: 0px;
}
.freeBox__zx7Mo {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__ijfen {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 50px;
  border: var(--token-IUVIp1DHBSFd) solid var(--token-ee2TuxDknsJj);
}
.img > picture > img {
  object-fit: cover;
}
.freeBox___8Izlb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__cHkYk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__arrFo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.line__i9Dwf:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__rmfT {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__bqhAy {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-RuQNZpYm0Yds);
}
.text__qen2F {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.text__nhQDa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-ee2TuxDknsJj);
}
.text__btHu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.text___0UJtH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.line__hQVeG:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox___428B3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__bO0MQ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-RuQNZpYm0Yds);
}
.text__n1Cn6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.text__dt6Yy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-ee2TuxDknsJj);
}
.freeBox__bXyVs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__v0ArU {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text___9M0Do {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  font-weight: 400;
  text-align: right;
}
.freeBox__mDgHr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__h9VvD {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__iG7VU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-w-4Gcj0_UzPS);
  font-weight: 400;
  text-align: right;
}
.line__xb9X6:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox___24Voz {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek) var(--token-rfsFxiclAtek) 0px 0px;
  padding: var(--token-0tl2H1TRPHhV);
}
.text___4Cini {
  box-shadow: none;
  background: none;
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-R7X4jvpZsbD-);
  color: var(--token-KjATzAYJ5IB7);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  row-gap: var(--token-cfon0PHiXQoL);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.tags:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___58887 {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  background: none;
  row-gap: var(--token-TONjX_YbO9_T);
  overflow: auto;
  min-height: 0;
  padding: 0px;
}
.freeBox__vRowu {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__vofcQ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg__qlCms {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: var(--token-GEppKCdlxgWK);
  outline-width: 2px;
  outline-offset: -1.8px;
  color: var(--token-lZIcjtq6huau);
  flex-shrink: 0;
  border-radius: 50%;
}
.text__plc6J {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.image:global(.__wab_instance) {
  max-width: 100%;
}
.line___2NqJx:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__akLiz {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  overflow: auto;
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-73iLa06AE6f4);
  padding: 0px;
}
.freeBox__tBDdX {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  min-height: 0;
  border-radius: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px 0px;
  padding: 0px;
}
