.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootslide3 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootslide3 > * {
    grid-column: 4;
  }
}
.roothamyar > * {
  grid-column: 4;
}
.rootsmallReminder > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootsmallReminder > * {
    grid-column: 4;
  }
}
.rootliad > * {
  grid-column: 4;
}
.rootslide3_hamyar > * {
  grid-column: 4;
}
.rootslide3_smallReminder {
  background: none;
}
.rootslide3_smallReminder > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootslide3_smallReminder > * {
    grid-column: 4;
  }
}
.rootslide3_smallReminder_dateMode > * {
  grid-column: 4;
}
.freeBox__bnpXc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-xf2ijuTrDk1U);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: var(--token-73iLa06AE6f4);
}
.freeBoxslide3_smallReminder__bnpXc9ESkHJscOm {
  padding: 0px 0px var(--token-73iLa06AE6f4);
}
.freeBoxslide3_smallReminder_dateMode__bnpXc9ESkHJscOmOQ54K {
  display: none;
}
.alertTelegram:global(.__wab_instance) {
  max-width: 100%;
}
.alertSms:global(.__wab_instance) {
  max-width: 100%;
}
.section__cEiMs {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__cEiMs > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__cEiMs > * {
    grid-column: 4;
  }
}
.sectionslide3__cEiMs9ESkH > * {
  grid-column: 4;
}
.sectionsmallReminder__cEiMsjscOm > * {
  grid-column: 4;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__dzacn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-LBC0X5IbL9bo);
  min-width: 0;
  padding: 0px;
}
.freeBox__r7TeT {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__oYv5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: none;
  min-width: 0;
}
.freeBox__urUye {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___2FdKw {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.menuSection__lOi7F:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__xiT4Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__w2IMd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__kM8Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.freeBox__caiT {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  border-radius: 0.3rem;
  padding: 8px;
  border-width: 1px;
}
.text__mzKNw {
  position: relative;
  width: 100%;
  height: 25px;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox___6Mvi8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.switchbest3:global(.__wab_instance) {
  max-width: 100%;
}
.text__ijbeJ {
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 300;
  color: var(--token-a13HKnxwl17E);
  align-self: flex-end;
  text-align: left;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___3IxdK {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ztTe {
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
}
.svg___1ZCNl {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__oyRz5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.datePickers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__spX8K {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___72Ud {
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
}
.svg__dUz1E {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.headerLiomhamyar:global(.__wab_instance) {
  display: flex;
}
.freeBox__nFQq6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__vp78R {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
  display: none;
}
.svgslide3__vp78R9ESkH {
  display: block;
}
.svg__pgzpt {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.svgslide3__pgzpt9ESkH {
  display: none;
}
.text__fzmnK {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  margin: 0px;
}
.button2slide3:global(.__wab_instance) {
  display: none;
}
.svg__oN9Xq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6CspP {
  font-size: 14px;
  padding-top: 0px;
}
.svg___0SxYy {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-kI60KiRr_Lur);
  right: auto;
  bottom: auto;
}
.freeBox__bvL0Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-xf2ijuTrDk1U);
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0rem 0px 5rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bvL0Y {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxslide3__bvL0Y9ESkH {
  display: none;
}
.freeBoxhamyar__bvL0Yzsy8V {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.freeBoxsmallReminder__bvL0YJscOm {
  background: none;
  padding-bottom: 2rem;
}
.freeBox___4Cfsa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-LBC0X5IbL9bo);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0rem 0px;
  margin: 0px;
}
.text__t7EhB {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-hbNq_Oz393_j);
  min-width: 0;
}
.todayMeeting2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 12px;
  overflow: auto;
  background: none;
  box-shadow: none;
  min-width: 0;
  border-radius: var(--token-73iLa06AE6f4);
  padding: 0px;
}
.frame22 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: auto;
  background: none;
  min-width: auto;
  max-width: none;
  opacity: 1;
  min-height: 160px;
  row-gap: var(--token-TONjX_YbO9_T);
  padding: 0px;
}
.frame23 {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: var(--token-TONjX_YbO9_T);
  align-items: center;
  justify-content: space-between;
  width: auto;
  min-width: 250px;
  min-height: 160px;
  max-width: 300px;
  background: var(--token-80wG4y4sryg5);
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  opacity: 1;
  border-radius: 12px;
  padding: 12px;
}
.frame24 {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: var(--token-rfsFxiclAtek);
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 0;
}
.frame25 {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 0;
}
.frame26 {
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  min-height: 0;
}
.freeBox___9Ehyd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: var(--token-xf2ijuTrDk1U);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__lb62R {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
  padding: 0px;
}
.text___68OuX {
  display: block;
  flex-grow: 0;
  font-size: 42px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: normal;
  position: relative;
  text-align: right;
  width: auto;
  flex-shrink: 1;
  align-self: flex-start;
  height: 100%;
  line-height: var(--token-YjYohcloDYcA);
  min-height: 0;
}
.text__lRgFo {
  display: block;
  flex-grow: 0;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
  text-align: right;
  width: auto;
  flex-shrink: 1;
  align-self: center;
  position: relative;
  margin-top: -11px;
}
.freeBox__chPdp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-xf2ijuTrDk1U);
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__ihv5N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox__amr5T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.svg__nR8Jr {
  object-fit: cover;
  max-width: 100%;
  width: 5px;
  height: 5px;
  color: #535353;
  flex-shrink: 0;
}
.text__h2A29 {
  font-size: var(--token-N8Pb0ZuDQAeF);
  white-space: pre-wrap;
  text-align: right;
}
.freeBox__zIk8M {
  display: flex;
  position: relative;
  width: 25px;
  height: 25px;
  max-width: 100%;
  flex-direction: column;
  background: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.svg__igvSn {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-clkRsHVdZgT8);
  flex-shrink: 0;
  display: none;
}
.freeBox__jYlKt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-weight: 700;
  color: var(--token-RbglYLRm6z6H);
  text-align: center;
  letter-spacing: 0px;
  column-gap: var(--token-73iLa06AE6f4);
  background: #f7f7f7;
  min-height: 0;
  padding: 0px;
}
.freeBox__qcgx {
  display: block;
  position: relative;
  width: 1px;
  height: 100%;
  max-width: 100%;
  opacity: 0.4;
  align-self: auto;
  flex-shrink: 0;
  min-height: 0;
  padding: 0px;
  border-left: 2px solid var(--token-clkRsHVdZgT8);
}
.freeBox__jkXm7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  justify-content: center;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 2;
  background: #53535340;
  min-width: auto;
  min-height: 160px;
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  opacity: 1;
  column-gap: 0px;
  align-self: stretch;
  border-radius: 12px;
  padding: 8px 16px 8px 4px;
}
.freeBox__bzAbp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.text__hLfu {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-mlLJkT4QtOoz);
  font-weight: 900;
  font-size: var(--token-UXPBeNJ4rrVx);
  background: none;
  text-align: center;
  transform: rotate3d(0, 0, 1, 90deg);
  line-height: 0.5;
  min-width: 0;
}
.svg__ngGel {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-80wG4y4sryg5);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__lpSnH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-hbNq_Oz393_j);
  padding-top: var(--token-LBC0X5IbL9bo);
  letter-spacing: normal;
  color: var(--token-9M5jRUPt8Msb);
  min-width: 0;
  margin: 0px;
}
.freeBox__ed4Xw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  opacity: 1;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__vm5Ct {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-N8Pb0ZuDQAeF);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__b7U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: var(--token-R7X4jvpZsbD-);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.frame32 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var(--token-80wG4y4sryg5);
  min-width: 0px;
  opacity: 1;
  min-height: 0px;
  column-gap: var(--token-73iLa06AE6f4);
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  border-radius: 12px;
  padding: 12px;
}
.freeBox__pgDxd {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  max-width: 100%;
  background: var(--token-V-S3x2baGTkB);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 100px;
  padding: 0px;
}
.menuIcon:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  flex-shrink: 0;
}
.frame33 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.frame34 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: var(--token-rfsFxiclAtek);
  align-items: flex-start;
  justify-content: flex-start;
}
.frame35 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame36 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 6px;
  align-items: flex-start;
  justify-content: center;
  width: auto;
}
.freeBox___2X5Ev {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__jpt5I {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.text__uTr0H {
  display: block;
  flex-grow: 0;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: -0.5px;
  position: relative;
  text-align: right;
  width: auto;
  flex-shrink: 1;
  align-self: center;
}
.freeBox__e3Fa4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.svg__tmU8S {
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  height: 12px;
  color: var(--token-Le07ngBUPl2h);
  flex-shrink: 0;
}
.text__gRj3F {
  display: block;
  flex-grow: 0;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  letter-spacing: -0.5px;
  position: relative;
  text-align: right;
  width: auto;
  flex-shrink: 1;
  align-self: center;
  color: var(--token-Le07ngBUPl2h);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gRj3F {
    text-align: justify;
  }
}
.freeBox__hJqxC {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-rfsFxiclAtek);
  box-shadow: 0px 4px 16px 0px #ffffff1a;
  margin-top: var(--token-73iLa06AE6f4);
  background: #ecdaff;
  min-width: 0;
  border-radius: var(--token-73iLa06AE6f4);
  padding: var(--token-73iLa06AE6f4);
  border: 2px dashed var(--token-8lqFm4pa_96a);
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: auto;
  width: 40px;
  height: 35px;
  margin-right: -6px;
  flex-shrink: 0;
}
.freeBox___7QkZd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__jyzDl {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  color: var(--token-a13HKnxwl17E);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3;
  margin-right: -4px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jyzDl {
    line-height: 1.5;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vwpjL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rh4Qc {
  color: var(--token-80wG4y4sryg5);
  font-weight: 500;
  font-size: 12px;
  padding: var(--token-rfsFxiclAtek) var(--token-73iLa06AE6f4);
}
.svg__dvEqU {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.section__p14Vs {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: flex-end;
  width: auto;
  padding-left: var(--token-TONjX_YbO9_T);
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding-bottom: 6rem;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__p14Vs > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__p14Vs {
    width: 100%;
    justify-items: flex-start;
    align-content: flex-start;
    padding-bottom: 5rem;
    padding-right: var(--token-TONjX_YbO9_T);
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__p14Vs > * {
    grid-column: 4;
  }
}
.sectionslide3__p14Vs9ESkH {
  box-shadow: none;
  background: linear-gradient(0deg, #f8f8f8 0%, #f8f8f8e4 61%, #f8f8f800 100%);
  padding-top: var(--token-TONjX_YbO9_T);
  display: grid;
}
.sectionslide3__p14Vs9ESkH > * {
  grid-column: 4;
}
.sectionhamyar__p14Vszsy8V {
  padding-bottom: 2rem;
}
.sectionhamyar__p14Vszsy8V > * {
  grid-column: 4;
}
.sectionslide3_hamyar__p14Vs9ESkHZsy8V > * {
  grid-column: 4;
}
.sectionslide3_smallReminder__p14Vs9ESkHJscOm {
  display: none;
}
.sectionslide3_smallReminder__p14Vs9ESkHJscOm > * {
  grid-column: 4;
}
.freeBox__gp56I {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gp56I {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-end;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wGvtL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mpi1Q {
  font-size: 16px;
  font-weight: 700;
}
.svg___8WhtQ {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__jYqDu {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  overflow: hidden;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: var(--token-TONjX_YbO9_T) var(--token-TONjX_YbO9_T) 10rem;
}
.freeBoxslide3__jYqDu9ESkH {
  display: flex;
}
.freeBoxsmallReminder__jYqDuJscOm {
  width: auto;
  justify-self: flex-start;
}
.freeBoxslide3_smallReminder__jYqDu9ESkHJscOm {
  background: none;
  height: auto;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 0px 0rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxslide3_smallReminder__jYqDu9ESkHJscOm {
    height: auto;
  }
}
.freeBox__iXb7W {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.freeBoxslide3__iXb7W9ESkH {
  display: flex;
  padding: var(--token-xf2ijuTrDk1U) 0px var(--token-gzhQ56cI3Art);
}
.freeBoxslide3_smallReminder__iXb7W9ESkHJscOm {
  display: none;
}
.text__yIeHv {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-bucIARGmMoc6);
  font-weight: 700;
  min-width: 0;
  display: none;
}
.textslide3__yIeHv9ESkH {
  display: block;
}
.text___2ZTx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  min-width: 0;
}
.textslide3___2ZTx9ESkH {
  display: block;
}
.reminderSetting:global(.__wab_instance) {
  max-width: 100%;
}
.reminderSettingsmallReminder:global(.__wab_instance) {
  width: auto;
}
.reminderSettingslide3_smallReminder:global(.__wab_instance) {
  height: auto;
  width: 100%;
  min-width: 0;
}
.section__sfoL5 {
  display: grid;
  position: absolute;
  align-content: flex-start;
  justify-items: flex-end;
  width: auto;
  padding-left: var(--token-TONjX_YbO9_T);
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  padding-bottom: 6rem;
  height: auto;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__sfoL5 > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__sfoL5 {
    width: 100%;
    justify-items: flex-start;
    align-content: flex-start;
    padding-bottom: 5rem;
    padding-right: var(--token-TONjX_YbO9_T);
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__sfoL5 > * {
    grid-column: 4;
  }
}
.sectionslide3__sfoL59ESkH {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
.sectionslide3__sfoL59ESkH > * {
  grid-column: 4;
}
.sectionhamyar__sfoL5Zsy8V {
  padding-bottom: 2rem;
}
.sectionhamyar__sfoL5Zsy8V > * {
  grid-column: 4;
}
.sectionsmallReminder__sfoL5JscOm {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  padding: 0px 0px 0rem;
}
.sectionsmallReminder__sfoL5JscOm > * {
  grid-column: 4;
}
.sectionliad__sfoL5NMu2U {
  padding-bottom: var(--token-xf2ijuTrDk1U);
}
.sectionliad__sfoL5NMu2U > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sectionliad__sfoL5NMu2U > * {
    grid-column: 4;
  }
}
.sectionslide3_hamyar__sfoL59ESkHZsy8V > * {
  grid-column: 4;
}
.sectionslide3_smallReminder__sfoL59ESkHJscOm {
  box-shadow: none;
  display: grid;
}
.sectionslide3_smallReminder__sfoL59ESkHJscOm > * {
  grid-column: 4;
}
.sectionslide3_smallReminder_dateMode__sfoL59ESkHJscOmOQ54K {
  display: grid;
}
.sectionslide3_smallReminder_dateMode__sfoL59ESkHJscOmOQ54K > * {
  grid-column: 4;
}
.freeBox___95CEd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___95CEd {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.freeBox__bwOfl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-xf2ijuTrDk1U);
  padding: 0px;
}
.freeBoxsmallReminder__bwOflJscOm {
  width: 100%;
  min-width: 0;
}
.freeBoxslide3_smallReminder__bwOfl9ESkHJscOm {
  padding: var(--token-xf2ijuTrDk1U);
}
.freeBoxslide3_smallReminder_dateMode__bwOfl9ESkHJscOmOQ54K {
  padding: 0px;
}
.freeBox__qz4Ne {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #0000004d;
  border-radius: 50%;
  padding: 0px;
}
.freeBoxsmallReminder__qz4NeJscOm {
  width: 100%;
  box-shadow: none;
  min-width: 0;
}
.freeBoxslide3_smallReminder__qz4Ne9ESkHJscOm {
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  row-gap: 0px;
  border-radius: var(--token-73iLa06AE6f4);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBoxslide3_smallReminder__qz4Ne9ESkHJscOm {
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
}
.freeBoxslide3_smallReminder_dateMode__qz4Ne9ESkHJscOmOQ54K {
  padding-top: 8px;
}
.button12:global(.__wab_instance) {
  max-width: 100%;
  width: 58px;
  height: 58px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button12:global(.__wab_instance) {
    width: 58px;
  }
}
.button12smallReminder:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
}
.button12slide3_smallReminder:global(.__wab_instance) {
  width: auto;
  display: flex;
}
.button12slide3_smallReminder_dateMode:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button12slide3_smallReminder_dateMode:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__c2Scn {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
}
.svgsmallReminder__c2ScnjscOm {
  display: none;
}
.svgslide3_smallReminder__c2Scn9ESkHJscOm {
  color: var(--token-80wG4y4sryg5);
  width: 20px;
  height: 20px;
  display: block;
}
.svg__s02Yz {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
}
.svgsmallReminder__s02YzJscOm {
  display: none;
}
.text__syx9S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.textsmallReminder__syx9SjscOm {
  display: block;
}
.textslide3_smallReminder__syx9S9ESkHJscOm {
  color: var(--token-a9mEyVfKVz5O);
  font-size: 14px;
  font-weight: 500;
}
.svg__uRPb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.svgslide3_smallReminder_dateMode__uRPb9ESkHJscOmOQ54K {
  color: var(--token-a9mEyVfKVz5O);
  width: 20px;
  height: 20px;
  display: block;
}
.freeBox__udcFt {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxslide3_smallReminder__udcFt9ESkHJscOm {
  width: 100%;
  min-width: 0;
  display: flex;
}
.button6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 55px;
  height: 55px;
  flex-shrink: 0;
}
.svg__d9Q4B {
  position: relative;
  height: 1em;
}
.svg___52SNg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
}
.svgsmallReminder___52SNgjscOm {
  display: none;
}
.svg__zQkoe {
  position: relative;
  height: 1em;
}
.freeBox__ug6J6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  background: var(--token-5-4vCjWq2kIu);
  border-radius: 500px;
  padding: 0px;
  margin: 0px;
}
.button11:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: 100%;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button11:global(.__wab_instance) {
    width: auto;
  }
}
.button11slide3:global(.__wab_instance) {
  display: none;
}
.svg__wIqZl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___4MWc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
}
.svg__dKqEu {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-kI60KiRr_Lur);
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
