.dialog3:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls_q2T0XKdiWi8t {
  background: var(--token-Le07ngBUPl2h);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pcls_vBH8saG-EOIi {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
  }
}
.button3:global(.__wab_instance) {
  display: none;
}
.svg__wCYsg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cTran {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: var(--token-KPGXdu9o7llP);
  width: auto;
  max-width: 500px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 500px;
  max-height: 100%;
  overflow: auto;
  align-self: center;
  z-index: 1;
  bottom: auto;
  right: auto;
  border-radius: 8px;
  padding: var(--token-LBC0X5IbL9bo);
  border: 0px solid var(--token-Le07ngBUPl2h);
}
@media (min-width: 0px) and (max-width: 768px) {
  .dialogContent:global(.__wab_instance) {
    height: auto;
    max-width: 100vw;
    min-width: 100vw;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
  }
}
.dialogContentfullpage:global(.__wab_instance) {
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: var(--token-80wG4y4sryg5);
  border-radius: 0px;
  padding: 0px;
}
.dialogContentnopadding:global(.__wab_instance) {
  padding: 0px;
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dcV2C {
  display: none;
}
.freeBox__b5NVb {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-LBC0X5IbL9bo) 0px 0px;
}
.freeBox___1Sg16 {
  animation: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__qAwR {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 600;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.selectedComponnent:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.line__cyp4B:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  flex-shrink: 0;
  display: none;
}
.freeBox__vjJa {
  animation: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.text__sGaDj {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 600;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.selectStars:global(.__wab_instance) {
  animation: none;
  position: relative;
}
.line__ttxkt:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__sEfnc {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.text___7XKjn {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 600;
  font-size: var(--token-9jx4RULNbWhl);
  min-width: 0;
}
.availability:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
.line__atHqj:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__rkLC {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.button4:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: var(--token-gzhQ56cI3Art);
  min-width: 0;
}
.svg__wNr0 {
  position: relative;
  height: 1em;
}
.text__u3JLd {
  animation: none;
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg___2YlV3 {
  position: relative;
  height: 1em;
}
.button5:global(.__wab_instance):global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  height: var(--token-gzhQ56cI3Art);
  min-width: 0;
}
.svg__hiKn {
  position: relative;
  height: 1em;
}
.text__r4TUn {
  animation: none;
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg__jPhYn {
  position: relative;
  height: 1em;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  opacity: 0.7;
  object-fit: cover;
  width: auto;
  left: 16px;
  border-radius: 999px;
}
.svg__tbLvC {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  color: var(--token-9M5jRUPt8Msb);
  height: 1em;
}
