.root {
  background: var(--token-KPGXdu9o7llP);
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-cfon0PHiXQoL);
  padding: var(--token-rfsFxiclAtek) var(--token-cfon0PHiXQoL);
  border: 1px solid var(--token-KjATzAYJ5IB7);
}
.freeBox__xz2OB {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-cfon0PHiXQoL);
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.svg__tpjGg {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Es3BYpS8XP38);
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  flex-shrink: 0;
}
.text___7T4A2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-C6B6ZAuqICKE);
  text-align: right;
  min-width: 0;
}
.text__efjc1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  text-align: right;
  min-width: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__mo68Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px var(--token-P3I_D0uxQRnt);
}
.text___9SHb {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  min-width: 0;
  padding: 0px;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__p261R {
  position: relative;
  width: var(--token-fEaUg40ICnXp);
  height: var(--token-fEaUg40ICnXp);
  color: var(--token--ieHgGbFH1Fa);
}
.text___1Rh3V {
  white-space: pre;
  color: var(--token--ieHgGbFH1Fa);
}
.svg__lnU2Y {
  position: relative;
  height: 1em;
}
.freeBox__qavhh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qavhh {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___6Nlkq {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-xf2ijuTrDk1U);
  min-width: 0;
  padding: 8px;
}
.freeBox__n7Eai {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-xf2ijuTrDk1U);
  padding: 8px;
}
.freeBox__dbrm5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 30%;
}
.img > picture > img {
  object-fit: cover;
}
.text__jjeTd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: var(--token-Tca_MqWoqq_b);
  color: var(--token-9M5jRUPt8Msb);
}
.text___1L7Mt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
  text-align: right;
  background: none;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__d8Pwx {
  position: relative;
  width: var(--token-fEaUg40ICnXp);
  height: var(--token-fEaUg40ICnXp);
}
.text__juh3N {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__ar7Br {
  position: relative;
  height: 1em;
}
.freeBox__aTPwx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 0px var(--token--_xqF59Qmd-S);
}
.freeBox__e1KjR {
  background: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
}
.radioGroup:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__y8GrY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.radio:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox___0LMtb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: var(--token-cfon0PHiXQoL) 0px;
}
.text___4D7Mp {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-hbNq_Oz393_j);
  color: var(--token-KjATzAYJ5IB7);
  padding-bottom: 0px;
}
.textCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-R7X4jvpZsbD-);
  width: auto;
  text-align: right;
}
.freeBox__iwRyJ {
  flex-direction: column;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  top: auto;
  left: 0;
  bottom: 0;
  z-index: 1;
  right: 0;
  display: none;
  padding: 0px 0px var(--token-0tl2H1TRPHhV) var(--token-0tl2H1TRPHhV);
}
.freeBox__lq96 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Yo4gdKCgyuAu);
  column-gap: var(--token-RuQNZpYm0Yds);
  border-radius: var(--token-73iLa06AE6f4);
  padding: var(--token-cfon0PHiXQoL) var(--token-rfsFxiclAtek);
}
.svg__owf1R {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  flex-shrink: 0;
}
.text__cmRd8 {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
