.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-W0eejbtvb0xw);
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 80px var(--token-73iLa06AE6f4) 0px 0px;
}
.freeBox__yQc6U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 0px 0px var(--token-73iLa06AE6f4);
}
.freeBoxrole_centerAdmin__yQc6U2AC0 {
  justify-content: flex-end;
  align-items: center;
}
.freeBox___9VrRj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 200px;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-73iLa06AE6f4);
  flex-shrink: 0;
  padding: 0px;
}
.freeBoxrole_centerAdmin___9VrRj2AC0 {
  display: none;
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__dpeVn {
  position: relative;
  color: var(--token-s6JDWwNdkMmO);
  width: var(--token-TONjX_YbO9_T);
  height: var(--token-TONjX_YbO9_T);
}
.text__hNk07 {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
}
.svg___9ITvv {
  position: relative;
  height: 1em;
}
.freeBox__yx618 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-0tl2H1TRPHhV);
  align-self: stretch;
  padding: 0px;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__iIcBs {
  position: relative;
  height: 1em;
}
.text__auq3U {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
  padding-right: var(--token-rfsFxiclAtek);
  padding-left: var(--token-rfsFxiclAtek);
}
.textrole_superAdmin__auq3UjtYNs {
  padding: 0px var(--token-xf2ijuTrDk1U);
}
.svg__oqSyu {
  position: relative;
  width: var(--token-zOTmRNiLzxBx);
  height: var(--token-zOTmRNiLzxBx);
  color: var(--token-W0eejbtvb0xw);
}
.updates:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__yhGo {
  position: relative;
  height: 1em;
}
.text__mp2Oa {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
  padding-right: var(--token-rfsFxiclAtek);
  padding-left: var(--token-rfsFxiclAtek);
}
.textrole_superAdmin__mp2OAjtYNs {
  padding-right: var(--token-rfsFxiclAtek);
  padding-left: var(--token-rfsFxiclAtek);
}
.svg__sAow2 {
  position: relative;
  width: var(--token-zOTmRNiLzxBx);
  height: var(--token-zOTmRNiLzxBx);
  color: var(--token-W0eejbtvb0xw);
}
.freeBox__seame {
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  display: none;
  padding: 0px;
}
.freeBoxrole_superAdmin__seamejtYNs {
  display: none;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
}
.menuSection__cgk1I:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__raaI1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vYq1P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 150px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  padding: 0px;
}
.active:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___4GkoJ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  column-gap: var(--token-TONjX_YbO9_T);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.freeBox___8TiSu {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 25%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  background: none;
  row-gap: var(--token-TONjX_YbO9_T);
  overflow: auto;
  min-height: 0;
  padding: 0px;
}
.freeBox__zx7Mo {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  flex-direction: column;
  width: 100%;
  height: 210px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-LBC0X5IbL9bo);
  min-width: 0;
  flex-shrink: 0;
  display: none;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV) var(--token-0tl2H1TRPHhV)
    var(--token-LBC0X5IbL9bo);
}
.freeBoxrole_superAdmin__zx7MojtYNs {
  display: flex;
}
.freeBoxrole_centerAdmin__zx7Mo2AC0 {
  display: none;
}
.freeBox__p34Fn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__ooM5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.text__ya2Xc {
  box-shadow: none;
  background: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: var(--token-KjATzAYJ5IB7);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.edit5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__ar3Ki {
  position: relative;
  height: 1em;
}
.text__owS88 {
  white-space: pre;
  color: var(--token-pRs3-4jrQ4XQ);
}
.svg__lGko4 {
  position: relative;
  height: 1em;
}
.freeBox__dIk9S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__k6GtL {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__cFsx5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.line__ix8:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox___6Ta9E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__qxVbP {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__aD9S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.line__mmNur:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox__x9FBd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px;
}
.text__hkz1K {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__bbenk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.freeBox__sNve7 {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-LBC0X5IbL9bo);
  min-height: 600px;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.text__tKzxu {
  box-shadow: none;
  background: none;
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-9jx4RULNbWhl);
  color: var(--token-KjATzAYJ5IB7);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  row-gap: var(--token-cfon0PHiXQoL);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.freeBox__zpalP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox___3MTyg {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px;
}
.freeBox__vdaDh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50px;
  height: 50px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  border: var(--token-IUVIp1DHBSFd) solid var(--token-ee2TuxDknsJj);
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__dqaEe {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-ee2TuxDknsJj);
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  padding: 4px;
}
.svg__t3ErZ {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-A-PNbaadkZKd);
  width: var(--token-rfsFxiclAtek);
  height: var(--token-rfsFxiclAtek);
  flex-shrink: 0;
}
.freeBox__jZxrn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.text__d4Mb8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__hr1L4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-AFv7sfVuyqL3);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.line__xJa5G:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.freeBox___8NWcE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox___9K8Rm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-RuQNZpYm0Yds);
}
.text__k0JMg {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 600;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.edit3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__b1LS5 {
  position: relative;
  height: 1em;
}
.text__ulKwy {
  white-space: pre;
  color: var(--token-pRs3-4jrQ4XQ);
}
.svg___2Bni9 {
  position: relative;
  height: 1em;
}
.text__oam1E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.text__fiuLm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
  min-width: 0;
}
.line___4R2K:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.linerole_superAdmin___4R2KjtYNs:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__oZosv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__ca5Sb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-RuQNZpYm0Yds);
}
.text__knLi2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 600;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.edit4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__iTId5 {
  position: relative;
  height: 1em;
}
.text__gtdrY {
  white-space: pre;
  color: var(--token-pRs3-4jrQ4XQ);
}
.svg__g861W {
  position: relative;
  height: 1em;
}
.freeBox___2D2Q5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__cTOzY {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__x6ECv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.freeBox___5RCdL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__i6Lwa {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-R7X4jvpZsbD-);
  font-weight: 400;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
}
.text__fBq1J {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 400;
  text-align: right;
}
.line__sYku:global(.__wab_instance) {
  max-width: 100%;
  height: 1px;
  flex-shrink: 0;
}
.linerole_centerAdmin__sYku2AC0:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox___24Voz {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek) var(--token-rfsFxiclAtek) 0px 0px;
  padding: var(--token-0tl2H1TRPHhV) var(--token-0tl2H1TRPHhV)
    var(--token-P3I_D0uxQRnt);
}
.freeBox__mMmRj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px var(--token-LBC0X5IbL9bo);
}
.text___4Cini {
  box-shadow: none;
  background: none;
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-9jx4RULNbWhl);
  color: var(--token-KjATzAYJ5IB7);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  row-gap: var(--token-cfon0PHiXQoL);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.edit6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__qb9M8 {
  position: relative;
  height: 1em;
}
.text__fNkHx {
  white-space: pre;
  color: var(--token-pRs3-4jrQ4XQ);
}
.svg__k3W0P {
  position: relative;
  height: 1em;
}
.tags:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___58887 {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-top-left-radius: var(--token-73iLa06AE6f4);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  background: none;
  row-gap: var(--token-TONjX_YbO9_T);
  overflow: auto;
  min-height: 0;
  padding: 0px;
}
.freeBox__vRowu {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__vofcQ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg__qlCms {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: var(--token-GEppKCdlxgWK);
  outline-width: 3px;
  outline-offset: -1.8px;
  color: var(--token-lZIcjtq6huau);
  flex-shrink: 0;
  border-radius: 50%;
}
.text__plc6J {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__lNobg {
  position: relative;
  height: 1em;
}
.text__evnOr {
  white-space: pre;
  color: var(--token-1aP3XjRZIKFV);
  padding-right: var(--token-LBC0X5IbL9bo);
  padding-left: var(--token-LBC0X5IbL9bo);
  font-size: var(--token-9jx4RULNbWhl);
}
.svg__n4Pnx {
  position: relative;
  height: 1em;
}
.imageEdit:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__eog3I {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__ebxKq {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg__maIez {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: var(--token--ieHgGbFH1Fa);
  outline-width: 3px;
  outline-offset: -1.8px;
  color: var(--token-fyoD0poQfxvl);
  flex-shrink: 0;
  border-radius: 50%;
}
.text__o85Jn {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.addServise2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__oArX {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__qKaeg {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg___5QmeG {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: var(--token-PCo3WmJeAQoj);
  outline-width: 3px;
  outline-offset: -1.8px;
  color: var(--token-xZK-xLPCiE1W);
  flex-shrink: 0;
  border-radius: 50%;
}
.text__fmP7H {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.timeWeek:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___00JXf {
  box-shadow: none;
  background: var(--token-CoQ7kPLW8rRe);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek) var(--token-rfsFxiclAtek) 0px 0px;
  padding: var(--token-0tl2H1TRPHhV) var(--token-0tl2H1TRPHhV)
    var(--token-P3I_D0uxQRnt);
}
.freeBox__bu3Om {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: var(--token-cfon0PHiXQoL);
  min-width: 0;
  padding: 0px 0px var(--token-cfon0PHiXQoL);
}
.svg__ax64M {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-LBC0X5IbL9bo);
  height: var(--token-LBC0X5IbL9bo);
  box-shadow: none;
  outline-style: solid;
  outline-color: #ff7189;
  outline-width: 3px;
  outline-offset: -1.8px;
  color: var(--token-cJ1sPX79UZ5i);
  flex-shrink: 0;
  border-radius: 50%;
}
.text__oUkv {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  font-weight: 700;
  text-align: right;
  min-width: 0;
  padding: 0px;
}
.comments:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___4Dx8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-KPGXdu9o7llP);
  column-gap: var(--token-TONjX_YbO9_T);
  min-width: 0;
  min-height: 0;
  border-radius: 0px var(--token-73iLa06AE6f4) 0px 0px;
  padding: var(--token-73iLa06AE6f4) var(--token-73iLa06AE6f4) 0px;
}
.svg__ku2CT {
  object-fit: cover;
  max-width: 100%;
  width: 5rem;
  height: 5rem;
  color: var(--token-ehVEIAjb9HeO);
  flex-shrink: 0;
}
.center:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uBam {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.centerInfo:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__rG4Ay {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4);
}
.saveInfo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__qUe3O {
  position: relative;
  height: 1em;
}
.text___2Xuka {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__aui5J {
  position: relative;
  height: 1em;
}
.button5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__r0Vco {
  position: relative;
  height: 1em;
}
.text__twHqy {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__np3Jx {
  position: relative;
  height: 1em;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jPjTm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.userPanelInfo:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__dFw1U {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.saveInfo3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__q7MC {
  position: relative;
  height: 1em;
}
.text__a5Uv0 {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__w1Ork {
  position: relative;
  height: 1em;
}
.button6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg___97EX8 {
  position: relative;
  height: 1em;
}
.text__dqNcr {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__egAkr {
  position: relative;
  height: 1em;
}
.imageinsert:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__qpFsK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.imag:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wRei {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveUpload:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__dVrZn {
  position: relative;
  height: 1em;
}
.text__r01PT {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__t8X7D {
  position: relative;
  height: 1em;
}
.close:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__rHd2Q {
  position: relative;
  height: 1em;
}
.text__vRhVw {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__cgMqV {
  position: relative;
  height: 1em;
}
.imageProfile:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__bwrz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.imageProfile2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__dvgwv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveUpload2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__uRuIq {
  position: relative;
  height: 1em;
}
.text__ybQ8U {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__pcJz5 {
  position: relative;
  height: 1em;
}
.close2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__jzxYt {
  position: relative;
  height: 1em;
}
.text__iRdI1 {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__pUVut {
  position: relative;
  height: 1em;
}
.map:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 500px;
}
.freeBox__dx3R4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 450px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: var(--token-73iLa06AE6f4) 0px 0px;
}
.loaction:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__fLkSw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-73iLa06AE6f4) 0px;
}
.saveInfo2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  align-self: flex-start;
  min-width: 0;
}
.svg__jyBjA {
  position: relative;
  height: 1em;
}
.text__pb20F {
  white-space: pre;
  color: var(--token-7j7Cq8eU0_eD);
}
.svg__vUWqV {
  position: relative;
  height: 1em;
}
.button7:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 45px;
  min-width: 0;
}
.svg__tVscW {
  position: relative;
  height: 1em;
}
.text__yHAgV {
  white-space: pre;
  color: var(--token-s6JDWwNdkMmO);
}
.svg__oCwho {
  position: relative;
  height: 1em;
}
