.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  cursor: pointer;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  border-radius: var(--token-LBC0X5IbL9bo);
  padding: 0px;
}
.freeBox___2BgH {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  column-gap: var(--token-rfsFxiclAtek);
  cursor: pointer;
  min-width: 0;
  border-radius: var(--token-LBC0X5IbL9bo);
  padding: 0px;
}
.statusIcon:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__tBqog {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__aXJvY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  padding: 0px;
}
.text__mOlnn {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-s6JDWwNdkMmO);
  font-size: var(--token-hbNq_Oz393_j);
  user-select: text;
  white-space: pre;
}
.textCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: right;
  display: none;
}
.textCollapsehome:global(.__wab_instance) {
  display: flex;
}
.freeBox__qv0R1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBoxhome__qv0R1N5Gp {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-LBC0X5IbL9bo);
  row-gap: 0px;
  padding: 0px;
}
.text__mqoD {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  display: none;
}
.texthome__mqoDN5Gp {
  display: block;
}
.freeBox__rIrcb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-RuQNZpYm0Yds);
  padding: 0px;
}
.freeBoxhome__rIrcbn5Gp {
  width: auto;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  padding: 0px;
}
.svg__bXJfn {
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.svghome__bXJfnn5Gp {
  display: block;
}
.text___7VhqA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
}
.texthome___7VhqAn5Gp {
  display: block;
}
.freeBox__cnjCy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-RuQNZpYm0Yds);
  padding: 0px;
}
.freeBoxhome__cnjCyn5Gp {
  width: auto;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  padding: 0px;
}
.svg__gOgHc {
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  flex-shrink: 0;
  height: 1em;
  display: none;
}
.svghome__gOgHcn5Gp {
  display: block;
}
.text__l0XfN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
}
.texthome__l0XfNn5Gp {
  display: block;
}
.uploudeTime:global(.__wab_instance) {
  max-width: 100%;
}
.uploudeTimehome:global(.__wab_instance) {
  width: auto;
}
.freeBox__mi46 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.status:global(.__wab_instance) {
  max-width: 100%;
}
.svg__d5Ns0 {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-73iLa06AE6f4);
  height: var(--token-73iLa06AE6f4);
  color: var(--token-Es3BYpS8XP38);
  flex-shrink: 0;
}
.svgopen__d5Ns07ACqp {
  transform: none;
}
.svguser2__d5Ns0EAa92 {
  display: none;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequest3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.load:global(.__wab_instance) {
  max-width: 100%;
  height: 400px;
  width: 100%;
  min-width: 0;
}
.freeBox__zP93C {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-cfon0PHiXQoL);
}
.text___6AWvW {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
  min-width: 0;
  padding: 0px;
}
.freeBox__fmEef {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.select:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__nOhW {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__wgTjW {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-KjATzAYJ5IB7);
  padding-bottom: var(--token-cfon0PHiXQoL);
  min-width: 0;
}
.rangeSlider:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__nBuOd {
  position: relative;
}
.sliderThumb__oOwD7:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-D_3fp_JIDs1G);
}
.freeBox__fgPuH {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___5ACh6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-KjATzAYJ5IB7);
  padding-bottom: var(--token-cfon0PHiXQoL);
  min-width: 0;
}
.freeBox__tcTuz {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.dateInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.timeInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.freeBox__lGm0H {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-0tl2H1TRPHhV);
  margin-top: var(--token-rfsFxiclAtek);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.add4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ySEux {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__sJfBg {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__e77AB {
  position: relative;
  height: 1em;
}
.add5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___8OfGh {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__kSwpi {
  white-space: pre;
  color: var(--token-9M5jRUPt8Msb);
}
.svg__jZiJr {
  position: relative;
  height: 1em;
}
.text___6VpO {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  min-width: 0;
  padding: 0px 0px var(--token-rfsFxiclAtek);
  border-bottom: 1px solid var(--token-pyhDq7s0RTkz);
}
.modal3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequest5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.load2:global(.__wab_instance) {
  max-width: 100%;
  height: 400px;
  width: 100%;
  min-width: 0;
}
.freeBox__lp43L {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: var(--token-rfsFxiclAtek) var(--token-cfon0PHiXQoL)
    var(--token-cfon0PHiXQoL);
}
.freeBox__mfH1W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.select2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__fy0Oc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-0tl2H1TRPHhV);
  margin-top: var(--token-rfsFxiclAtek);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.add12:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__unSaF {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__ggSe {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__aViXw {
  position: relative;
  height: 1em;
}
.add13:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__nDlIj {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text___07VZw {
  white-space: pre;
  color: var(--token-9M5jRUPt8Msb);
}
.svg__eA8MK {
  position: relative;
  height: 1em;
}
.text__b3Mo {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  min-width: 0;
  padding: 0px 0px var(--token-rfsFxiclAtek);
  border-bottom: 1px solid var(--token-pyhDq7s0RTkz);
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oqZ {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  overflow: auto;
  min-width: 0;
  padding: var(--token-cfon0PHiXQoL);
}
.freeBox__kc6R3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.text__y7WcL {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-KjATzAYJ5IB7);
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 700;
  min-width: 0;
  padding: 0px;
}
.freeBox__uyDFj {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  column-gap: var(--token-rfsFxiclAtek);
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.itemShow:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
.svg__tlU2 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-A-PNbaadkZKd);
  height: 1em;
  display: none;
}
.svg__tbGGv {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
  color: var(--token-A-PNbaadkZKd);
}
.freeBox__effFl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 45px;
  max-width: 100%;
  column-gap: var(--token-0tl2H1TRPHhV);
  margin-top: var(--token-rfsFxiclAtek);
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.add9:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__iaUhM {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__agSym {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
}
.svg__pb0D4 {
  position: relative;
  height: 1em;
}
.add10:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___95Hil {
  position: relative;
  color: var(--token-k-47TemksE2v);
  height: 1em;
}
.text__oAjsa {
  white-space: pre;
  color: var(--token-9M5jRUPt8Msb);
}
.svg__p16R6 {
  position: relative;
  height: 1em;
}
.text__nxiSb {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-9M5jRUPt8Msb);
  font-size: var(--token-Tca_MqWoqq_b);
  font-weight: 700;
  min-width: 0;
  padding: 0px 0px var(--token-rfsFxiclAtek);
  border-bottom: 1px solid var(--token-pyhDq7s0RTkz);
}
