.root {
  background: var(--token-h2xt7bB598yU);
  box-shadow: 0px 2px 5px 0px #afa49199;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-0tl2H1TRPHhV);
}
.freeBox__xbzFg {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  justify-content: space-between;
  min-width: 0;
}
.freeBox__gSa7P {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: var(--token-MbEKSCQSHAZe);
  height: var(--token-MbEKSCQSHAZe);
  max-width: 100%;
  align-self: center;
  background: var(--token-ee2TuxDknsJj);
  flex-shrink: 0;
  border-radius: 100px;
  padding: var(--token-IUVIp1DHBSFd);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-position: 100% 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
  border-width: 0px;
}
.img > picture > img {
  object-fit: cover;
  object-position: 100% 100%;
}
.freeBox__gzJsz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  padding: 0px;
}
.freeBoxhome__gzJsziXsad {
  align-items: center;
  justify-content: center;
}
.freeBox___8C7Lh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
.freeBox__c9Hhk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-RuQNZpYm0Yds);
  padding: 0px;
}
.text__ohck6 {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 500;
  font-size: var(--token-N8Pb0ZuDQAeF);
  text-align: right;
}
.freeBox__mm55B {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Yo4gdKCgyuAu);
  border-radius: var(--token-cfon0PHiXQoL);
  padding: var(--token-RuQNZpYm0Yds) var(--token-0tl2H1TRPHhV);
}
.text__u7Lxk {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 400;
  font-size: var(--token-R7X4jvpZsbD-);
  text-align: right;
}
.textCollapse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
  text-align: right;
  font-size: var(--token-R7X4jvpZsbD-);
  color: var(--token-KjATzAYJ5IB7);
}
.freeBox__rhwg3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-RuQNZpYm0Yds);
  padding: 0px;
}
.freeBox___2Bfz5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-D_3fp_JIDs1G);
  background: var(--token-Xzi5OT07e2_1);
  border-radius: var(--token-cfon0PHiXQoL);
  padding: var(--token-c8-rjzKYORFj) var(--token-0tl2H1TRPHhV);
}
.freeBoxbooking___2Bfz5XTbAv {
  display: none;
}
.text___8Qhae {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-Yo4gdKCgyuAu);
  font-weight: 700;
  font-size: var(--token-R7X4jvpZsbD-);
  text-align: right;
  line-height: 1;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-gzfwquJiFTd8);
  width: 15px;
  height: 15px;
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox__tGqoT {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  row-gap: var(--token-D_3fp_JIDs1G);
  border-radius: var(--token-cfon0PHiXQoL);
  padding: var(--token-c8-rjzKYORFj) var(--token-0tl2H1TRPHhV);
}
.freeBoxbooking__tGqoTxTbAv {
  display: none;
}
.text__mgEib {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 600;
  font-size: var(--token-R7X4jvpZsbD-);
  text-align: right;
  line-height: 1;
}
.text__aeo4T {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-KjATzAYJ5IB7);
  font-weight: 400;
  font-size: 0.7rem;
  text-align: right;
  line-height: 1;
}
.freeBox__spwiv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-IUVIp1DHBSFd);
  min-width: 0;
  padding: 0px;
}
.freeBox__ezO6O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  column-gap: var(--token-cfon0PHiXQoL);
  border-radius: var(--token-cfon0PHiXQoL);
  padding: 0px;
}
.freeBoxbooking__ezO6OxTbAv {
  display: none;
}
.text__bwJ {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-KjATzAYJ5IB7);
  font-weight: 500;
  font-size: var(--token-R7X4jvpZsbD-);
  text-align: right;
  line-height: 1;
}
.text__iwHIw {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 400;
  font-size: 0.7rem;
  text-align: right;
  line-height: 1;
}
.freeBox___9NPu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: var(--token-RuQNZpYm0Yds);
  margin-top: var(--token-RuQNZpYm0Yds);
  min-width: 0;
  min-height: 0;
  padding: var(--token-LBC0X5IbL9bo) 0px 0px;
  border-top: 1px solid var(--token-Pxe4wDL2kJpb);
}
.button3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 40px;
  min-width: 0;
  display: none;
}
.button3status_offersReceived:global(.__wab_instance):global(.__wab_instance) {
  display: flex;
}
.svg___0Y5W0 {
  position: relative;
  height: 1em;
}
.text__dcDSy {
  white-space: pre;
  color: var(--token-k-47TemksE2v);
  font-weight: 400;
}
.svg___1DvWb {
  position: relative;
  height: 1em;
}
.freeBox__cwdaq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-IUVIp1DHBSFd);
  min-width: 0;
  padding: 0px;
}
.freeBox__rKew7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: var(--token-cfon0PHiXQoL);
  border-radius: var(--token-cfon0PHiXQoL);
  padding: 0px;
}
.freeBoxbooking__rKew7XTbAv {
  display: none;
}
.text__bpuJ {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-KjATzAYJ5IB7);
  font-weight: 500;
  font-size: var(--token-R7X4jvpZsbD-);
  text-align: right;
  line-height: 1;
}
.uploudeTime:global(.__wab_instance) {
  max-width: 100%;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: 40px;
}
.svg__lhp52 {
  position: relative;
  height: 1em;
}
.text__b7Zhy {
  white-space: pre;
  color: var(--token-ee2TuxDknsJj);
  font-weight: 400;
}
.svg__ww7Tq {
  position: relative;
  height: 1em;
}
.load:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  right: 0;
  min-height: 0;
}
