.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__kltJv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-LN1YkB123lXQ);
  column-gap: var(--token-rfsFxiclAtek);
  margin-bottom: var(--token-73iLa06AE6f4);
  min-width: 0;
  border-radius: var(--token-cfon0PHiXQoL);
  padding: var(--token-rfsFxiclAtek);
  border: 1px solid var(--token-pyhDq7s0RTkz);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-IaX53w_ZwhMz);
  height: var(--token-IaX53w_ZwhMz);
  color: var(--token-ccqYe7dhXoNZ);
  flex-shrink: 0;
}
.text__boPkU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-N8Pb0ZuDQAeF);
  font-weight: 400;
  color: var(--token-KjATzAYJ5IB7);
  text-align: right;
  min-width: 0;
}
.freeBox___6MUo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 0px;
}
.freeBox__nO9P {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__djw7J {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.email:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__udStb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__g2CGe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.mobile:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___31P8B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__bTGeg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-w-4Gcj0_UzPS);
  color: var(--token-KjATzAYJ5IB7);
  min-width: 0;
}
.password:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
