.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  position: relative;
  min-width: 0;
  padding: 14rem var(--token-kD77h-2NGSqI) 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    padding-right: var(--token-D_3fp_JIDs1G);
    padding-left: var(--token-D_3fp_JIDs1G);
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.rootsearch {
  padding-top: 6rem;
}
.freeBox__dzcLe {
  animation: none;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 150px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  display: none;
  border-radius: var(--token-kD77h-2NGSqI);
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dzcLe {
    height: 100px;
    flex-shrink: 0;
  }
}
.freeBoxsearch__dzcLeMh4IK {
  display: none;
}
.swiperSlider2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 150px;
  min-width: 0;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .swiperSlider2:global(.__wab_instance) {
    animation: none;
    height: 100px;
    flex-shrink: 0;
  }
}
.img__redDh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
}
.img__redDh > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__redDh {
    animation: none;
    height: 100px;
  }
}
.img___58Ai3 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
}
.img___58Ai3 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___58Ai3 {
    animation: none;
    height: 100px;
  }
}
.img__yq35R {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 150px;
}
.img__yq35R > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yq35R {
    animation: none;
    height: 100px;
  }
}
.freeBox__muDck {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__muDck {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxsearch__muDckMh4IK {
  display: none;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-9jx4RULNbWhl);
  color: var(--token-k-47TemksE2v);
  min-width: 0;
}
.freeBox__iMftm {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iMftm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.toolsItem:global(.__wab_instance) {
  width: auto;
}
.freeBox___0N18J {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  column-gap: var(--token-rfsFxiclAtek);
  z-index: 2;
  min-width: 0;
  padding: 0px;
}
.freeBox___8ZSjn {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBoxsearch___8ZSjnMh4IK {
  display: flex;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.item:global(.__wab_instance) {
  max-width: 100%;
}
