.root {
  box-shadow: 0px -2px 5px 0px #afa49166;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  justify-self: flex-start;
  position: relative;
  background: var(--token-KPGXdu9o7llP);
  min-width: 0;
  padding: var(--token-rfsFxiclAtek);
}
.freeBox__eql45 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.freeBox__b4Hp {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.05s;
  padding: 0px;
}
.iconMenu:global(.__wab_instance) {
  position: relative;
  width: auto;
}
