.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-RbglYLRm6z6H);
  font-family: var(--token-8ld_RqqV9anD);
  font-size: var(--token-ehIkf6s-dMLU);
  line-height: var(--token-tyha1eTxLLSq);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
