.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-xZK-xLPCiE1W);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-gLYiSvxc94NR);
  font-family: var(--token-8ld_RqqV9anD);
  font-size: var(--token-ehIkf6s-dMLU);
  line-height: var(--token-tyha1eTxLLSq);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-6F5DR5OsTPi0);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-I0Xtb9z7Q0X3);
  outline-offset: 1px;
  outline-color: var(--token-xZK-xLPCiE1W);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-ygRHI2d5KsR3);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-m-R84nL6Jb9a);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-7SzLzuTwCxD0);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-gzfwquJiFTd8);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-FCYaeT_sNnHr);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-YjYohcloDYcA);
  font-size: var(--token-U1UvBDD-VoLt);
  column-gap: var(--token-I0Xtb9z7Q0X3);
  row-gap: 0px;
  border-radius: var(--token-D_3fp_JIDs1G);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-U1UvBDD-VoLt);
  line-height: var(--token-YjYohcloDYcA);
  column-gap: var(--token-D_3fp_JIDs1G);
  row-gap: 0px;
  border-radius: var(--token-D_3fp_JIDs1G);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Tca_MqWoqq_b);
  line-height: var(--token-e5afU7CKTHQ-);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Tca_MqWoqq_b);
  line-height: var(--token-e5afU7CKTHQ-);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-nqhafkqmXXhe);
  border-radius: var(--token-6F5DR5OsTPi0);
}
.softBackgroundcolor_neutral {
  background: var(--token-yy-le7sCm4OC);
}
.softBackgroundcolor_muted {
  background: var(--token-liD1vsX_5V6S);
}
.softBackgroundcolor_success {
  background: var(--token-aKFzHjmLc0ig);
}
.softBackgroundcolor_warning {
  background: var(--token-0t7foL2k0ZAI);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-G87jHcY0KBd5);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-6F5DR5OsTPi0);
  border: 0px solid var(--token-PCo3WmJeAQoj);
}
.bordercolor_neutral {
  border-color: var(--token-75wNrJT_vdar);
}
.bordercolor_muted {
  border-color: var(--token-xoDff6LzbEbA);
}
.bordercolor_success {
  border-color: var(--token-phUREJZ3P27p);
}
.bordercolor_warning {
  border-color: var(--token-Rfa7eIjNgPlb);
}
.bordercolor_errorDestructive {
  border-color: var(--token-GqMTaSvrLmXU);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-6F5DR5OsTPi0);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-nB_fHXKtRFru);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-0bhwu4BnB6BF);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-lvtosLib60Mj);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__vNlPw {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-6F5DR5OsTPi0);
  min-width: 0;
  min-height: 0;
  padding: var(--token-6F5DR5OsTPi0) var(--token-UWj1h_kV6SQI);
}
.freeBoxsize_extraSmall__vNlPWu7B4Q {
  padding: var(--token-D_3fp_JIDs1G) var(--token-6F5DR5OsTPi0);
}
.freeBoxsize_small__vNlPw2L811 {
  padding: var(--token-6F5DR5OsTPi0) var(--token-gLYiSvxc94NR);
}
.freeBoxsize_large__vNlPWuGoxx {
  padding-top: var(--token-D_3fp_JIDs1G);
  padding-bottom: var(--token-D_3fp_JIDs1G);
}
.freeBoxsize_extraLarge__vNlPWs2LWn {
  padding-left: var(--token-Vi8cDx7an2mh);
  padding-right: var(--token-Vi8cDx7an2mh);
}
.freeBoxroundedFull__vNlPwyIw6A {
  padding-right: var(--token-Vi8cDx7an2mh);
  padding-left: var(--token-Vi8cDx7an2mh);
}
.freeBox__zuL6I {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__zuL6IPa7Iw {
  display: flex;
}
.slotTargetStart {
  color: var(--token-OBoW1r9lulTJ);
}
.slotTargetStartcolor_neutral {
  color: var(--token-V-S3x2baGTkB);
}
.slotTargetStartcolor_muted {
  color: var(--token-ELL4eb_g1Avo);
}
.slotTargetStartcolor_success {
  color: var(--token-YbSJeJ1Q9rmg);
}
.slotTargetStartcolor_warning {
  color: var(--token-q0f4i-1HMEXK);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-W1cMTl6VBHhn);
}
.slotTargetStarttype_soft {
  color: var(--token-vrTybXLeM0dG);
}
.slotTargetStarttype_bordered {
  color: var(--token-vrTybXLeM0dG);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-U1UvBDD-VoLt);
}
.slotTargetStartsize_small {
  font-size: var(--token-U1UvBDD-VoLt);
}
.slotTargetStartsize_large {
  font-size: var(--token-Tca_MqWoqq_b);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Tca_MqWoqq_b);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-Whk8GGnOh2JA);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-Whk8GGnOh2JA);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-FjqkboLOiHod);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-FjqkboLOiHod);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-uCLxkrtOu8D-);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-uCLxkrtOu8D-);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-IOS9J53_5LDk);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-IOS9J53_5LDk);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-BKmjqB94eNCW);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-BKmjqB94eNCW);
}
.svg__e502 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-OBoW1r9lulTJ);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-V-S3x2baGTkB);
}
.slotTargetLabelcolor_muted {
  color: var(--token-ELL4eb_g1Avo);
}
.slotTargetLabelcolor_success {
  color: var(--token-YbSJeJ1Q9rmg);
}
.slotTargetLabelcolor_warning {
  color: var(--token-q0f4i-1HMEXK);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-W1cMTl6VBHhn);
}
.slotTargetLabeltype_soft {
  color: var(--token-vrTybXLeM0dG);
}
.slotTargetLabeltype_bordered {
  color: var(--token-vrTybXLeM0dG);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-Whk8GGnOh2JA);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-FjqkboLOiHod);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-Whk8GGnOh2JA);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-uCLxkrtOu8D-);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-FjqkboLOiHod);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-IOS9J53_5LDk);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-uCLxkrtOu8D-);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-BKmjqB94eNCW);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-IOS9J53_5LDk);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-BKmjqB94eNCW);
}
.text__nirJc {
  white-space: pre;
}
.freeBox__dzv7U {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__dzv7UnkAf8 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-OBoW1r9lulTJ);
}
.slotTargetEndcolor_neutral {
  color: var(--token-V-S3x2baGTkB);
}
.slotTargetEndcolor_muted {
  color: var(--token-ELL4eb_g1Avo);
}
.slotTargetEndcolor_success {
  color: var(--token-YbSJeJ1Q9rmg);
}
.slotTargetEndcolor_warning {
  color: var(--token-q0f4i-1HMEXK);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-W1cMTl6VBHhn);
}
.slotTargetEndtype_soft {
  color: var(--token-vrTybXLeM0dG);
}
.slotTargetEndtype_bordered {
  color: var(--token-vrTybXLeM0dG);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-U1UvBDD-VoLt);
}
.slotTargetEndsize_small {
  font-size: var(--token-U1UvBDD-VoLt);
}
.slotTargetEndsize_large {
  font-size: var(--token-Tca_MqWoqq_b);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Tca_MqWoqq_b);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-Whk8GGnOh2JA);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-Whk8GGnOh2JA);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-FjqkboLOiHod);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-FjqkboLOiHod);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-uCLxkrtOu8D-);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-uCLxkrtOu8D-);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-IOS9J53_5LDk);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-IOS9J53_5LDk);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-BKmjqB94eNCW);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-BKmjqB94eNCW);
}
.svg__iNOez {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
