.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  justify-self: flex-start;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    align-items: center;
    justify-content: flex-start;
  }
}
.rootback {
  background: none;
  box-shadow: none;
  row-gap: var(--token-I0Xtb9z7Q0X3);
  column-gap: 0px;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.freeBox {
  position: relative;
  max-width: 100%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}
.freeBoxback {
  box-shadow: 0px 2px 10px 0px #00000033;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-k-47TemksE2v);
  column-gap: 0px;
  row-gap: var(--token-I0Xtb9z7Q0X3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-UWj1h_kV6SQI);
}
.menueIcon:global(.__wab_instance) {
  max-width: 100%;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-9M5jRUPt8Msb);
  font-weight: 600;
  min-width: 0;
}
.textback {
  font-size: var(--token-ehIkf6s-dMLU);
  white-space: pre-wrap;
  user-select: none;
}
