.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button__oLxAl:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__aBFk {
  position: relative;
  height: 1em;
}
.text___0XFie {
  padding-right: 0px;
}
.svg__gGlaE {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  border-top-right-radius: var(--token-kD77h-2NGSqI);
  border-top-left-radius: var(--token-kD77h-2NGSqI);
  outline-style: none;
  background: var(--token-80wG4y4sryg5);
  display: block;
  color: var(--token-s6JDWwNdkMmO);
  font-family: var(--token-8ld_RqqV9anD);
  font-size: var(--token-ehIkf6s-dMLU);
  line-height: var(--token-tyha1eTxLLSq);
  position: relative;
  box-shadow: 0px 24px 48px -12px #00000040;
}
.pcls_XZFjS2kS9UA9 {
  background: var(--token-a9mEyVfKVz5O);
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  outline: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ariaModal:global(.__wab_instance) {
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: var(--token-Vi8cDx7an2mh);
    border-top-right-radius: var(--token-Vi8cDx7an2mh);
    max-height: 100%;
  }
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  overflow: hidden;
  outline-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  max-height: 90vh;
}
.freeBox__y97Mz {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
}
.h2__xT1Cy {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: bold;
  font-size: var(--token-Tca_MqWoqq_b);
  min-width: 0;
  padding: var(--token-zOTmRNiLzxBx);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  padding: 0px var(--token-zOTmRNiLzxBx);
}
.freeBox__nZo2Y {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  row-gap: var(--token-Vi8cDx7an2mh);
}
.text___27D0Y {
  position: relative;
}
.freeBox__sSq8A {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-zOTmRNiLzxBx);
}
.freeBox__mxVpF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__ivsXz {
  position: relative;
  height: 1em;
}
.svg__bjvre {
  position: relative;
  height: 1em;
}
