.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  justify-self: flex-start;
  position: relative;
  background: var(--token-KPGXdu9o7llP);
  border-top-width: 2px;
  border-top-style: solid;
  min-width: 0;
  padding: var(--token-rfsFxiclAtek);
}
.freeBox__toeWv {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  column-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
}
.freeBox__b4Hp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  transition-property: all;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.05s;
  padding: 0px;
}
.menueIcon:global(.__wab_instance) {
  width: auto;
  margin-right: 0px;
}
