.root {
  background: var(--token-KPGXdu9o7llP);
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-CVjaMVgIQl_G) var(--token-kD77h-2NGSqI)
    var(--token-73iLa06AE6f4);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootpage_categories > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpage_categories > * {
    grid-column: 4;
  }
}
.rootpage_subcategories > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpage_subcategories > * {
    grid-column: 4;
  }
}
.rootpage_center {
  padding: 0px;
}
.rootpage_center > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpage_center > * {
    grid-column: 4;
  }
}
.rootpage_payment > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpage_payment {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpage_payment > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.homePage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  justify-self: flex-start;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .homePage {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.homePagepage_categories {
  display: none;
  padding: 0px;
}
.homePagepage_subcategories {
  display: none;
}
.homePagepage_center {
  display: none;
}
.homePagepage_payment {
  display: none;
}
.section__iGcIn {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  background: none;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px var(--token-rfsFxiclAtek);
}
.section__iGcIn > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__iGcIn {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__iGcIn > * {
    grid-column: 4;
  }
}
.menu2:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu2:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.section__pJCrL {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  bottom: auto;
  background: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 0px;
}
.section__pJCrL > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__pJCrL {
    z-index: 20;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__pJCrL > * {
    grid-column: 4;
  }
}
.freeBox__ibbNl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-ee2TuxDknsJj);
  row-gap: var(--token-73iLa06AE6f4);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: var(--token-xsiin-peP6fP) var(--token-xsiin-peP6fP) 5.5rem;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ibbNl {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox___9C3Gw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 0rem;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg___0GKYj {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  right: var(--token-rfsFxiclAtek);
  bottom: var(--token-rfsFxiclAtek);
  height: var(--token-xsiin-peP6fP);
  color: var(--token-k-47TemksE2v);
  width: var(--token-xsiin-peP6fP);
  opacity: 0.6;
  flex-shrink: 0;
}
.svg__gSs9U {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: var(--token-rfsFxiclAtek);
  top: auto;
  height: var(--token-zOTmRNiLzxBx);
  color: var(--token-k-47TemksE2v);
  width: var(--token-zOTmRNiLzxBx);
  bottom: var(--token-rfsFxiclAtek);
  flex-shrink: 0;
}
.freeBox___4JaU4 {
  background: var(--token--ieHgGbFH1Fa);
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: 0px;
}
.freeBox__k4OH1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: var(--token-rfsFxiclAtek);
}
.text__fmPbl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-k-47TemksE2v);
  font-weight: 700;
  font-size: var(--token-Tca_MqWoqq_b);
}
.text__qxfk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-9jx4RULNbWhl);
  color: var(--token-A-PNbaadkZKd);
  text-align: right;
}
.button:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 80%;
}
.svg__sMmxQ {
  position: relative;
  height: 1em;
}
.text__ekymK {
  white-space: pre;
  color: var(--token-9M5jRUPt8Msb);
}
.svg__th0Cz {
  position: relative;
  height: 1em;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  align-self: flex-end;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__t0TZ {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: 25px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  background: var(--token-KPGXdu9o7llP);
  border-top-right-radius: var(--token-zOTmRNiLzxBx);
  border-top-left-radius: var(--token-zOTmRNiLzxBx);
  flex-shrink: 0;
  padding: 8px;
}
.categories:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  display: none;
}
.categoriespage_categories:global(.__wab_instance) {
  display: grid;
}
.subcategories:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.subcategoriespage_subcategories:global(.__wab_instance) {
  display: grid;
}
.center:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.centerpage_center:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: grid;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequestpage_payment:global(.__wab_instance) {
  display: none;
}
.freeBox__sCmYa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 14rem 0px 0px;
}
.freeBox___1WXlA {
  background: var(--token--ieHgGbFH1Fa);
  animation: none;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 120px;
  width: 100%;
  box-shadow: none;
  outline-width: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-Vi8cDx7an2mh);
}
.freeBox__aTvDo {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  min-width: 0;
  padding: 0px;
}
.freeBox__y0Iqc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___1SPfr {
  background: var(--token--ieHgGbFH1Fa);
  animation: none;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 80px;
  width: 80px;
  box-shadow: none;
  outline-width: 0px;
  flex-shrink: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-Vi8cDx7an2mh);
}
.home:global(.__wab_instance) {
  position: relative;
  width: 98%;
  margin-bottom: 10rem;
  z-index: 2;
}
@media (min-width: 0px) and (max-width: 768px) {
  .home:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.homepage_categories:global(.__wab_instance) {
  display: none;
}
.homepage_subcategories:global(.__wab_instance) {
  display: none;
}
.homepage_center:global(.__wab_instance) {
  display: none;
}
.homepage_payment:global(.__wab_instance) {
  display: none;
}
.payment:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.paymentpage_payment:global(.__wab_instance) {
  display: grid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .paymentpage_payment:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.search:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
