.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-D_3fp_JIDs1G);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__l28FD {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-D_3fp_JIDs1G);
}
.radio___1Hmk:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__jBrPw:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__eh0Eq:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
