.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: none;
  font-size: var(--token-ehIkf6s-dMLU);
  line-height: var(--token-tyha1eTxLLSq);
  width: 100%;
  color: var(--token-9M5jRUPt8Msb);
  font-family: var(--token-8ld_RqqV9anD);
  background: var(--token-h2xt7bB598yU);
  text-align: right;
  min-width: 0;
  border-radius: var(--token-6F5DR5OsTPi0);
  padding: var(--token-6F5DR5OsTPi0) var(--token-UWj1h_kV6SQI);
  border-bottom: 1px solid var(--token-as44I7WwR-rZ);
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-xZK-xLPCiE1W);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-liD1vsX_5V6S);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-EGJ4yk4AuJam);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-liD1vsX_5V6S);
}
.ariaTextAreatype_line:global(.__wab_instance) {
  border-radius: 0px;
}
.ariaTextAreatype_line[data-focused]:global(.__wab_instance) {
  outline-width: 0px;
  outline-style: none;
  border-bottom-color: var(--token-Yo4gdKCgyuAu);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-CVjaMVgIQl_G);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-CVjaMVgIQl_G);
}
