.root {
  background: var(--token-KPGXdu9o7llP);
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-CVjaMVgIQl_G) var(--token-kD77h-2NGSqI)
    var(--token-73iLa06AE6f4);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.rootpage_categories > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpage_categories > * {
    grid-column: 4;
  }
}
.rootpage_subcategories > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpage_subcategories > * {
    grid-column: 4;
  }
}
.rootpage_center {
  padding: 0px;
}
.rootpage_center > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootpage_center > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.homePage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  justify-self: flex-start;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .homePage {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.homePagepage_categories {
  display: none;
  padding: 0px;
}
.homePagepage_subcategories {
  display: none;
}
.homePagepage_center {
  display: none;
}
.section__iGcIn {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  background: none;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px var(--token-rfsFxiclAtek);
}
.section__iGcIn > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__iGcIn {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__iGcIn > * {
    grid-column: 4;
  }
}
.menu2:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu2:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.section__pJCrL {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  bottom: auto;
  background: none;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 0px;
}
.section__pJCrL > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__pJCrL {
    z-index: 20;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__pJCrL > * {
    grid-column: 4;
  }
}
.freeBox__ibbNl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token--ieHgGbFH1Fa);
  row-gap: var(--token-rfsFxiclAtek);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: var(--token-xsiin-peP6fP) var(--token-xsiin-peP6fP)
    var(--token-CVjaMVgIQl_G);
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ibbNl {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__r7UPf {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/website_starter/images/image2.svg") 0% 0% / contain repeat;
  opacity: 0.05;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  row-gap: var(--token-rfsFxiclAtek);
  padding: var(--token-rfsFxiclAtek) var(--token-73iLa06AE6f4)
    var(--token-73iLa06AE6f4);
}
.freeBox___4JaU4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBox___2Pth2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  top: 0;
  background: var(--token-ee2TuxDknsJj);
  filter: blur(20px);
  opacity: 0.2;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Pth2 {
    opacity: 0.5;
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 120px;
  margin: var(--token-rfsFxiclAtek);
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    width: 120px;
    margin: var(--token-rfsFxiclAtek);
  }
}
.freeBox___9C3Gw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 0rem;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput:global(.__wab_instance):global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.svg___0GKYj {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: auto;
  right: var(--token-rfsFxiclAtek);
  bottom: var(--token-rfsFxiclAtek);
  height: var(--token-xsiin-peP6fP);
  color: var(--token-9M5jRUPt8Msb);
  width: var(--token-xsiin-peP6fP);
  opacity: 0.6;
  flex-shrink: 0;
}
.svg__gSs9U {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: var(--token-rfsFxiclAtek);
  top: auto;
  height: var(--token-73iLa06AE6f4);
  color: var(--token-9M5jRUPt8Msb);
  width: var(--token-73iLa06AE6f4);
  bottom: var(--token-rfsFxiclAtek);
  flex-shrink: 0;
}
.freeBox__ciskU {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 20px;
  max-width: 100%;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  background: var(--token-KPGXdu9o7llP);
  border-top-right-radius: var(--token-73iLa06AE6f4);
  border-top-left-radius: var(--token-73iLa06AE6f4);
  box-shadow: 0px -10px 16px 0px #00000033;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.categories:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  display: none;
}
.categoriespage_categories:global(.__wab_instance) {
  display: grid;
}
.subcategories:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
}
.subcategoriespage_subcategories:global(.__wab_instance) {
  display: grid;
}
.center:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.centerpage_center:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: grid;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__sCmYa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  min-width: 0;
  padding: 14rem 0px 0px;
}
.freeBox___1WXlA {
  background: none;
  outline-color: var(--token-pRs3-4jrQ4XQ);
  outline-style: solid;
  outline-width: 0px;
  animation: none;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 120px;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-Vi8cDx7an2mh);
}
.freeBox__aTvDo {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  min-width: 0;
  padding: 0px;
}
.freeBox__y0Iqc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___1SPfr {
  background: none;
  outline-color: var(--token-pRs3-4jrQ4XQ);
  outline-style: solid;
  outline-width: 0px;
  animation: none;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 80px;
  width: 80px;
  box-shadow: none;
  flex-shrink: 0;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-Vi8cDx7an2mh);
}
.home:global(.__wab_instance) {
  position: relative;
  width: 98%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .home:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.homepage_categories:global(.__wab_instance) {
  display: none;
}
.homepage_subcategories:global(.__wab_instance) {
  display: none;
}
.homepage_center:global(.__wab_instance) {
  display: none;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
