.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-73iLa06AE6f4);
  position: relative;
  min-width: 0;
  padding: 14rem 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.rootsearch {
  padding-top: 6rem;
}
.freeBox__dzcLe {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 150px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-kD77h-2NGSqI);
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dzcLe {
    height: 100px;
    flex-shrink: 0;
  }
}
.freeBoxsearch__dzcLeMh4IK {
  display: none;
}
.swiperSlider2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .swiperSlider2:global(.__wab_instance) {
    animation: none;
  }
}
.img__redDh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 200px;
}
.img__redDh > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__redDh {
    animation: none;
    height: 120px;
  }
}
.img___58Ai3 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 200px;
}
.img___58Ai3 > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___58Ai3 {
    animation: none;
    height: 120px;
  }
}
.img__yq35R {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  height: 200px;
}
.img__yq35R > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yq35R {
    animation: none;
    height: 120px;
  }
}
.freeBox__muDck {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__muDck {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxsearch__muDckMh4IK {
  display: none;
}
.freeBox___0GJcQ {
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-rfsFxiclAtek);
  grid-column-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0GJcQ {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-row-gap: var(--token-D_3fp_JIDs1G);
  }
}
.toolsItem:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___8ZSjn {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-rfsFxiclAtek);
  min-width: 0;
  display: none;
  padding: 0px;
}
.freeBoxsearch___8ZSjnMh4IK {
  display: flex;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.item:global(.__wab_instance) {
  max-width: 100%;
}
