.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: none;
  min-width: 0;
  padding: 0px;
  border-width: 0px;
}
.rootselect {
  background: none;
  height: auto;
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
  border-radius: 50%;
  padding: 0px;
}
.freeBox {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxselect {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: auto;
  bottom: 0;
  height: auto;
  background: #abda75;
  filter: blur(7px);
  opacity: 0.1;
  display: flex;
  border-radius: 50%;
  padding: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
.svgselect {
  width: 2rem;
  color: var(--token-Yo4gdKCgyuAu);
}
.svgicons_supportive {
  display: none;
}
.svgicons_medical {
  display: none;
}
.svgicons_medicalcompletion {
  display: none;
}
.svgsize_max {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.svgcolor_dark {
  color: var(--token--ieHgGbFH1Fa);
}
.svgicons_settings_select {
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}
.svgicons_home_select {
  color: var(--token-Yo4gdKCgyuAu);
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  display: none;
}
.img > picture > img {
  object-fit: cover;
}
.imgicons_supportive {
  display: block;
}
.imgicons_medical {
  display: block;
}
.imgicons_medicalcompletion {
  display: block;
}
