@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-ee2TuxDknsJj: #6f8a3a;
  --plasmic-token-primary-green: var(--token-ee2TuxDknsJj);
  --token-Yo4gdKCgyuAu: #f3c94c;
  --plasmic-token-accent-yellow: var(--token-Yo4gdKCgyuAu);
  --token-C6B6ZAuqICKE: #afa491;
  --plasmic-token-gray: var(--token-C6B6ZAuqICKE);
  --token--ieHgGbFH1Fa: #8fae55;
  --plasmic-token-secondary-green: var(--token--ieHgGbFH1Fa);
  --token-73iLa06AE6f4: 1.5rem;
  --plasmic-token-2: var(--token-73iLa06AE6f4);
  --token-rfsFxiclAtek: 0.75rem;
  --plasmic-token-1: var(--token-rfsFxiclAtek);
  --token-fr7DwvJwRjZb: #4f5b2a;
  --plasmic-token-background-dark: var(--token-fr7DwvJwRjZb);
  --token-9M5jRUPt8Msb: #1f2a0f;
  --plasmic-token-text-primary: var(--token-9M5jRUPt8Msb);
  --token-5bOpHmsvlymK: #505f3a;
  --plasmic-token-soft-olive: var(--token-5bOpHmsvlymK);
  --token-CVjaMVgIQl_G: 2rem;
  --plasmic-token-size-32: var(--token-CVjaMVgIQl_G);
  --token-kD77h-2NGSqI: 1rem;
  --plasmic-token-size-16: var(--token-kD77h-2NGSqI);
  --token-gLYiSvxc94NR: 0.5rem;
  --plasmic-token-size-8: var(--token-gLYiSvxc94NR);
  --token-FjqkboLOiHod: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-FjqkboLOiHod);
  --token-D_3fp_JIDs1G: 0.25rem;
  --plasmic-token-size-4: var(--token-D_3fp_JIDs1G);
  --token-Vi8cDx7an2mh: 0.75rem;
  --plasmic-token-size-12: var(--token-Vi8cDx7an2mh);
  --token-zOTmRNiLzxBx: 1.5rem;
  --plasmic-token-size-24: var(--token-zOTmRNiLzxBx);
  --token-Tca_MqWoqq_b: 1.25rem;
  --plasmic-token-font-lg: var(--token-Tca_MqWoqq_b);
  --token-80wG4y4sryg5: var(--token-h2xt7bB598yU);
  --plasmic-token-basic-container-background: var(--token-80wG4y4sryg5);
  --token-xZK-xLPCiE1W: #2563eb;
  --plasmic-token-brand-brand: var(--token-xZK-xLPCiE1W);
  --token-8ld_RqqV9anD: Inter;
  --plasmic-token-sans-serif: var(--token-8ld_RqqV9anD);
  --token-ehIkf6s-dMLU: 1rem;
  --plasmic-token-font-md: var(--token-ehIkf6s-dMLU);
  --token-tyha1eTxLLSq: 1.25;
  --plasmic-token-line-height-md: var(--token-tyha1eTxLLSq);
  --token-6F5DR5OsTPi0: 0.375rem;
  --plasmic-token-size-6: var(--token-6F5DR5OsTPi0);
  --token-ygRHI2d5KsR3: #374151;
  --plasmic-token-neutral-neutral: var(--token-ygRHI2d5KsR3);
  --token-FCYaeT_sNnHr: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-FCYaeT_sNnHr);
  --token-m-R84nL6Jb9a: #6b7280;
  --plasmic-token-muted-muted: var(--token-m-R84nL6Jb9a);
  --token-U1UvBDD-VoLt: 0.75rem;
  --plasmic-token-font-sm: var(--token-U1UvBDD-VoLt);
  --token-YjYohcloDYcA: 1;
  --plasmic-token-line-height-sm: var(--token-YjYohcloDYcA);
  --token-e5afU7CKTHQ-: 1.4;
  --plasmic-token-line-height-lg: var(--token-e5afU7CKTHQ-);
  --token-I0Xtb9z7Q0X3: 0.125rem;
  --plasmic-token-size-2: var(--token-I0Xtb9z7Q0X3);
  --token-7SzLzuTwCxD0: #16a34a;
  --plasmic-token-success-success: var(--token-7SzLzuTwCxD0);
  --token-gzfwquJiFTd8: #facc15;
  --plasmic-token-warning-warning: var(--token-gzfwquJiFTd8);
  --token-nqhafkqmXXhe: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-nqhafkqmXXhe);
  --token-yy-le7sCm4OC: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-yy-le7sCm4OC);
  --token-liD1vsX_5V6S: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-liD1vsX_5V6S);
  --token-aKFzHjmLc0ig: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-aKFzHjmLc0ig);
  --token-0t7foL2k0ZAI: #58743a17;
  --plasmic-token-warning-warning-soft: var(--token-0t7foL2k0ZAI);
  --token-G87jHcY0KBd5: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-G87jHcY0KBd5);
  --token-PCo3WmJeAQoj: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-PCo3WmJeAQoj);
  --token-75wNrJT_vdar: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-75wNrJT_vdar);
  --token-xoDff6LzbEbA: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-xoDff6LzbEbA);
  --token-phUREJZ3P27p: #86efac;
  --plasmic-token-success-success-border: var(--token-phUREJZ3P27p);
  --token-Rfa7eIjNgPlb: #fde047;
  --plasmic-token-warning-warning-border: var(--token-Rfa7eIjNgPlb);
  --token-GqMTaSvrLmXU: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-GqMTaSvrLmXU);
  --token-nB_fHXKtRFru: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-nB_fHXKtRFru);
  --token-0bhwu4BnB6BF: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-0bhwu4BnB6BF);
  --token-lvtosLib60Mj: #00000033;
  --plasmic-token-interaction-pressed: var(--token-lvtosLib60Mj);
  --token-UWj1h_kV6SQI: 0.625rem;
  --plasmic-token-size-10: var(--token-UWj1h_kV6SQI);
  --token-OBoW1r9lulTJ: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-OBoW1r9lulTJ);
  --token-V-S3x2baGTkB: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-V-S3x2baGTkB);
  --token-ELL4eb_g1Avo: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-ELL4eb_g1Avo);
  --token-vrTybXLeM0dG: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-vrTybXLeM0dG);
  --token-q0f4i-1HMEXK: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-q0f4i-1HMEXK);
  --token-YbSJeJ1Q9rmg: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-YbSJeJ1Q9rmg);
  --token-W1cMTl6VBHhn: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-W1cMTl6VBHhn);
  --token-Whk8GGnOh2JA: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-Whk8GGnOh2JA);
  --token-uCLxkrtOu8D-: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-uCLxkrtOu8D-);
  --token-IOS9J53_5LDk: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-IOS9J53_5LDk);
  --token-BKmjqB94eNCW: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-BKmjqB94eNCW
  );
  --token-s6JDWwNdkMmO: #030712;
  --plasmic-token-basic-text-primary: var(--token-s6JDWwNdkMmO);
  --token-RbglYLRm6z6H: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-RbglYLRm6z6H);
  --token-xsiin-peP6fP: 1.25rem;
  --plasmic-token-size-20: var(--token-xsiin-peP6fP);
  --token-kDIwDSo33bsK: #9ca3af;
  --plasmic-token-basic-ring: var(--token-kDIwDSo33bsK);
  --token-kI60KiRr_Lur: #d1d5db;
  --plasmic-token-basic-border: var(--token-kI60KiRr_Lur);
  --token-EGJ4yk4AuJam: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-EGJ4yk4AuJam);
  --token-5IORLB32cx8g: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-5IORLB32cx8g);
  --token-a9mEyVfKVz5O: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-a9mEyVfKVz5O);
  --token-mlLJkT4QtOoz: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-mlLJkT4QtOoz);
  --token-KPGXdu9o7llP: #f5efdb;
  --plasmic-token-background-light: var(--token-KPGXdu9o7llP);
  --token-6xZrMIMSyTjQ: 2px;
  --plasmic-token-unnamed-style-token: var(--token-6xZrMIMSyTjQ);
  --token-9jx4RULNbWhl: 1rem;
  --plasmic-token-base-2: var(--token-9jx4RULNbWhl);
  --token-R7X4jvpZsbD-: 0.875rem;
  --plasmic-token-small: var(--token-R7X4jvpZsbD-);
  --token-UD-qlc_UzpDF: 0.875rem;
  --plasmic-token-small-2: var(--token-UD-qlc_UzpDF);
  --token-hbNq_Oz393_j: 1.125rem;
  --plasmic-token-large: var(--token-hbNq_Oz393_j);
  --token-P3I_D0uxQRnt: 2rem;
  --plasmic-token-8: var(--token-P3I_D0uxQRnt);
  --token-w-4Gcj0_UzPS: 0.75rem;
  --plasmic-token-x-small: var(--token-w-4Gcj0_UzPS);
  --token-YhQm4wg3VLyj: 2px;
  --plasmic-token-unnamed-style-token-2: var(--token-YhQm4wg3VLyj);
  --token-KjATzAYJ5IB7: #6b7a5a;
  --plasmic-token-text-secondary: var(--token-KjATzAYJ5IB7);
  --token-LBC0X5IbL9bo: 1rem;
  --plasmic-token-4: var(--token-LBC0X5IbL9bo);
  --token-xf2ijuTrDk1U: 0.75rem;
  --plasmic-token-3: var(--token-xf2ijuTrDk1U);
  --token-AFv7sfVuyqL3: 1rem;
  --plasmic-token-base-3: var(--token-AFv7sfVuyqL3);
  --token-iVlRcbuW8di4: #2b2f33;
  --plasmic-token-dark: var(--token-iVlRcbuW8di4);
  --token-sdHWFpeV8MAu: #eb464a;
  --plasmic-token-red: var(--token-sdHWFpeV8MAu);
  --token-8IZ3P-rlJFBA: #00c371;
  --plasmic-token-green: var(--token-8IZ3P-rlJFBA);
  --token-NWiHR7h0ClTY: #eeedce;
  --plasmic-token-task-text-dark: var(--token-NWiHR7h0ClTY);
  --token-O-9PmcwkoIXk: #f8edff;
  --plasmic-token-serface: var(--token-O-9PmcwkoIXk);
  --token-clkRsHVdZgT8: #b1b1b1;
  --plasmic-token-icon-color-gray: var(--token-clkRsHVdZgT8);
  --token-a13HKnxwl17E: rgb(79, 79, 79);
  --plasmic-token-task-text-dim-dark: var(--token-a13HKnxwl17E);
  --token-UgqtYPNHxeMF: #000000;
  --plasmic-token-title: var(--token-UgqtYPNHxeMF);
  --token-ug_bBaukwNeX: var(--token-A-PNbaadkZKd);
  --plasmic-token-input-placeholder: var(--token-ug_bBaukwNeX);
  --token-lszuI__rluy0: #552f96;
  --plasmic-token-dark-primary: var(--token-lszuI__rluy0);
  --token-G2OXqM4Nes36: #aa4a89;
  --plasmic-token-gradient-7: var(--token-G2OXqM4Nes36);
  --token-W0eejbtvb0xw: #ffffff;
  --plasmic-token-: var(--token-W0eejbtvb0xw);
  --token-k-47TemksE2v: var(--token-h2xt7bB598yU);
  --plasmic-token-accent-lighte: var(--token-k-47TemksE2v);
  --token-A-PNbaadkZKd: #ececd8;
  --plasmic-token-text-secondary-on-dark: var(--token-A-PNbaadkZKd);
  --token-l0hcBbEdQjWD: #ffffff;
  --plasmic-token-unnamed-style-token-3: var(--token-l0hcBbEdQjWD);
  --token-oMej9DCdGzNU: #e8ffaf6e;
  --plasmic-token-lighe-mask: var(--token-oMej9DCdGzNU);
  --token-h2xt7bB598yU: #f5f1e3;
  --plasmic-token-card-background: var(--token-h2xt7bB598yU);
  --token-7j7Cq8eU0_eD: #ffffff;
  --plasmic-token-text-on-dark: var(--token-7j7Cq8eU0_eD);
  --token-Ws0-_dtROA6x: #f3c94c;
  --plasmic-token-button-primary: var(--token-Ws0-_dtROA6x);
  --token-1aP3XjRZIKFV: #1f2a0f;
  --plasmic-token-button-text: var(--token-1aP3XjRZIKFV);
  --token-ccqYe7dhXoNZ: #6f8a3a;
  --plasmic-token-icon-active: var(--token-ccqYe7dhXoNZ);
  --token-Es3BYpS8XP38: #a3b18a;
  --plasmic-token-icon-inactive: var(--token-Es3BYpS8XP38);
  --token-v1iW1n7zvyWu: #ffffff;
  --plasmic-token-unnamed-style-token-4: var(--token-v1iW1n7zvyWu);
  --token-6PgHWThSeskT: #e3e3d2;
  --plasmic-token-simmer: var(--token-6PgHWThSeskT);
  --token-N8Pb0ZuDQAeF: 1rem;
  --plasmic-token-base: var(--token-N8Pb0ZuDQAeF);
  --token-9Ml0DnVjEcaY: rgb(0, 0, 0);
  --plasmic-token-page-bg-dark: var(--token-9Ml0DnVjEcaY);
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_tokens {
    --token-8IZ3P-rlJFBA: #00af65;
  }
}

.plasmic_tokens_override.plasmic_tokens_override {
  --token-8lqFm4pa_96a: var(--token-C6B6ZAuqICKE);
  --token-ukwKZMvHWx7C: var(--token-C6B6ZAuqICKE);
  --token-6G9-A5vsJlrH: var(--token-C6B6ZAuqICKE);
  --token-6Lhw5mK6wolF: var(--token-C6B6ZAuqICKE);
  --token-kzT08fQBAHgz: var(--token-C6B6ZAuqICKE);
  --token-LqpCVPPZF4_r: var(--token-C6B6ZAuqICKE);
  --token-RHb8DXPBtDBn: var(--token-C6B6ZAuqICKE);
  --token--rHJyFFIHSqx: var(--token-C6B6ZAuqICKE);
  --token-KrBMMqlPClZi: #fffef0;
  --token-DxfYAkV7QVUJ: var(--token-C6B6ZAuqICKE);
  --token-ehVEIAjb9HeO: var(--token-C6B6ZAuqICKE);
  --token-qlDkklux5JrT: var(--token-C6B6ZAuqICKE);
  --token-Unt2O2MnUneb: var(--token-C6B6ZAuqICKE);
  --token-b54tAmlgUaXe: var(--token-C6B6ZAuqICKE);
  --token-2aHIw8xI62Xi: #00000033;
  --token-Le07ngBUPl2h: #00000033;
  --token-Yq556PvPjGii: #ffffff;
  --token-pyhDq7s0RTkz: #e1d5ab;
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-vbkdxLC3qPxP_font-family: "Inter", sans-serif;
  --mixin-vbkdxLC3qPxP_font-size: 16px;
  --mixin-vbkdxLC3qPxP_font-weight: 400;
  --mixin-vbkdxLC3qPxP_font-style: normal;
  --mixin-vbkdxLC3qPxP_color: #535353;
  --mixin-vbkdxLC3qPxP_text-align: left;
  --mixin-vbkdxLC3qPxP_text-transform: none;
  --mixin-vbkdxLC3qPxP_line-height: 1.5;
  --mixin-vbkdxLC3qPxP_letter-spacing: normal;
  --mixin-vbkdxLC3qPxP_white-space: pre-wrap;
  --mixin-vbkdxLC3qPxP_user-select: text;
  --mixin-vbkdxLC3qPxP_text-decoration-line: none;
  --mixin-vbkdxLC3qPxP_text-overflow: clip;
  --mixin-PT3z_RFWTZBW_color: #000000;
  --mixin-PT3z_RFWTZBW_font-weight: 700;
  --mixin-PT3z_RFWTZBW_font-size: 64px;
  --mixin-PT3z_RFWTZBW_line-height: 1;
  --mixin-PT3z_RFWTZBW_letter-spacing: -1px;
  --mixin-PT3z_RFWTZBW_white-space: pre-wrap;
  --mixin-RfTdIUToUuZN_color: #000000;
  --mixin-RfTdIUToUuZN_font-size: 48px;
  --mixin-RfTdIUToUuZN_font-weight: 700;
  --mixin-RfTdIUToUuZN_letter-spacing: -0.5px;
  --mixin-RfTdIUToUuZN_line-height: 1.1;
  --mixin-RfTdIUToUuZN_white-space: pre-wrap;
  --mixin-lv98TBcyNb6v_color: #0070f3;
  --mixin-lv98TBcyNb6v_white-space: pre-wrap;
  --mixin-sUM0nBb0lkjK_color: #000000;
  --mixin-sUM0nBb0lkjK_font-size: 32px;
  --mixin-sUM0nBb0lkjK_font-weight: 600;
  --mixin-sUM0nBb0lkjK_line-height: 1.2;
  --mixin-sUM0nBb0lkjK_white-space: pre-wrap;
  --mixin-_4LX2SJ1lYGf_color: #000000;
  --mixin-_4LX2SJ1lYGf_font-size: 24px;
  --mixin-_4LX2SJ1lYGf_font-weight: 600;
  --mixin-_4LX2SJ1lYGf_line-height: 1.3;
  --mixin-_4LX2SJ1lYGf_white-space: pre-wrap;
  --mixin-35DqUu-RKjn4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-35DqUu-RKjn4_border-bottom-color: #dddddd;
  --mixin-35DqUu-RKjn4_border-bottom-style: solid;
  --mixin-35DqUu-RKjn4_border-bottom-width: 1px;
  --mixin-35DqUu-RKjn4_border-left-color: #dddddd;
  --mixin-35DqUu-RKjn4_border-left-style: solid;
  --mixin-35DqUu-RKjn4_border-left-width: 1px;
  --mixin-35DqUu-RKjn4_border-right-color: #dddddd;
  --mixin-35DqUu-RKjn4_border-right-style: solid;
  --mixin-35DqUu-RKjn4_border-right-width: 1px;
  --mixin-35DqUu-RKjn4_border-top-color: #dddddd;
  --mixin-35DqUu-RKjn4_border-top-style: solid;
  --mixin-35DqUu-RKjn4_border-top-width: 1px;
  --mixin-35DqUu-RKjn4_border-bottom-left-radius: 3px;
  --mixin-35DqUu-RKjn4_border-bottom-right-radius: 3px;
  --mixin-35DqUu-RKjn4_border-top-left-radius: 3px;
  --mixin-35DqUu-RKjn4_border-top-right-radius: 3px;
  --mixin-35DqUu-RKjn4_font-family: "Inconsolata";
  --mixin-35DqUu-RKjn4_padding-bottom: 1px;
  --mixin-35DqUu-RKjn4_padding-left: 4px;
  --mixin-35DqUu-RKjn4_padding-right: 4px;
  --mixin-35DqUu-RKjn4_padding-top: 1px;
  --mixin-35DqUu-RKjn4_white-space: pre-wrap;
  --mixin-D9YV1d5FvIYK_border-left-color: #dddddd;
  --mixin-D9YV1d5FvIYK_border-left-style: solid;
  --mixin-D9YV1d5FvIYK_border-left-width: 3px;
  --mixin-D9YV1d5FvIYK_color: #888888;
  --mixin-D9YV1d5FvIYK_padding-left: 10px;
  --mixin-D9YV1d5FvIYK_white-space: pre-wrap;
  --mixin-ZWESXVtrBiqk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZWESXVtrBiqk_border-bottom-color: #dddddd;
  --mixin-ZWESXVtrBiqk_border-bottom-style: solid;
  --mixin-ZWESXVtrBiqk_border-bottom-width: 1px;
  --mixin-ZWESXVtrBiqk_border-left-color: #dddddd;
  --mixin-ZWESXVtrBiqk_border-left-style: solid;
  --mixin-ZWESXVtrBiqk_border-left-width: 1px;
  --mixin-ZWESXVtrBiqk_border-right-color: #dddddd;
  --mixin-ZWESXVtrBiqk_border-right-style: solid;
  --mixin-ZWESXVtrBiqk_border-right-width: 1px;
  --mixin-ZWESXVtrBiqk_border-top-color: #dddddd;
  --mixin-ZWESXVtrBiqk_border-top-style: solid;
  --mixin-ZWESXVtrBiqk_border-top-width: 1px;
  --mixin-ZWESXVtrBiqk_border-bottom-left-radius: 3px;
  --mixin-ZWESXVtrBiqk_border-bottom-right-radius: 3px;
  --mixin-ZWESXVtrBiqk_border-top-left-radius: 3px;
  --mixin-ZWESXVtrBiqk_border-top-right-radius: 3px;
  --mixin-ZWESXVtrBiqk_font-family: "Inconsolata";
  --mixin-ZWESXVtrBiqk_padding-bottom: 3px;
  --mixin-ZWESXVtrBiqk_padding-left: 6px;
  --mixin-ZWESXVtrBiqk_padding-right: 6px;
  --mixin-ZWESXVtrBiqk_padding-top: 3px;
  --mixin-ZWESXVtrBiqk_white-space: pre-wrap;
  --mixin-MxzEpgQmXKxT_display: flex;
  --mixin-MxzEpgQmXKxT_flex-direction: column;
  --mixin-MxzEpgQmXKxT_align-items: stretch;
  --mixin-MxzEpgQmXKxT_justify-content: flex-start;
  --mixin-MxzEpgQmXKxT_list-style-position: outside;
  --mixin-MxzEpgQmXKxT_padding-left: 40px;
  --mixin-MxzEpgQmXKxT_position: relative;
  --mixin-MxzEpgQmXKxT_list-style-type: disc;
  --mixin-MxzEpgQmXKxT_white-space: pre-wrap;
  --mixin-81Rquq3v07Ai_display: flex;
  --mixin-81Rquq3v07Ai_flex-direction: column;
  --mixin-81Rquq3v07Ai_align-items: stretch;
  --mixin-81Rquq3v07Ai_justify-content: flex-start;
  --mixin-81Rquq3v07Ai_list-style-position: outside;
  --mixin-81Rquq3v07Ai_padding-left: 40px;
  --mixin-81Rquq3v07Ai_position: relative;
  --mixin-81Rquq3v07Ai_list-style-type: decimal;
  --mixin-81Rquq3v07Ai_white-space: pre-wrap;
  --mixin--gCZT-z1FD11_color: #000000;
  --mixin--gCZT-z1FD11_font-size: 20px;
  --mixin--gCZT-z1FD11_font-weight: 600;
  --mixin--gCZT-z1FD11_line-height: 1.5;
  --mixin--gCZT-z1FD11_white-space: pre-wrap;
  --mixin-mRUaWe2gM97y_color: #000000;
  --mixin-mRUaWe2gM97y_font-size: 16px;
  --mixin-mRUaWe2gM97y_font-weight: 600;
  --mixin-mRUaWe2gM97y_line-height: 1.5;
  --mixin-mRUaWe2gM97y_white-space: pre-wrap;
  --mixin-stfYSqGW8fY0_color: #3291ff;
  --mixin-stfYSqGW8fY0_white-space: pre-wrap;
  --mixin-_-2QHiAhJfNY_white-space: pre-wrap;
  --mixin-BR6c1fFHqWDh_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-cA0u77yacnoF_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-cA0u77yacnoF_white-space);
  --mixin-dKZORp5JkCYE_white-space: pre-wrap;
  --plasmic-mixin-cicle_white-space: var(--mixin-dKZORp5JkCYE_white-space);
  --mixin-oV2OuOGaz07K_box-shadow: 0px 2px 5px 0px #afa49199;
  --plasmic-mixin-box-shadow_box-shadow: var(--mixin-oV2OuOGaz07K_box-shadow);
  --mixin-oV2OuOGaz07K_white-space: pre-wrap;
  --plasmic-mixin-box-shadow_white-space: var(--mixin-oV2OuOGaz07K_white-space);
  --mixin-Z226BNHiP0Mh_white-space: pre-wrap;
  --plasmic-mixin-box_white-space: var(--mixin-Z226BNHiP0Mh_white-space);
  --mixin-xKyFr016E9_5_white-space: pre-wrap;
  --plasmic-mixin-shimmer_white-space: var(--mixin-xKyFr016E9_5_white-space);
  --mixin-5eLyb6rEyNb7_white-space: pre-wrap;
  --plasmic-mixin-header-text_white-space: var(
    --mixin-5eLyb6rEyNb7_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-vbkdxLC3qPxP_font-family);
  font-size: var(--mixin-vbkdxLC3qPxP_font-size);
  font-weight: var(--mixin-vbkdxLC3qPxP_font-weight);
  font-style: var(--mixin-vbkdxLC3qPxP_font-style);
  color: var(--mixin-vbkdxLC3qPxP_color);
  text-align: var(--mixin-vbkdxLC3qPxP_text-align);
  text-transform: var(--mixin-vbkdxLC3qPxP_text-transform);
  line-height: var(--mixin-vbkdxLC3qPxP_line-height);
  letter-spacing: var(--mixin-vbkdxLC3qPxP_letter-spacing);
  white-space: var(--mixin-vbkdxLC3qPxP_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-PT3z_RFWTZBW_color);
  font-weight: var(--mixin-PT3z_RFWTZBW_font-weight);
  font-size: var(--mixin-PT3z_RFWTZBW_font-size);
  line-height: var(--mixin-PT3z_RFWTZBW_line-height);
  letter-spacing: var(--mixin-PT3z_RFWTZBW_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-RfTdIUToUuZN_color);
  font-size: var(--mixin-RfTdIUToUuZN_font-size);
  font-weight: var(--mixin-RfTdIUToUuZN_font-weight);
  letter-spacing: var(--mixin-RfTdIUToUuZN_letter-spacing);
  line-height: var(--mixin-RfTdIUToUuZN_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-lv98TBcyNb6v_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-sUM0nBb0lkjK_color);
  font-size: var(--mixin-sUM0nBb0lkjK_font-size);
  font-weight: var(--mixin-sUM0nBb0lkjK_font-weight);
  line-height: var(--mixin-sUM0nBb0lkjK_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-_4LX2SJ1lYGf_color);
  font-size: var(--mixin-_4LX2SJ1lYGf_font-size);
  font-weight: var(--mixin-_4LX2SJ1lYGf_font-weight);
  line-height: var(--mixin-_4LX2SJ1lYGf_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-35DqUu-RKjn4_font-family);
  border-radius: var(--mixin-35DqUu-RKjn4_border-top-left-radius)
    var(--mixin-35DqUu-RKjn4_border-top-right-radius)
    var(--mixin-35DqUu-RKjn4_border-bottom-right-radius)
    var(--mixin-35DqUu-RKjn4_border-bottom-left-radius);
  padding: var(--mixin-35DqUu-RKjn4_padding-top)
    var(--mixin-35DqUu-RKjn4_padding-right)
    var(--mixin-35DqUu-RKjn4_padding-bottom)
    var(--mixin-35DqUu-RKjn4_padding-left);
  border-top: var(--mixin-35DqUu-RKjn4_border-top-width)
    var(--mixin-35DqUu-RKjn4_border-top-style)
    var(--mixin-35DqUu-RKjn4_border-top-color);
  border-right: var(--mixin-35DqUu-RKjn4_border-right-width)
    var(--mixin-35DqUu-RKjn4_border-right-style)
    var(--mixin-35DqUu-RKjn4_border-right-color);
  border-bottom: var(--mixin-35DqUu-RKjn4_border-bottom-width)
    var(--mixin-35DqUu-RKjn4_border-bottom-style)
    var(--mixin-35DqUu-RKjn4_border-bottom-color);
  border-left: var(--mixin-35DqUu-RKjn4_border-left-width)
    var(--mixin-35DqUu-RKjn4_border-left-style)
    var(--mixin-35DqUu-RKjn4_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-D9YV1d5FvIYK_color);
  padding-left: var(--mixin-D9YV1d5FvIYK_padding-left);
  border-left: var(--mixin-D9YV1d5FvIYK_border-left-width)
    var(--mixin-D9YV1d5FvIYK_border-left-style)
    var(--mixin-D9YV1d5FvIYK_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ZWESXVtrBiqk_font-family);
  border-radius: var(--mixin-ZWESXVtrBiqk_border-top-left-radius)
    var(--mixin-ZWESXVtrBiqk_border-top-right-radius)
    var(--mixin-ZWESXVtrBiqk_border-bottom-right-radius)
    var(--mixin-ZWESXVtrBiqk_border-bottom-left-radius);
  padding: var(--mixin-ZWESXVtrBiqk_padding-top)
    var(--mixin-ZWESXVtrBiqk_padding-right)
    var(--mixin-ZWESXVtrBiqk_padding-bottom)
    var(--mixin-ZWESXVtrBiqk_padding-left);
  border-top: var(--mixin-ZWESXVtrBiqk_border-top-width)
    var(--mixin-ZWESXVtrBiqk_border-top-style)
    var(--mixin-ZWESXVtrBiqk_border-top-color);
  border-right: var(--mixin-ZWESXVtrBiqk_border-right-width)
    var(--mixin-ZWESXVtrBiqk_border-right-style)
    var(--mixin-ZWESXVtrBiqk_border-right-color);
  border-bottom: var(--mixin-ZWESXVtrBiqk_border-bottom-width)
    var(--mixin-ZWESXVtrBiqk_border-bottom-style)
    var(--mixin-ZWESXVtrBiqk_border-bottom-color);
  border-left: var(--mixin-ZWESXVtrBiqk_border-left-width)
    var(--mixin-ZWESXVtrBiqk_border-left-style)
    var(--mixin-ZWESXVtrBiqk_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-MxzEpgQmXKxT_display);
  flex-direction: var(--mixin-MxzEpgQmXKxT_flex-direction);
  align-items: var(--mixin-MxzEpgQmXKxT_align-items);
  justify-content: var(--mixin-MxzEpgQmXKxT_justify-content);
  list-style-position: var(--mixin-MxzEpgQmXKxT_list-style-position);
  padding-left: var(--mixin-MxzEpgQmXKxT_padding-left);
  position: var(--mixin-MxzEpgQmXKxT_position);
  list-style-type: var(--mixin-MxzEpgQmXKxT_list-style-type);
  column-gap: var(--mixin-MxzEpgQmXKxT_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-81Rquq3v07Ai_display);
  flex-direction: var(--mixin-81Rquq3v07Ai_flex-direction);
  align-items: var(--mixin-81Rquq3v07Ai_align-items);
  justify-content: var(--mixin-81Rquq3v07Ai_justify-content);
  list-style-position: var(--mixin-81Rquq3v07Ai_list-style-position);
  padding-left: var(--mixin-81Rquq3v07Ai_padding-left);
  position: var(--mixin-81Rquq3v07Ai_position);
  list-style-type: var(--mixin-81Rquq3v07Ai_list-style-type);
  column-gap: var(--mixin-81Rquq3v07Ai_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin--gCZT-z1FD11_color);
  font-size: var(--mixin--gCZT-z1FD11_font-size);
  font-weight: var(--mixin--gCZT-z1FD11_font-weight);
  line-height: var(--mixin--gCZT-z1FD11_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-mRUaWe2gM97y_color);
  font-size: var(--mixin-mRUaWe2gM97y_font-size);
  font-weight: var(--mixin-mRUaWe2gM97y_font-weight);
  line-height: var(--mixin-mRUaWe2gM97y_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-stfYSqGW8fY0_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
