.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-s6JDWwNdkMmO);
  font-family: var(--token-8ld_RqqV9anD);
  font-size: var(--token-ehIkf6s-dMLU);
  line-height: var(--token-tyha1eTxLLSq);
  width: 100%;
  column-gap: var(--token-gLYiSvxc94NR);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-I0Xtb9z7Q0X3);
  border: 2px solid var(--token-kDIwDSo33bsK);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-xZK-xLPCiE1W);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-xZK-xLPCiE1W);
  border-color: var(--token-xZK-xLPCiE1W);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-xZK-xLPCiE1W);
  border-color: var(--token-xZK-xLPCiE1W);
}
.svg__ait2B {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg__ait2B {
  display: block;
}
.svg___6XEb {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg___6XEb {
  display: block;
}
