.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: none;
  min-width: 0;
  padding: var(--token-rfsFxiclAtek);
  border-width: 0px;
}
.rootselect {
  background: var(--token-9M5jRUPt8Msb);
  height: auto;
  width: auto;
  justify-self: flex-start;
  display: inline-flex;
  border-radius: 50%;
  padding: var(--token-rfsFxiclAtek);
}
.rooticons_settings {
  padding: var(--token-D_3fp_JIDs1G);
}
.rooticons_user {
  padding: var(--token-D_3fp_JIDs1G);
}
.rooticons_home {
  padding: var(--token-D_3fp_JIDs1G);
}
.rooticons_settings_select {
  background: none;
}
.rooticons_user_select {
  background: none;
}
.rooticons_home_select {
  background: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  color: var(--token-9M5jRUPt8Msb);
  flex-shrink: 0;
}
.svgselect {
  width: 2rem;
  color: var(--token-Yo4gdKCgyuAu);
}
.svgicons_settings {
  color: var(--token-A-PNbaadkZKd);
}
.svgicons_user {
  color: var(--token-A-PNbaadkZKd);
}
.svgicons_home {
  color: var(--token-A-PNbaadkZKd);
}
.svgicons_supportive {
  display: none;
}
.svgicons_medical {
  display: none;
}
.svgicons_medicalcompletion {
  display: none;
}
.svgsize_max {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}
.svgcolor_dark {
  color: var(--token-KPGXdu9o7llP);
}
.svgicons_settings_select {
  box-shadow: none;
  color: var(--token-9M5jRUPt8Msb);
}
.svgicons_user_select {
  color: var(--token-9M5jRUPt8Msb);
}
.svgicons_home_select {
  color: var(--token-9M5jRUPt8Msb);
}
.svgsize_max_icons_rehabilitation {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  display: none;
}
.img > picture > img {
  object-fit: cover;
}
.imgicons_supportive {
  display: block;
}
.imgicons_medical {
  display: block;
}
.imgicons_medicalcompletion {
  display: block;
}
