.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  row-gap: 0px;
  padding: 0px;
}
.freeBox {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 3rem;
  min-width: 0;
  padding: 0px var(--token-kD77h-2NGSqI);
}
.freeBoxsize_small {
  column-gap: var(--token-rfsFxiclAtek);
  row-gap: 0px;
  padding: 0px;
}
.topic:global(.__wab_instance) {
  position: relative;
}
.topicsize_small:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text {
  animation: none;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  opacity: 0.2;
  left: auto;
  top: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-C6B6ZAuqICKE);
}
