.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-rfsFxiclAtek);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.rootback {
  background: none;
  box-shadow: none;
  row-gap: var(--token-I0Xtb9z7Q0X3);
  column-gap: 0px;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-gLYiSvxc94NR);
}
.freeBox {
  position: relative;
  max-width: 100%;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
}
.freeBoxback {
  width: auto;
  height: auto;
  max-width: 100%;
  background: linear-gradient(
    30deg,
    var(--token--ieHgGbFH1Fa) 0%,
    #6ead3c 100%
  );
  box-shadow: 0px 4px 16px 0px #1717174d;
  column-gap: 0px;
  row-gap: var(--token-I0Xtb9z7Q0X3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--token-rfsFxiclAtek);
  padding: var(--token-6F5DR5OsTPi0);
}
.menueIcon:global(.__wab_instance) {
  max-width: 100%;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-C6B6ZAuqICKE);
  min-width: 0;
}
.textback {
  font-size: var(--token-ehIkf6s-dMLU);
  white-space: pre;
  user-select: none;
}
