.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-s6JDWwNdkMmO);
  font-family: var(--token-8ld_RqqV9anD);
  font-size: var(--token-ehIkf6s-dMLU);
  line-height: var(--token-tyha1eTxLLSq);
  outline-style: none;
  border-radius: var(--token-6F5DR5OsTPi0);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-liD1vsX_5V6S);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-nqhafkqmXXhe);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-I0Xtb9z7Q0X3);
  outline-color: var(--token-xZK-xLPCiE1W);
  outline-offset: 1px;
}
.freeBox__n39Yq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2px;
  row-gap: var(--token-I0Xtb9z7Q0X3);
  min-width: 0;
  padding: var(--token-gLYiSvxc94NR) var(--token-UWj1h_kV6SQI);
}
.freeBox___7KEw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__soPue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-RbglYLRm6z6H);
  min-width: 0;
}
