.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-80wG4y4sryg5);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-xsiin-peP6fP);
  width: var(--token-xsiin-peP6fP);
  border-radius: 99px;
  border: 1px solid var(--token-xZK-xLPCiE1W);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-xZK-xLPCiE1W);
  outline-offset: 1px;
}
