.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-s6JDWwNdkMmO);
  font-family: var(--token-8ld_RqqV9anD);
  font-size: var(--token-ehIkf6s-dMLU);
  line-height: var(--token-tyha1eTxLLSq);
  width: 100%;
  column-gap: var(--token-gLYiSvxc94NR);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__mhm1M {
  display: flex;
  position: relative;
  width: var(--token-xsiin-peP6fP);
  height: var(--token-xsiin-peP6fP);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 99px;
  border: 2px solid var(--token-6Lhw5mK6wolF);
}
.ariaRadio[data-selected] .freeBox__mhm1M {
  background: none;
  border-width: 3px;
  border-color: var(--token-ee2TuxDknsJj);
}
.ariaRadio[data-focus-visible] .freeBox__mhm1M {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-xZK-xLPCiE1W);
  outline-width: 2px;
}
.freeBox___1P7Rh {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox___1P7Rh {
  width: var(--token-gLYiSvxc94NR);
  height: var(--token-gLYiSvxc94NR);
  background: var(--token-ee2TuxDknsJj);
  flex-shrink: 0;
  display: block;
}
